Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Windows Qt5 Build

Documentation:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  after_script:
  ...

Windows Qt5 Build:
  stage: build
  retry: 1
  before_script:
  - if (-Not (Test-Path C:\Development)) { New-Item -Path C:\Development -ItemType "directory" }
  - $env:WIRESHARK_BASE_DIR = "C:\Development"
  - $env:Configuration = "RelWithDebInfo"
  - $env:Path += ";C:\Program Files\CMake\bin"
  ...

Add a routine to report rename failures.
  capinfos.c
  captype.c
  dftest.c
  editcap.c
  extcap/androiddump.c
  fuzz/fuzzshark.c
  mergecap.c
  randpkt.c
  rawshark.c
  reordercap.c
  sharkd.c
  text2pcap.c
  tfshark.c
  tshark.c
  ui/failure_message.c
  ui/failure_message.h
  ui/logray/logray_main.cpp
  ui/qt/main.cpp
  wsutil/report_message.c
  wsutil/report_message.h
Due: Windows Qt5 Build

Add routines to register a bunch of report_message routines.
  capinfos.c
  captype.c
  dftest.c
  editcap.c
  extcap/androiddump.c
  fuzz/fuzzshark.c
  mergecap.c
  randpkt.c
  rawshark.c
  reordercap.c
  sharkd.c
  text2pcap.c
  tfshark.c
  tshark.c
  ui/alert_box.c
  ui/alert_box.h
  ui/failure_message.c
  ui/failure_message.h
  ui/logray/logray_main.cpp
  ui/qt/main.cpp
Due: Windows Qt5 Build

file: don't directly pop up alert boxes.
  file.c
Due: none

BLF: Treat zlib's Z_STREAM_ERROR as WTAP_ERR_INTERNAL
  wiretap/blf.c
Due: none

Zigbee ZCL: fix Discover Commands dissectors
  epan/dissectors/packet-zbee-zcl.c
  epan/dissectors/packet-zbee-zcl.h
Due: none

Qt: 6.8 deprecations
  ui/qt/bluetooth_att_server_attributes_dialog.cpp
  ui/qt/bluetooth_att_server_attributes_dialog.h
  ui/qt/manuf_dialog.cpp
  ui/qt/manuf_dialog.h
  ui/qt/models/voip_calls_info_model.cpp
  ui/qt/packet_dialog.cpp
  ui/qt/packet_dialog.h
  ui/qt/widgets/additional_toolbar.cpp
  ui/qt/widgets/additional_toolbar.h
Due: Windows Qt5 Build

alert_box: it uses ENOENT, so it needs to include <errno.h>.
  ui/alert_box.c
Due: Windows Qt5 Build

windows-common: fix mask value
  epan/dissectors/packet-windows-common.h
Due: none

gtpv2: Remove space between element name and colon
  epan/dissectors/packet-gtpv2.c
Due: none

TLS: Enable injection of exporter secrets
  ui/ssl_key_export.c
Due: Windows Qt5 Build

Don't try to use O_PATH when it's not available.
  ui/qt/utils/qt_ui_utils.cpp
Due: Windows Qt5 Build

capture: Disable interface monitor on Linux when getting caps
  CMakeLists.txt
  capture/capture_ifinfo.c
  capture/iface_monitor.c
  capture/iface_monitor.h
  ui/capture.c
  ui/qt/main_application.cpp
Due: Windows Qt5 Build

Falcodump+Falco bridge: Add falcosecurity-libs version checks
  CMakeLists.txt
  cmake/modules/FindSinsp.cmake
  cmakeconfig.h.in
  extcap/falcodump.cpp
  plugins/epan/falco_bridge/sinsp-span.cpp
Due: none

frame: Added Displayed Frame Number
  epan/dissectors/packet-frame.c
  epan/frame_data.c
  epan/frame_data.h
  file.c
  test/baseline/dhcp-asctime.json
  test/baseline/dhcp-raw.ek
  test/baseline/dhcp.ek
  test/baseline/dhcp.json
  test/baseline/dhcp.jsonraw
Due: none

QCustomPlot: Don't set -Werror on 3rd party code
  ui/qt/CMakeLists.txt
Due: Windows Qt5 Build

Test: Update README.test
  test/README.test
Due: none

DMP: Add a length check
  epan/dissectors/packet-dmp.c
Due: none

Qt: Parent some modal dialogs
  ui/logray/logray_main_window_slots.cpp
  ui/qt/wireshark_main_window_slots.cpp
Due: Windows Qt5 Build

Conversations: restrict the deinterlacing method to Ethernet wtap
  doc/wsug_src/wsug_customize.adoc
  epan/conversation.c
Due: none

epan: Add column for number displayed
  epan/column-utils.c
  epan/column-utils.h
  epan/column.c
  epan/dissectors/packet-frame.c
  epan/frame_data.c
  epan/wslua/wslua_column.c
  file.c
  test/baseline/dhcp-asctime.json
  test/baseline/dhcp-raw.ek
  test/baseline/dhcp.ek
  test/baseline/dhcp.json
  test/baseline/dhcp.jsonraw
  tfshark.c
  tshark.c
  ui/packet_list_utils.c
  ui/qt/models/packet_list_model.cpp
Due: Documentation, Windows Qt5 Build

sdp: Setup osmux conversation when detected
  epan/dissectors/CMakeLists.txt
  epan/dissectors/packet-gsm_osmux.c
  epan/dissectors/packet-gsm_osmux.h
  epan/dissectors/packet-sdp.c
Due: none

PFCP: add vendor specific IEs for BBF introduced by TR-459 issue 2
  epan/dissectors/packet-pfcp.c
Due: none

GitLab CI: Comment typo in .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

GitLab CI: Expand a comment
  .gitlab-ci.yml
Due: none

GitLab CI: We don't need to install glab
  .gitlab-ci.yml
Due: none

GitLab CI: Ignore glab failures
  .gitlab-ci.yml
Due: none

PFCP: fix decoding of BBF OuterHeaderCreation IE
  epan/dissectors/packet-pfcp.c
Due: none

Qt: Add a preference to force Color Scheme (Light/Dark Mode)
  epan/prefs.c
  epan/prefs.h
  ui/logray/logray_main.cpp
  ui/qt/font_color_preferences_frame.cpp
  ui/qt/font_color_preferences_frame.h
  ui/qt/font_color_preferences_frame.ui
  ui/qt/main.cpp
  ui/qt/main_application.cpp
  ui/qt/preferences_dialog.cpp
  ui/qt/utils/color_utils.cpp
  ui/qt/utils/color_utils.h
Due: Windows Qt5 Build

f5fileinfo: Update VELOS and rSeries platform identifiers
  epan/dissectors/packet-f5ethtrailer.c
Due: none

Prep for 4.4.1
  doc/release-notes.adoc
Due: none

Prep for 4.2.8
  doc/release-notes.adoc
Due: none

Path conditions:
  Documentation: any of: docbook/**/*, epan/wslua/**/*
  Windows Qt5 Build: any of: ui/**/*
