Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Ubuntu Qt5 Build

Documentation:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  after_script:
  ...

Ubuntu Qt5 Build:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  - useradd user
  - export LANG=en_US.UTF-8
  ...

Qt: Reverse our icon loading order
  ui/qt/utils/stock_icon.cpp
  ui/qt/wireshark_application.cpp
Due: Ubuntu Qt5 Build

dtls, tls: show the entire decrypted plaintext
  epan/dissectors/packet-dtls.c
  epan/dissectors/packet-tls-utils.c
  epan/dissectors/packet-tls-utils.h
  epan/dissectors/packet-tls.c
Due: none

asterix: dissector update
  epan/dissectors/packet-asterix-generated.h
  epan/dissectors/packet-asterix.c
  tools/asterix/generate_dissector.py
Due: none

PLDM: Add GetFirmwareParameters command
  epan/dissectors/packet-pldm.c
Due: none

Qt: Fixup icon loading
  resources/wsicon.qrc
  resources/wsicon_mac.qrc
  ui/qt/CMakeLists.txt
  ui/qt/main_application.cpp
  ui/qt/wireshark_application.cpp
Due: Ubuntu Qt5 Build

CFM: Fix linktrace reply ingress interface alias off by 1
  epan/dissectors/packet-cfm.c
Due: none

LLMNR: Request response tracking
  epan/dissectors/packet-dns.c
Due: none

SGP32: don't update column with fstr() and %s, just use str()
  epan/dissectors/asn1/sgp32/sgp32.cnf
  epan/dissectors/packet-sgp32.c
Due: none

headers: Fix already shipped public headers
  epan/aggregation_fields.h
  epan/asn1.h
  epan/dissectors/packet-gsm_osmux.h
  epan/dissectors/packet-rf4ce-secur.h
  epan/dissectors/packet-xmpp-utils.h
  epan/nghttp2_hd_huffman.h
  ui/packet_range.h
Due: Ubuntu Qt5 Build

headers: Include packet.h as <epan/packet.h> everywhere
  epan/addr_resolv.c
  epan/address_types.c
  epan/capture_dissectors.c
  epan/conversation.c
  epan/conversation.h
  epan/conversation_filter.c
  epan/decode_as.c
  epan/dissectors/asn1/atn-ulcs/packet-atn-ulcs-template.h
  epan/dissectors/asn1/pkcs12/packet-pkcs12-template.h
  epan/dissectors/packet-atn-ulcs.h
  epan/dissectors/packet-pkcs12.h
  epan/epan.c
  epan/expert.c
  epan/oids.c
  epan/packet.c
  epan/proto.c
Due: none

wiretap: Ship headers already referenced by shipped public headers
  wsutil/CMakeLists.txt
Due: none

headers: Fix already shipped public headers
  epan/asn1.h
  epan/dissectors/packet-gsm_osmux.h
  epan/dissectors/packet-rf4ce-secur.h
  epan/dissectors/packet-xmpp-utils.h
  epan/nghttp2_hd_huffman.h
  ui/packet_range.h
Due: Ubuntu Qt5 Build

H248: Const-ify some data structures.
  epan/dissectors/packet-h248_2.c
  epan/dissectors/packet-h248_annex_c.c
  epan/dissectors/packet-h248_annex_e.c
  epan/dissectors/packet-h248_q1950.c
Due: none

GitLab CI: Remove a no-longer-needed hack
  .gitlab-ci.yml
Due: none

CFM: Sender ID TLV wrong chassis ID length
  epan/dissectors/packet-cfm.c
Due: none

kafka: support DescribeClientQuotas and AlterClientQuotas
  epan/dissectors/packet-kafka.c
Due: none

Support Wi-SUN FAN 1.1 EDFE frame format
  epan/dissectors/packet-wisun.c
Due: none

Fix some spelling errors
  epan/addr_resolv.c
  epan/conversation.c
  epan/conversation_table.c
  epan/dfilter/dfilter-macro-uat.c
  epan/dissectors/packet-bacapp.c
  epan/dissectors/packet-dcerpc.c
  epan/dissectors/packet-dof.c
  epan/dissectors/packet-ieee80211.c
  epan/dissectors/packet-tls-utils.c
  epan/dissectors/packet-tls.c
  epan/ftypes/ftype-ieee-11073-float.c
  epan/funnel.c
  epan/in_cksum.c
  epan/osi-utils.c
  epan/packet.c
  epan/prefs.c
  epan/print_stream.c
  epan/proto.c
  epan/reassemble.c
  epan/reassemble_test.c
  epan/stream.c
  epan/tvbtest.c
  epan/tvbuff.c
  epan/wslua/wslua_dissector.c
  tools/wireshark_words.txt
  wiretap/blf.c
  wiretap/erf.c
  wiretap/file_access.c
  wiretap/file_wrappers.c
  wiretap/json_log.c
  wiretap/k12.c
  wiretap/libpcap.c
  wiretap/netmon.c
  wiretap/observer.h
  wiretap/pcap-common.c
  wiretap/pcapng.c
  wiretap/toshiba.c
  wiretap/ttl.c
  wiretap/visual.c
  wsutil/ws_assert.h
Due: Documentation

gsm_sim: Show length 0 as 256
  epan/dissectors/packet-gsm_sim.c
Due: none

GitLab CI: Build each of our RPMs with the same (non-)verbosity
  .gitlab-ci.yml
Due: none

ORAN FH CUS: Fix a couple of issues around beam-forming weights
  epan/dissectors/packet-oran.c
Due: none

GitLab CI: Fix pytest in the macOS Arm job
  .gitlab-ci.yml
Due: none

strato: Add missing initializers
  strato.c
Due: none

Prep for 4.4.10
  doc/release-notes.adoc
Due: Documentation

Prep for 4.2.14
  doc/release-notes.adoc
Due: Documentation

wiretap: Fix our JSON log timestamps
  wiretap/json_log.c
Due: none

SVCCTL: Update idl for GetServiceDisplayNameW and GetServiceKeyNameW
  epan/dissectors/packet-dcerpc-svcctl.c
  epan/dissectors/pidl/svcctl/svcctl.idl
Due: none

Path conditions:
  Documentation: any of: doc/**/*, epan/wslua/**/*
  Ubuntu Qt5 Build: any of: ui/**/*
