Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Ubuntu Qt5 Build

Documentation:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  after_script:
  ...

Ubuntu Qt5 Build:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  - useradd user
  - export LANG=en_US.UTF-8
  ...

MEGACO: Start to use unsigned versions of tvb_find...
  epan/dissectors/asn1/h248/packet-h248-template.c
  epan/dissectors/asn1/t38/packet-t38-template.c
  epan/dissectors/packet-h248.c
  epan/dissectors/packet-megaco.c
  epan/dissectors/packet-q931.c
  epan/dissectors/packet-t38.c
  epan/dissectors/packet-tpkt.c
  epan/dissectors/packet-tpkt.h
Due: none

MySQL: Fix random access dissection of frames with compression
  epan/dissectors/packet-mysql.c
Due: none

MCData: Add support for MCData protocol (3GPP TS 24.282)
  doc/Wireshark_Release_Notes.adoc
  epan/dissectors/CMakeLists.txt
  epan/dissectors/packet-mcdata.c
Due: Documentation

More double-fetch changes
  epan/dissectors/file-pcap.c
  epan/dissectors/file-pcapng.c
  epan/dissectors/packet-ansi_a.c
  epan/dissectors/packet-awdl.c
  epan/dissectors/packet-bssgp.c
  epan/dissectors/packet-btatt.c
  epan/dissectors/packet-btbredr_rf.c
  epan/dissectors/packet-bthci_cmd.c
  epan/dissectors/packet-bthci_evt.c
  epan/dissectors/packet-bthci_vendor_android.c
  epan/dissectors/packet-btl2cap.c
  epan/dissectors/packet-btle.c
  epan/dissectors/packet-btmesh-pbadv.c
  epan/dissectors/packet-btmesh-provisioning.c
  epan/dissectors/packet-btmesh.c
  epan/dissectors/packet-canopen.c
  epan/dissectors/packet-ccsds.c
  epan/dissectors/packet-cdp.c
  epan/dissectors/packet-ceph.c
  epan/dissectors/packet-cip.c
  epan/dissectors/packet-cipsafety.c
  epan/dissectors/packet-clnp.c
  epan/dissectors/packet-coap.c
  epan/dissectors/packet-couchbase.c
  epan/dissectors/packet-cpha.c
  epan/dissectors/packet-dcp-etsi.c
  epan/dissectors/packet-dect-mitel-rfp.c
  epan/dissectors/packet-dhcp.c
  epan/dissectors/packet-dhcpv6.c
  epan/dissectors/packet-dlt.c
  epan/dissectors/packet-dns.c
  epan/dissectors/packet-dsi.c
  epan/dissectors/packet-dxl.c
  epan/dissectors/packet-eapol.c
  epan/dissectors/packet-smpp.c
  epan/dissectors/packet-socks.c
  epan/dissectors/packet-srvloc.c
  tools/check_typed_item_calls.py
Due: none

MEGACO: Change a few calls to tvb_find_uint8 to tvb_find_uint8_length
  epan/dissectors/packet-megaco.c
Due: none

MySQL: Correctly decode pre-4.1 field packet
  epan/dissectors/packet-mysql.c
Due: none

packet-usb-hid.c: Replace proto_tree_add_uint_format use
  epan/dissectors/packet-usb-hid.c
Due: none

USB-HID: Bugfix resource exhaustion in parse_report_descriptor()
  epan/dissectors/packet-usb-hid.c
Due: none

tools: Just use `open` in our Python scripts
  tools/make-iana-constants.py
  tools/make-isobus.py
  tools/make-manuf.py
  tools/update-appdata.py
  tools/update-tools-help.py
Due: none

tools: Make a couple of scripts executable [skip ci]
  tools/detect_bad_alloc_patterns.py
  tools/msys2-setup.sh
Due: none

tools: handle commit messages from commit -v
  tools/validate-commit.py
Due: none

MEGACO: Replace more tvb_find_guint8()
  epan/dissectors/packet-megaco.c
Due: none

Qt: Consolidate and fix mainApplication pref handling
  ui/qt/main.cpp
  ui/qt/main_application.cpp
  ui/qt/preferences_dialog.cpp
  ui/stratoshark/stratoshark_main.cpp
Due: Ubuntu Qt5 Build

Replace all uses of tvb_find_uint16
  epan/dissectors/packet-h264.c
  epan/dissectors/packet-h265.c
  epan/dissectors/packet-hl7.c
  epan/dissectors/packet-nmea0183.c
  epan/dissectors/packet-sip.c
Due: none

MEGACO: Change tvb_find_uint8 to tvb_find_uin8_length
  epan/dissectors/packet-megaco.c
Due: none

packget-bgp.c: Fix bgp cluster-list dissector
  epan/dissectors/packet-bgp.c
Due: none

MCData: Check for a possible underflow
  epan/dissectors/packet-mcdata.c
Due: none

MAGACO: Fix typos, tvb_LBRKT used in stead of tvb_LBRKT_found
  epan/dissectors/packet-megaco.c
Due: none

DVB-S2-TABLE: Avoid some repeated fetches
  epan/dissectors/packet-dvb-s2-table.c
Due: none

Update tvb_find_line_end use in several dissectors
  epan/dissectors/packet-ssh.c
  epan/dissectors/packet-telnet.c
  epan/dissectors/packet-text-media.c
  epan/dissectors/packet-vpp.c
  epan/dissectors/packet-whois.c
  epan/dissectors/packet-x29.c
Due: none

Qt: Add Show Selected tooltip to Show Packet Bytes context menu
  ui/qt/show_packet_bytes_dialog.cpp
Due: Ubuntu Qt5 Build

QCDIAG introduction (under GSMTAP type QC_DIAG)
  doc/Wireshark_Release_Notes.adoc
  epan/dissectors/CMakeLists.txt
  epan/dissectors/packet-qcdiag.c
  epan/dissectors/packet-qcdiag.h
Due: Documentation

ICMP: Bugfix checksum validation for Interface Identification ICMP Extension Object
  epan/dissectors/packet-icmp.c
Due: none

TCAP: Add conversation filter
  epan/dissectors/asn1/tcap/packet-tcap-template.c
  epan/dissectors/packet-tcap.c
Due: none

Qt: Make the hex protocol background distinct on GTK platform theme
  ui/qt/widgets/hex_data_source_view.cpp
Due: Ubuntu Qt5 Build

wtap: re-export pcapng_module.h
  wiretap/CMakeLists.txt
Due: none

wtap: don't include "pcapng.h" in "pcapng_module.h"
  wiretap/pcapng_module.h
Due: none

tools: use relative path when setting up dev environment
  tools/setup-dev.sh
Due: none

Qt: Always update WelcomePage style sheet on ApplicationPaletteChange
  ui/qt/wireshark_main_window.cpp
  ui/stratoshark/stratoshark_main_window.cpp
Due: Ubuntu Qt5 Build

systemd-journal: Field names should end with '='
  epan/dissectors/packet-systemd-journal.c
Due: none

Qt: Enforce QMessageBox style with QProxyStyle instead of app stylesheet
  ui/qt/main_application.cpp
Due: Ubuntu Qt5 Build

ORAN FH CUS: Check for > 14 symbols addressed in one slot
  epan/dissectors/packet-oran.c
Due: none

Qt: Use Application attribute UseStyleSheetPropagationInWidgetStyles
  ui/qt/main_application.cpp
Due: Ubuntu Qt5 Build

CMake: Qt 6.10 requires macOS 13
  CMakeLists.txt
Due: none

Replace tvb_find_uint8() with unsigned variants and use unsigned offsets.
  epan/dissectors/asn1/z3950/packet-z3950-template.c
  epan/dissectors/file-jpeg.c
  epan/dissectors/file-png.c
  epan/dissectors/packet-ansi_a.c
  epan/dissectors/packet-dhcp.c
  epan/dissectors/packet-diameter_3gpp.c
  epan/dissectors/packet-dpnss.c
  epan/dissectors/packet-z3950.c
Due: none

Path conditions:
  Documentation: any of: doc/**/*, epan/wslua/**/*
  Ubuntu Qt5 Build: any of: ui/**/*
