Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Ubuntu Qt5 Build

Documentation:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  after_script:
  ...

Ubuntu Qt5 Build:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  - useradd user
  - export LANG=en_US.UTF-8
  ...

OSPF: Print "Auth Crypt Sequence Number" in hexadecimal
  epan/dissectors/packet-ospf.c
Due: none

Replace tvb_new_subset calls with simpler versions without -1
  epan/dissectors/asn1/its/its.cnf
  epan/dissectors/packet-c2p.c
  epan/dissectors/packet-do-irp.c
  epan/dissectors/packet-doip.c
  epan/dissectors/packet-erldp.c
  epan/dissectors/packet-extrememesh.c
  epan/dissectors/packet-gcsna.c
  epan/dissectors/packet-gsmtap.c
  epan/dissectors/packet-iec104.c
  epan/dissectors/packet-ieee802154.c
  epan/dissectors/packet-isl.c
  epan/dissectors/packet-its.c
  epan/dissectors/packet-log3gpp.c
  epan/dissectors/packet-oran.c
  epan/dissectors/packet-rtps-virtual-transport.c
  epan/dissectors/packet-s7comm.c
  epan/dissectors/packet-uds.c
  epan/dissectors/packet-wassp.c
  epan/dissectors/packet-wifi-nan.c
Due: none

extcap_example.py: Remove broken example code
  doc/extcap_example.py
Due: Documentation

Convert some tvb_new_subset_length_caplen -> tvb_new_subset_length
  epan/dissectors/packet-bthci_acl.c
  epan/dissectors/packet-bthci_iso.c
  epan/dissectors/packet-btl2cap.c
  epan/dissectors/packet-componentstatus.c
  epan/dissectors/packet-dcerpc-eventlog.c
  epan/dissectors/packet-dect-dlc.c
  epan/dissectors/packet-eap.c
  epan/dissectors/packet-fcoe.c
  epan/dissectors/packet-fcp.c
  epan/dissectors/packet-h264.c
  epan/dissectors/packet-hiqnet.c
  epan/dissectors/packet-iec104.c
  epan/dissectors/packet-ieee8023.c
  epan/dissectors/packet-isl.c
  epan/dissectors/packet-isup.c
  epan/dissectors/pidl/eventlog/eventlog.cnf
Due: none

EPMD: parse node list in ALIVE/NAMES responses correctly
  epan/dissectors/packet-epmd.c
Due: none

CMake+Windows: Update WinSparkle to 0.9.2
  cmake/modules/FetchArtifacts.cmake
  cmake/modules/FindWinSparkle.cmake
Due: none

peektagged: Increase maximum section size
  wiretap/peektagged.c
Due: none

epan: Remove final "application flavor" API
  dftest.c
  epan/epan.c
  epan/epan.h
  fuzz/fuzzshark.c
  rawshark.c
  sharkd.c
  strato.c
  tfshark.c
  tshark.c
  ui/qt/main.cpp
  ui/stratoshark/stratoshark_main.cpp
Due: Ubuntu Qt5 Build

MySQL: Fix parsing PREPARE STATEMENT responses from MySQL 4.1 servers
  epan/dissectors/packet-mysql.c
Due: none

nettrace_3gpp_32_423: accept rawMsg packet without any payload
  wiretap/nettrace_3gpp_32_423.c
Due: none

TrueConf: add new dissector
  doc/Wireshark_Release_Notes.adoc
  epan/dissectors/CMakeLists.txt
  epan/dissectors/packet-trueconf.c
Due: Documentation

Register tap listeners within epan_init()
  dftest.c
  epan/epan.c
  epan/epan.h
  epan/tap.c
  epan/tap.h
  fuzz/fuzzshark.c
  rawshark.c
  sharkd.c
  strato.c
  tfshark.c
  tshark.c
  ui/qt/main.cpp
  ui/stratoshark/stratoshark_main.cpp
Due: Ubuntu Qt5 Build

LLRP: Add support for ImpinjRFDopplerFrequency parameter
  epan/dissectors/packet-llrp.c
Due: none

Convert more tvb_new_subset_length_caplen -> tvb_new_subset_length
  epan/dissectors/asn1/ldap/packet-ldap-template.c
  epan/dissectors/packet-h264.c
  epan/dissectors/packet-kink.c
  epan/dissectors/packet-ldap.c
  epan/dissectors/packet-mle.c
  epan/dissectors/packet-nas_eps.c
  epan/dissectors/packet-ndmp.c
  epan/dissectors/packet-negoex.c
  epan/dissectors/packet-nfs.c
  epan/dissectors/packet-pana.c
  epan/dissectors/packet-pdu-transport.c
  epan/dissectors/packet-reload-framing.c
  epan/dissectors/packet-rpl.c
  epan/dissectors/packet-rsvd.c
  epan/dissectors/packet-s5066sis.c
  epan/dissectors/packet-scsi.c
  epan/dissectors/packet-sctp.c
  epan/dissectors/packet-smb.c
  epan/dissectors/packet-smb2.c
  epan/dissectors/packet-synphasor.c
  epan/dissectors/packet-turbocell.c
  epan/dissectors/packet-usb-video.c
Due: none

ORAN FH CUS: Add pref to ignore UL C-Plane udCompHdr settings
  epan/dissectors/packet-oran.c
Due: none

brdwlk: Fix a field size (and signed overflow)
  epan/dissectors/packet-brdwlk.c
  epan/dissectors/packet-fc.c
Due: none

Check that value_string values are ascending
  epan/dissectors/packet-acdr.c
  epan/dissectors/packet-bgp.c
  epan/dissectors/packet-bittorrent.c
  epan/dissectors/packet-cip.c
  epan/dissectors/packet-cip.h
  epan/dissectors/packet-hiqnet.c
  epan/dissectors/packet-ieee80211.c
  epan/dissectors/packet-ndmp.c
  tools/check_typed_item_calls.py
Due: none

More tvb_new_subset_length_caplen -> tvb_new_subset_length
  epan/dissectors/packet-9p.c
  epan/dissectors/packet-btmesh-proxy.c
  epan/dissectors/packet-cpfi.c
  epan/dissectors/packet-dcerpc-lsa.c
  epan/dissectors/packet-dcerpc.c
  epan/dissectors/packet-ieee802154.c
  epan/dissectors/packet-iscsi.c
  epan/dissectors/packet-lapdm.c
  epan/dissectors/packet-mgcp.c
  epan/dissectors/packet-mle.c
  epan/dissectors/packet-mtp2.c
  epan/dissectors/packet-nordic_ble.c
  epan/dissectors/packet-opa.c
  epan/dissectors/packet-rftap.c
  epan/dissectors/packet-sip.c
  epan/dissectors/packet-x11.c
  epan/dissectors/pidl/lsa/lsa.cnf
Due: none

Fix Ethernet CFM BNM PDU dissection
  epan/dissectors/packet-cfm.c
Due: none

ISOBUS VT: Fix UTF-16 endianness
  epan/dissectors/packet-isobus-vt.c
Due: none

value_string_ext: make some uses choose VS_INDEX
  epan/dissectors/packet-netlink.c
  epan/dissectors/packet-oran.c
  epan/dissectors/packet-ptpip.c
  epan/dissectors/packet-rsvp.c
  epan/dissectors/packet-wsp.c
  tools/check_typed_item_calls.py
Due: none

.gitlab-ci.yml: Add ruff (Py linter) to Commit Check
  .gitlab-ci.yml
Due: none

nettrace_3gpp_32_423: Don't print libxml2 errors on OPEN_NOT_MINE
  wiretap/nettrace_3gpp_32_423.c
Due: none

IPv4: Add Expert Info when Reserved flag bit is set
  epan/dissectors/packet-ip.c
Due: none

Fix DCE/RPC Decode As so it no longer crashes
  epan/dissectors/packet-dcerpc.c
  ui/qt/models/decode_as_delegate.cpp
  ui/qt/models/decode_as_model.cpp
  ui/qt/models/decode_as_model.h
Due: Ubuntu Qt5 Build

FCOE: Don't allow the frame_len to be negative
  epan/dissectors/packet-fcoe.c
Due: none

RTTrP: add dissector
  doc/Wireshark_Release_Notes.adoc
  epan/dissectors/CMakeLists.txt
  epan/dissectors/packet-rttrp.c
Due: Documentation

More tvb_new_subset_length_caplen conversion
  epan/dissectors/packet-bt-utp.c
  epan/dissectors/packet-dof.c
  epan/dissectors/packet-epl.c
  epan/dissectors/packet-fip.c
  epan/dissectors/packet-gsm_um.c
  epan/dissectors/packet-h223.c
  epan/dissectors/packet-ipmi-session.c
  epan/dissectors/packet-ldp.c
  epan/dissectors/packet-mbtcp.c
  epan/dissectors/packet-meta.c
  epan/dissectors/packet-nb_rtpmux.c
  epan/dissectors/packet-ncp.c
  epan/dissectors/packet-nsip.c
  epan/dissectors/packet-pw-cesopsn.c
  epan/dissectors/packet-reload.c
  epan/dissectors/packet-tpkt.c
  epan/dissectors/packet-turnchannel.c
  epan/dissectors/packet-usbms-bot.c
  epan/dissectors/packet-usbms-uasp.c
  epan/dissectors/packet-zbee-nwk-gp.c
Due: none

DCE/RPC: Cleanup proto_tree_add_guid_format use
  epan/dissectors/packet-dcerpc.c
Due: none

Qt: ExportObjectDialog does not need to be Application Modal
  ui/qt/wireshark_main_window_slots.cpp
Due: Ubuntu Qt5 Build

GitLab CI: Let the macOS Build job fail for now
  .gitlab-ci.yml
Due: none

Path conditions:
  Documentation: any of: doc/**/*, epan/wslua/**/*
  Ubuntu Qt5 Build: any of: ui/**/*
