Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Windows Qt5 Build

Documentation:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  after_script:
  ...

Windows Qt5 Build:
  stage: build
  retry: 1
  before_script:
  - if (-Not (Test-Path C:\Development)) { New-Item -Path C:\Development -ItemType "directory" }
  - $env:WIRESHARK_BASE_DIR = "C:\Development"
  - $env:Configuration = "RelWithDebInfo"
  - $env:Path += ";C:\Program Files\CMake\bin"
  ...

Update NGHTTP3 package.
  tools/win-setup.ps1
Due: none

sequence_analysis: Free the rtpstream_info in the info_ptr
  epan/sequence_analysis.c
  epan/sequence_analysis.h
  ui/voip_calls.c
Due: Windows Qt5 Build

PTPv2: Add support for authentication TLV
  epan/dissectors/packet-ptp.c
Due: none

usb-ptp: Fix decoder not working after URB<->conversation data split
  epan/dissectors/packet-usb-ptp.c
Due: none

Qt: Check if mainWindow() returns a nullptr in DisplayFilterEdit
  ui/qt/widgets/display_filter_edit.cpp
Due: Windows Qt5 Build

voip_calls: Make q931_call[ing|ed] number a local const char*
  ui/voip_calls.c
  ui/voip_calls.h
Due: Windows Qt5 Build

Corrected Lua uat type preference unload.
  epan/wslua/wslua_pref.c
Due: Documentation

h225: avoid format truncation warnings
  epan/dissectors/asn1/h225/h225.cnf
  epan/dissectors/asn1/h225/packet-h225-template.c
  epan/dissectors/asn1/h225/packet-h225-template.h
  epan/dissectors/packet-h225.c
  epan/dissectors/packet-h225.h
Due: none

wslua: Free ProgDlg title and task when garbage collecting.
  epan/wslua/wslua_gui.c
Due: Documentation

SDP+RSTP: Handle when determining the absolute URI fails
  epan/dissectors/packet-sdp.c
Due: none

Show related packet delegate on the first visible column
  ui/qt/packet_list.cpp
  ui/qt/packet_list.h
  ui/qt/widgets/packet_list_header.cpp
Due: Windows Qt5 Build

etypes: Add Allied Telesis AMF
  epan/dissectors/packet-ethertype.c
  epan/etypes.h
Due: none

spnego: handle the IAKerb realm discovery start without any krb5 payload
  epan/dissectors/asn1/spnego/packet-spnego-template.c
  epan/dissectors/packet-spnego.c
Due: none

Qt: Suppress a GCC false positive
  ui/qt/models/timeline_delegate.cpp
Due: Windows Qt5 Build

tls: fix dissection of decrypted handshake messages
  epan/dissectors/packet-tls.c
Due: none

dot11decrypt: Don't call strlen until after the null checks
  epan/crypt/dot11decrypt_util.c
Due: none

rdp: adjust info column display for multiple messages
  epan/dissectors/packet-rdp_cliprdr.c
  epan/dissectors/packet-rdp_dr.c
Due: none

rdp_drdynvc: various changes in the info column display
  epan/dissectors/packet-rdp_drdynvc.c
Due: none

rdp_rail: add new commands and fix display of multiple messages
  epan/dissectors/packet-rdp_rail.c
Due: none

rdp_egfx: various dissector improvements
  epan/dissectors/packet-rdp_egfx.c
Due: none

rdp: various display improvements
  epan/dissectors/packet-rdp.c
Due: none

http3: dissection of QPACK decoder instruction stream
  epan/dissectors/packet-http3.c
Due: none

wslua: Extended Lua get_preference(preference) with uat type preference.
  epan/wslua/wslua_utility.c
  test/lua/util.lua
Due: Documentation

adb: Add null check
  epan/dissectors/packet-adb.c
Due: none

BT-DHT: Fix a null check
  epan/dissectors/packet-bt-dht.c
Due: none

NAS 5GS: update n1SmInfoFromUe and n1SmInfoToUe
  epan/dissectors/packet-nas_5gs.c
Due: none

snort: Prevent format truncation warning
  epan/dissectors/packet-snort.c
Due: none

tap-iostat: Start separating iostat_draw into some static functions
  ui/cli/tap-iostat.c
Due: Windows Qt5 Build

Clear out dissectors attempts to import old prefs into UATs
  epan/dissectors/packet-dtls.c
  epan/dissectors/packet-radius.c
  epan/dissectors/packet-tls.c
  epan/prefs.c
  epan/prefs.h
Due: none

tap-iostat: Print column filters in a separate static function
  ui/cli/tap-iostat.c
Due: Windows Qt5 Build

UAT: Make help button work all the time
  epan/uat.c
  epan/uat.h
Due: none

Fix buffer overrun when applying prefs with command line prefs present
  ui/commandline.c
Due: Windows Qt5 Build

nstime: Add functions to round to a certain precision
  wsutil/nstime.c
  wsutil/nstime.h
Due: none

Address a handful of python warnings
  tools/check_typed_item_calls.py
  tools/make-iana-ip.py
  tools/make-packet-dcm.py
  tools/make-version.py
  tools/make-wsluarm.py
  tools/pkt-from-core.py
  tools/sharkd_shell.py
  tools/wireshark_gen.py
Due: none

Path conditions:
  Documentation: any of: docbook/**/*, epan/wslua/**/*
  Windows Qt5 Build: any of: ui/**/*
