Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Windows Qt5 Build

Documentation:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  after_script:
  ...

Windows Qt5 Build:
  stage: build
  retry: 1
  before_script:
  - if (-Not (Test-Path C:\Development)) { New-Item -Path C:\Development -ItemType "directory" }
  - $env:WIRESHARK_BASE_DIR = "C:\Development"
  - $env:Configuration = "RelWithDebInfo"
  - $env:Path += ";C:\Program Files\CMake\bin"
  ...

epan: Reduce memory consumption with hostname lookups off
  epan/addr_resolv.c
  epan/addr_resolv.h
  epan/address_types.c
  epan/dissectors/packet-ip.c
  epan/dissectors/packet-ipv6.c
Due: none

Diameter: Dissect User-Name as IMSI on SWx interface
  epan/dissectors/packet-diameter.c
Due: none

btavdtp: Fix displaying LDAC high frequencies
  epan/dissectors/packet-btavdtp.c
Due: none

btavdtp: Dissect A2DP configuration for Opus vendor codec
  epan/dissectors/packet-btavdtp.c
Due: none

btavdtp: Display unknown vendor values as bytes
  epan/dissectors/packet-btavdtp.c
Due: none

eap: Dissect some attributes
  epan/dissectors/packet-eap.c
Due: none

SMB2: Display the number of files found
  epan/dissectors/packet-smb2.c
Due: none

packet-cql.c: fix parsing of Prepared result, unify more code with Rows result
  epan/dissectors/packet-cql.c
Due: none

CMake: Rename Logray variables to Stratoshark
  .github/workflows/macos-logray.yml
  .gitlab-ci.yml
  CMakeLists.txt
  CMakeOptions.txt
  cmake/modules/WiresharkPlugin.cmake
  doc/CMakeLists.txt
  doc/logray-quick-start.adoc
  packaging/debian/rules
  packaging/nsis/CMakeLists.txt
  plugins/epan/falco_bridge/CMakeLists.txt
Due: none

Rename the Logray source files to Stratoshark
  CMakeLists.txt
  ui/stratoshark/CMakeLists.txt
  ui/stratoshark/stratoshark_application.cpp
  ui/stratoshark/stratoshark_application.h
  ui/stratoshark/stratoshark_en.ts
  ui/stratoshark/stratoshark_main.cpp
  ui/stratoshark/stratoshark_main_window.cpp
  ui/stratoshark/stratoshark_main_window.h
  ui/stratoshark/stratoshark_main_window.ui
  ui/stratoshark/stratoshark_main_window_slots.cpp
Due: Windows Qt5 Build

Start renaming Logray to Stratoshark
  CMakeLists.txt
  ui/stratoshark/CMakeLists.txt
  ui/stratoshark/i18n.qrc.in
  ui/stratoshark/logray_application.cpp
  ui/stratoshark/logray_application.h
  ui/stratoshark/logray_en.ts
  ui/stratoshark/logray_main.cpp
  ui/stratoshark/logray_main_window.cpp
  ui/stratoshark/logray_main_window.h
  ui/stratoshark/logray_main_window.ui
  ui/stratoshark/logray_main_window_slots.cpp
Due: Windows Qt5 Build

wsutil: Rename the Logray configuration namespace to Stratoshark
  extcap/falcodump.cpp
  ui/stratoshark/stratoshark_main.cpp
  wsutil/filesystem.c
Due: Windows Qt5 Build

docs: Update the Stratoshark quick start
  doc/stratoshark-quick-start.adoc
Due: none

ui: More Logray → Stratoshark
  ui/qt/about_dialog.cpp
  ui/qt/capture_file_properties_dialog.cpp
  ui/qt/welcome_page.cpp
  ui/software_update.c
  ui/stratoshark/stratoshark_main_window.ui
Due: Windows Qt5 Build

docs: Rename the Logray quick start to Stratoshark
  doc/stratoshark-quick-start.adoc
Due: none

Stratoshark: Rename Logray* classes to Stratoshark*
  ui/stratoshark/stratoshark_application.cpp
  ui/stratoshark/stratoshark_application.h
  ui/stratoshark/stratoshark_en.ts
  ui/stratoshark/stratoshark_main.cpp
  ui/stratoshark/stratoshark_main_window.cpp
  ui/stratoshark/stratoshark_main_window.h
  ui/stratoshark/stratoshark_main_window.ui
  ui/stratoshark/stratoshark_main_window_slots.cpp
Due: Windows Qt5 Build

docs: More Logray → Stratoshark renaming
  doc/CMakeLists.txt
  doc/attributes.adoc
  doc/man_pages/extcap.adoc
  doc/man_pages/falcodump.adoc
Due: none

gsm_sim: Slice off the status word before dissecting command
  epan/dissectors/packet-gsm_sim.c
Due: none

AppImage: Start renaming Logray to Stratoshark
  CMakeLists.txt
  packaging/appimage/Stratoshark-AppRun.in
Due: none

macOS: Start renaming Logray to Stratoshark
  CMakeLists.txt
  packaging/macosx/LograyInfo.plist.in
  packaging/macosx/Stratoshark.icns
  packaging/macosx/Stratoshark_dsym_installation.adoc
  packaging/macosx/Stratoshark_read_me_first.adoc
  packaging/macosx/osx-dmg.sh.in
  packaging/macosx/ssiconvol.icns
  packaging/macosx/ssiconvol.svg
  packaging/macosx/stratoshark-app.dmgbuild.in
  packaging/macosx/stratoshark-dsym.dmgbuild.in
Due: none

More Logray → Stratoshark renaming
  cmakeconfig.h.in
  epan/column.c
  epan/wslua/wslua_gui.c
  plugins/epan/falco_bridge/packet-falco-bridge.c
  tools/macos-setup-brew.sh
  tools/update-tx
  tools/wireshark_words.txt
  wsutil/console_win32.c
  wsutil/version_info.h
Due: Documentation

macOS: Update the Stratoshark DMG documentation
  packaging/macosx/Stratoshark_dsym_installation.adoc
  packaging/macosx/Stratoshark_read_me_first.adoc
Due: none

resources: Rename our Logray icons to Stratoshark
  CMakeLists.txt
  packaging/nsis/stratoshark.nsi
  resources/README.adoc
  resources/icons/ssicon.svg
  resources/icons/ssicon1024.png
  resources/icons/ssicon128.png
  resources/icons/ssicon16.png
  resources/icons/ssicon256.png
  resources/icons/ssicon32.png
  resources/icons/ssicon48.png
  resources/icons/ssicon512.png
  resources/icons/ssicon64.png
  resources/icons/ssiconcap1024.png
  resources/icons/ssiconcap128.png
  resources/icons/ssiconcap16.png
  resources/icons/ssiconcap256.png
  resources/icons/ssiconcap32.png
  resources/icons/ssiconcap48.png
  resources/icons/ssiconcap512.png
  resources/icons/ssiconcap64.png
  resources/icons/ssiconinst.svg
  resources/icons/ssiconinst1024.png
  resources/icons/ssiconinst128.png
  resources/icons/ssiconinst16.png
  resources/icons/ssiconinst256.png
  resources/icons/ssiconinst32.png
  resources/icons/ssiconinst48.png
  resources/icons/ssiconinst512.png
  resources/icons/ssiconinst64.png
  resources/icons/stratoshark.ico
  resources/icons/stratosharkinst.ico
  resources/logray.rc.in
  resources/ssicon.qrc
  ui/stratoshark/stratoshark_application.cpp
  ui/stratoshark/stratoshark_main_window.ui
Due: Windows Qt5 Build

CMake: Change a few Logray variable names to Stratoshark
  CMakeLists.txt
Due: none

tools: Update a comment in macos-setup-brew.sh
  tools/macos-setup-brew.sh
Due: none

NSIS: Start renaming Logray to Stratoshark
  packaging/nsis/CMakeLists.txt
  packaging/nsis/stratoshark-additional-tasks.nsddef
  packaging/nsis/stratoshark-additional-tasks.nsdinc
  packaging/nsis/stratoshark-common.nsh
  packaging/nsis/stratoshark-config.nsh.in
  packaging/nsis/stratoshark.nsi
  resources/logray.exe.manifest.in
Due: none

resources+Qt: Rename lricon.qrc to ssicon.qrc
  resources/ssicon.qrc
  ui/stratoshark/CMakeLists.txt
  ui/stratoshark/stratoshark_application.cpp
Due: Windows Qt5 Build

CMake: Don't create unneeded directories
  CMakeLists.txt
Due: none

Qt: add new column as type Custom in Column Preferences
  ui/qt/models/column_list_model.cpp
Due: Windows Qt5 Build

macOS: Update some dmgbuild variable names
  packaging/macosx/stratoshark-app.dmgbuild.in
  packaging/macosx/stratoshark-dsym.dmgbuild.in
Due: none

wsutil: Rename a version info routine
  ui/qt/about_dialog.cpp
  ui/qt/capture_file_properties_dialog.cpp
  ui/qt/welcome_page.cpp
  ui/stratoshark/stratoshark_main_window.cpp
  wsutil/version_info.c
  wsutil/version_info.h
Due: Windows Qt5 Build

SMB2: Fix a null pointer dereference
  epan/dissectors/packet-smb2.c
Due: none

ENIP/CIP I/O: Register the ENIP encapsulation of CIP I/O to ENIP
  epan/dissectors/packet-enip.c
Due: none

packet-iuup: Add header file packet-iuup.h
  epan/dissectors/CMakeLists.txt
  epan/dissectors/packet-iuup.c
  epan/dissectors/packet-iuup.h
Due: none

rtp_media: Make decode_rtp_packet_payload() static
  ui/rtp_media.c
  ui/rtp_media.h
Due: Windows Qt5 Build

rtp_media: Support playback of RTP/IuUP/AMR(-NB) packets
  epan/dissectors/packet-amr.h
  epan/dissectors/packet-iuup.h
  ui/qt/rtp_audio_stream.cpp
  ui/rtp_media.c
Due: Windows Qt5 Build

packet-amr: Drop struct amr_oa_hdr definition
  epan/dissectors/packet-amr.h
Due: none

rtp_media: Refactor rtp_decoder_t creation and lookup
  ui/rtp_media.c
Due: Windows Qt5 Build

Path conditions:
  Documentation: any of: docbook/**/*, epan/wslua/**/*
  Windows Qt5 Build: any of: ui/**/*
