Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Ubuntu Qt5 Build

Path conditions:
  Documentation: any of: doc/**/*, epan/wslua/**/*
  Ubuntu Qt5 Build: any of: ui/**/*

Qt: Add a function to convert e_guid_t to QUuid, and use it
  ui/qt/rpc_service_response_time_dialog.cpp
  ui/qt/rpc_service_response_time_dialog.h
  ui/qt/utils/qt_ui_utils.cpp
  ui/qt/utils/qt_ui_utils.h
Due: Ubuntu Qt5 Build

WSDG: fix a tpyo.
  doc/wsdg_src/wsdg_quick_setup.adoc
Due: Documentation

exported_pdu: Always add column strings
  epan/dissectors/packet-exported_pdu.c
Due: none

tools: Fix CI pre-commit hook and validate-commit syntax error
  tools/pre-commit
  tools/validate-commit.py
Due: none

tools: add setup dev hooks and codecheck
  .gitlab-ci.yml
  .gitmessage
  doc/wsdg_src/wsdg_quick_setup.adoc
  tools/git_hooks/commit-codecheck
  tools/git_hooks/commit-msg
  tools/git_hooks/pre-commit
  tools/pre-commit
  tools/setup-dev.ps1
  tools/setup-dev.sh
  tools/validate-commit.py
Due: Documentation

tools: Improve setup-dev script output formatting and UX
  tools/setup-dev.ps1
  tools/setup-dev.sh
Due: none

Fix german text in gitignore
  .gitignore
Due: none

tools: Add AI usage disclosure and configure commit template
  .gitignore
  .gitlab-ci.yml
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/FeatureRequest.md
  .gitlab/issue_templates/Websites.md
  .gitmessage
  CONTRIBUTING.md
  doc/wsdg_src/wsdg_sources.adoc
  doc/wsug_src/wsug_introduction.adoc
  tools/commit-msg
  tools/git_hooks/commit-msg
  tools/git_hooks/pre-commit
  tools/pre-commit
  tools/setup-dev.sh
Due: Documentation

HTTP/3: Fix prefixed integer handling
  epan/dissectors/packet-http3.c
Due: none

QUIC: Update reassembly ID for a new MSP
  epan/dissectors/packet-quic.c
Due: none

bt-dht: decode version field
  epan/dissectors/packet-bt-dht.c
Due: none

ORAN FH CUS: When working out SE6+SE11, stop when all PRBs covered
  epan/dissectors/packet-oran.c
Due: none

Windows: Icon updates
  CMakeLists.txt
  ConfigCPack.cmake
  packaging/nsis/wireshark.nsi
  packaging/portableapps/CMakeLists.txt
  packaging/wix/banner.bmp
  packaging/wix/banner.svg
  packaging/wix/dialog.bmp
  packaging/wix/dialog.svg
  resources/README.adoc
  resources/icons/wireshark.ico
  resources/icons/wiresharkcapture.ico
  resources/icons/wiresharkinst.ico
  resources/icons/wsicon128.png
  resources/icons/wsicon16.png
  resources/icons/wsicon24.png
  resources/icons/wsicon256.png
  resources/icons/wsicon32.png
  resources/icons/wsicon48.png
  resources/icons/wsicon64.png
  resources/icons/wsiconcap128.png
  resources/icons/wsiconcap16.png
  resources/icons/wsiconcap24.png
  resources/icons/wsiconcap256.png
  resources/icons/wsiconcap32.png
  resources/icons/wsiconcap48.png
  resources/icons/wsiconcap64.png
  resources/icons/wsiconinst128.png
  resources/icons/wsiconinst16.png
  resources/icons/wsiconinst24.png
  resources/icons/wsiconinst256.png
  resources/icons/wsiconinst32.png
  resources/icons/wsiconinst48.png
  resources/icons/wsiconinst64.png
  resources/wsicon.qrc
Due: none

macOS: Remove some old icon assets
  resources/icons/StratosharkCap.iconset/icon_128x128.png
  resources/icons/StratosharkCap.iconset/icon_128x128@2x.png
  resources/icons/StratosharkCap.iconset/icon_16x16.png
  resources/icons/StratosharkCap.iconset/icon_16x16@2x.png
  resources/icons/StratosharkCap.iconset/icon_256x256.png
  resources/icons/StratosharkCap.iconset/icon_256x256@2x.png
  resources/icons/StratosharkCap.iconset/icon_32x32.png
  resources/icons/StratosharkCap.iconset/icon_32x32@2x.png
  resources/icons/StratosharkCap.iconset/icon_512x512.png
  resources/icons/StratosharkCap.iconset/icon_512x512@2x.png
Due: none

tools: Note that you can auto-close issues in the commit message template
  .gitmessage
Due: none

SOME/IP-SD: Fix a buffer overflow
  epan/dissectors/packet-someip-sd.c
Due: none

SOMEIP/SD: Don't yell at the user
  epan/dissectors/packet-someip-sd.c
Due: none

MaxMindDB: Ensure that the maps are created on init
  epan/maxmind_db.c
Due: none

Release notes: Add an item about the new application icon
  doc/Wireshark_Release_Notes.adoc
Due: Documentation

QUIC: Add notification about where stream segments are reassembled
  epan/dissectors/packet-quic.c
Due: none

ISAKMP: Add support of IKETCP (RFC9329)
  epan/dissectors/packet-isakmp.c
Due: none

NAS 5GS: fix extended CAG information list dissection
  epan/dissectors/packet-nas_5gs.c
Due: none

Fix Ixia/Keysight netflow field session-ip-scrambling-key-hash
  epan/dissectors/packet-netflow.c
Due: none

ORAN FH CUS: Tap compression method + width
  epan/dissectors/packet-oran.c
  epan/dissectors/packet-oran.h
  ui/cli/tap-oran.c
Due: Ubuntu Qt5 Build

Qt: Don't compute the scroll minimap while packet list is frozen
  ui/qt/packet_list.cpp
Due: Ubuntu Qt5 Build

Lua: Use memcmp in Tvb::eq
  epan/wslua/wslua_tvb.c
Due: Documentation

epan: Use ensure_contiguous_unsigned in a few places
  epan/tvbuff.c
Due: none

epan: HPACK Huffman encoding unsigned offset, length
  epan/dissectors/packet-http3.c
  epan/tvbuff.h
  epan/tvbuff_hpackhuff.c
Due: none

Change to expert_remaining and unsigned offsets
  epan/dissectors/packet-eiss.c
  epan/dissectors/packet-fcfzs.c
  epan/dissectors/packet-ftdi-ft.c
  epan/dissectors/packet-git.c
  epan/dissectors/packet-grpc.c
  epan/dissectors/packet-gsm_a_common.c
  epan/dissectors/packet-gsm_a_common.h
  epan/dissectors/packet-gsm_a_rr.c
  epan/dissectors/packet-gsm_rlcmac.c
  epan/dissectors/packet-gsm_sms.c
  epan/dissectors/packet-gtpv2.c
  epan/dissectors/packet-gtpv2.h
  epan/dissectors/packet-h264.c
  epan/dissectors/packet-h265.c
  epan/dissectors/packet-icep.c
  epan/dissectors/packet-ipmi.c
  epan/dissectors/packet-isis-clv.c
  epan/dissectors/packet-isis-hello.c
  epan/dissectors/packet-isis-lsp.c
  epan/dissectors/packet-isis-snp.c
  epan/dissectors/packet-ismp.c
  epan/dissectors/packet-isup.c
  epan/dissectors/packet-isup.h
  epan/dissectors/packet-json_3gpp.c
  epan/dissectors/packet-lbm.h
  epan/dissectors/packet-lbmc.c
  epan/dissectors/packet-lbmpdm.c
  epan/dissectors/packet-lbmr.c
Due: none

AUTHORS: Update my email address
  AUTHORS
Due: none

Prep for 4.6.3 [skip ci]
  doc/Wireshark_Release_Notes.adoc
Due: Documentation
