Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Windows Qt5 Build

Path conditions:
  Documentation: any of: docbook/**/*, epan/wslua/**/*
  Windows Qt5 Build: any of: ui/**/*

Qt: Improvements in Font and Colors preferences
  ui/qt/font_color_preferences_frame.cpp
Due: Windows Qt5 Build

hsrp: Fix the display length of some TLV blocks
  epan/dissectors/packet-hsrp.c
Due: none

BGP: Fix typo (bitmaks -> bitmask)
  epan/dissectors/packet-bgp.c
Due: none

ORAN FH CUS: Use numUEs for number of data entries
  epan/dissectors/packet-oran.c
Due: none

Qt: setStyleSheet overrides setFont on prefs sample font line
  ui/qt/font_color_preferences_frame.cpp
Due: Windows Qt5 Build

Replace debug func printnbyte with ws_log_buffer
  epan/dissectors/packet-dcerpc-netlogon.c
  epan/dissectors/packet-ntlmssp.c
  wsutil/wslog.c
  wsutil/wslog.h
Due: none

Github: Try to make sure MSYS2 build fails appropriately
  .github/workflows/msys2.yml
Due: none

MSYS2: Add missing nghttp3 DLL to installer
  packaging/nsis/InstallMSYS2.cmake
  tools/msys2-setup.sh
Due: none

MSYS2: Update build to use Lua 5.4
  .github/workflows/msys2.yml
  doc/wsdg_src/wsdg_quick_setup.adoc
  packaging/nsis/InstallMSYS2.cmake
  tools/msys2-setup.sh
Due: none

msys2-setup: Replace minizip with minizip-ng
  packaging/nsis/InstallMSYS2.cmake
  tools/msys2-setup.sh
Due: none

H225: Consolidate cs_type and label updates
  epan/dissectors/asn1/h225/h225.cnf
  epan/dissectors/asn1/h225/packet-h225-template.c
  epan/dissectors/packet-h225.c
Due: none

Qt: fix preferences editor default value tooltip
  ui/qt/models/pref_models.cpp
Due: Windows Qt5 Build

tap-iostat: Support filters with internal commas
  ui/cli/tap-iostat.c
Due: Windows Qt5 Build

GTP'(gtpprime): Several visual improvements
  epan/dissectors/packet-gtp.c
  epan/dissectors/packet-gtp.h
Due: none

ieee80211: Add new fields in Extended Capabilities element
  epan/dissectors/packet-ieee80211.c
Due: none

ieee80211: Add Secure HE-LTF subelement in Ranging element
  epan/dissectors/packet-ieee80211.c
Due: none

ieee80211: Fix some typo in ranging element
  epan/dissectors/packet-ieee80211.c
Due: none

extcap: Add sshdig, which allows remote syscall capture
  .gitlab-ci.yml
  CMakeLists.txt
  CMakeOptions.txt
  doc/CMakeLists.txt
  doc/man_pages/extcap.adoc
  doc/man_pages/sshdig.adoc
  doc/man_pages/sshdump.adoc
  extcap/CMakeLists.txt
  extcap/ciscodump.c
  extcap/ssh-base.h
  extcap/sshdig.c
  extcap/sshdump.c
  extcap/wifidump.c
  packaging/debian/wireshark-common.manpages
  packaging/nsis/stratoshark.nsi
  test/fixtures_ws.py
  test/suite_extcaps.py
  tools/wireshark_words.txt
Due: none

lua: Load bit and rex_pcre2 as though through require
  doc/release-notes.adoc
  doc/wsdg_src/wsdg_lua_support.adoc
  epan/wslua/lua_bitop.c
  epan/wslua/make-reg.py
Due: Documentation

eCPRI: implement dissector of IWF Delay Control message
  epan/dissectors/packet-ecpri.c
Due: none

GTP: fix a null pointer dereference introduced in g5fe9f49
  epan/dissectors/packet-gtp.c
Due: none

ORAN FH CUS: Fix some issues around compression methods/udCompParam
  epan/dissectors/packet-oran.c
Due: none

packet-icmpv6: format A and R flag text
  epan/dissectors/packet-icmpv6.c
Due: none

packet-icmpv6: implement P flag
  epan/dissectors/packet-icmpv6.c
Due: none

packet-icmpv6: improve L flag description
  epan/dissectors/packet-icmpv6.c
Due: none

ieee80211: Add Apple Vendor Specific IE (0x0017f2)
  epan/dissectors/packet-ieee80211.c
  epan/oui.h
Due: none

ECMP: Exorcise a string buffer arithmetic gremlin
  epan/dissectors/packet-ecmp.c
Due: none

lua: Add a fixture to test Lua scripts under different locales
  test/lua/locale.lua
  test/lua/protofield.lua
  test/lua/util.lua
  test/suite_wslua.py
Due: none

Lua: Support comma separated DissectorTable ranges in decimal comma locales
  epan/wslua/wslua_dissector.c
Due: Documentation

Proposed reworking of 'About:' info
  epan/epan.c
  test/fixtures_ws.py
  ui/qt/about_dialog.cpp
  wsutil/cpu_info.c
  wsutil/feature_list.c
  wsutil/feature_list.h
  wsutil/version_info.c
Due: Windows Qt5 Build

GNSS: add dissector for SBAS L1 MT27
  epan/dissectors/packet-sbas_l1.c
  wsutil/utf8_entities.h
Due: none

ieee80211: Add channel usage req and resp dissection
  epan/dissectors/packet-ieee80211.c
Due: none

GTP: Retrieve gtp_conv_info inside GTP' data transfer resp
  epan/dissectors/packet-gtp.c
  epan/dissectors/packet-gtp.h
Due: none
