Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Windows Qt5 Build

Path conditions:
  Documentation: any of: docbook/**/*, epan/wslua/**/*
  Windows Qt5 Build: any of: ui/**/*

Allow wslog parameters in all applications
  dftest.c
  editcap.c
  mergecap.c
  randpkt.c
  rawshark.c
  reordercap.c
  sharkd_daemon.c
  tfshark.c
  tshark.c
  ui/commandline.c
Due: Windows Qt5 Build

Add logging parameters arguments to python tests
  test/fixtures_ws.py
  test/suite_dfilter/dfiltertest.py
  test/suite_fileformats.py
  test/suite_io.py
  test/suite_mergecap.py
Due: none

IDN : Update dissector to latest Draft (2021)
  epan/dissectors/packet-idn.c
Due: none

ieee80211: Add new fields in Multi-Link element
  epan/dissectors/packet-ieee80211.c
Due: none

JSON-3GPP: split up SupportFeatures fuction
  epan/dissectors/packet-json_3gpp.c
Due: none

JSON-3GPP: add TS 29.572 Feature Negotiation
  epan/dissectors/packet-json_3gpp.c
Due: none

reordercap.c: remove exit()
  reordercap.c
Due: none

Replace exit() calls in fuzz functionality
  fuzz/StandaloneFuzzTargetMain.c
  fuzz/fuzzshark.c
Due: none

tshark: return false if failing a packet dissection pass
  tshark.c
Due: none

Add return for commandline_early_options() to allow cleaner "exit"
  include/ws_exit_codes.h
  ui/commandline.c
  ui/commandline.h
  ui/qt/main.cpp
  ui/stratoshark/stratoshark_main.cpp
Due: Windows Qt5 Build

text2pcap.c: remove exit()
  text2pcap.c
Due: none

Refactor commandline arg helpers to not exit on failure
  dumpcap.c
  editcap.c
  mergecap.c
  randpkt.c
  rawshark.c
  tshark.c
  ui/capture_opts.c
  ui/commandline.c
  wsutil/clopts_common.c
  wsutil/clopts_common.h
Due: Windows Qt5 Build

rawshark.c: remove exit()
  rawshark.c
Due: none

dumpcap.c: Remove exit() from exit_main()
  dumpcap.c
Due: none

tap-iostat.c: Don't exit() on registration failure
  ui/cli/tap-iostat.c
Due: Windows Qt5 Build

dftest.c: remove exit()
  dftest.c
Due: none

Remove exit() from ui + cli taps
  ui/cli/tap-httpstat.c
  ui/cli/tap-protocolinfo.c
  ui/cli/tap-rtspstat.c
  ui/cli/tap-sipstat.c
  ui/tap-rlc-graph.c
  ui/tap-tcp-stream.c
Due: Windows Qt5 Build

remove exit() from simple main()
  captype.c
  epan/dtd.h
  epan/exntest.c
  epan/tvbtest.c
  mmdbresolve.c
Due: none

pkcs1: rename to pkixalgs
  epan/dissectors/CMakeLists.txt
  epan/dissectors/asn1/CMakeLists.txt
  epan/dissectors/asn1/pkixalgs/CMakeLists.txt
  epan/dissectors/asn1/pkixalgs/PKIXAlgs-2009.asn
  epan/dissectors/asn1/pkixalgs/packet-pkixalgs-template.c
  epan/dissectors/asn1/pkixalgs/packet-pkixalgs-template.h
  epan/dissectors/asn1/pkixalgs/pkixalgs.cnf
  epan/dissectors/asn1/x509af/packet-x509af-template.c
  epan/dissectors/asn1/x509af/x509af.cnf
  epan/dissectors/packet-docsis-macmgmt.c
  epan/dissectors/packet-pkcs1.c
  epan/dissectors/packet-pkcs1.h
  epan/dissectors/packet-pkixalgs.c
  epan/dissectors/packet-pkixalgs.h
  epan/dissectors/packet-x509af.c
Due: none

LPP: add media_type handle
  epan/dissectors/asn1/lpp/packet-lpp-template.c
  epan/dissectors/packet-lpp.c
Due: none

TPM: Handle missing command gracefully
  epan/dissectors/packet-tpm20.c
Due: none

NBAP: Remove DISSECTOR_ASSERT
  epan/dissectors/asn1/nbap/nbap.cnf
  epan/dissectors/packet-nbap.c
Due: none

MPTCP: Improve meta token handling
  epan/dissectors/packet-tcp.c
Due: none

Look into a couple more reports of item vs call length
  epan/dissectors/packet-cisco-marker.c
  epan/dissectors/packet-rtmpt.c
Due: none

wslua: Fix use-after-free of heuristic DissectorTable name
  epan/wslua/wslua_dissector.c
Due: Documentation

doc: add captype cli program info to User Guide
  doc/CMakeLists.txt
  doc/wsug_src/captype-h.txt
  doc/wsug_src/wsug_tools.adoc
Due: none

JSON-3GPP: add TS 29.503 Feature Negotiation
  epan/dissectors/packet-json_3gpp.c
Due: none

ORAN stats tap: make output width a few chars less
  ui/cli/tap-oran.c
Due: Windows Qt5 Build

wsdg: typo for a wslua convtype
  epan/wslua/wslua_conversation.c
Due: Documentation

x509af: implement dissection for DSA and Diffie-Hellman public keys
  epan/dissectors/asn1/pkixalgs/pkixalgs.cnf
  epan/dissectors/asn1/x509af/packet-x509af-template.c
  epan/dissectors/asn1/x509af/x509af.cnf
  epan/dissectors/packet-pkixalgs.c
  epan/dissectors/packet-pkixalgs.h
  epan/dissectors/packet-x509af.c
Due: none

dumpcap: Handle multiple output files and swapped endian input pipe
  dumpcap.c
Due: none

Zigbee ZCL: Support Diagnostics cluster
  epan/dissectors/packet-zbee-aps.c
  epan/dissectors/packet-zbee-aps.h
  epan/dissectors/packet-zbee-zcl-ha.c
  epan/dissectors/packet-zbee.h
Due: none

Some changes to the "data sources" API.
  epan/dissectors/packet-snort.c
  epan/packet.c
  epan/packet.h
  epan/print.c
  sharkd_session.c
  ui/qt/byte_view_tab.cpp
Due: Windows Qt5 Build

ftypes: Use C23 compatible checked arithmetic
  epan/ftypes/ftype-integer.c
  epan/ftypes/ftype-time.c
  include/jtckdint.h
  wsutil/safe-math.h
Due: none

jtckdint: Cast to prevent MSVC (C4244) shortening errors
  include/jtckdint.h
Due: none

jtckdint: Replace ISC license text with SPDX License Identifier
  include/jtckdint.h
Due: none

JSON-3GPP: update references
  epan/dissectors/packet-json_3gpp.c
Due: none

JSON-3GPP: add TS 29.517 Feature Negotiation
  epan/dissectors/packet-json_3gpp.c
Due: none

Make some more functions static that are not referred to
  epan/dissectors/CMakeLists.txt
  epan/dissectors/packet-coap.c
  epan/dissectors/packet-cose.c
  epan/dissectors/packet-cose.h
  epan/dissectors/packet-dccp.c
  epan/dissectors/packet-dccp.h
  epan/dissectors/packet-gtp.h
  epan/dissectors/packet-reload.c
  epan/dissectors/packet-reload.h
  tools/check_static.py
Due: none
