Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Ubuntu Qt5 Build

Path conditions:
  Documentation: any of: doc/**/*, epan/wslua/**/*
  Ubuntu Qt5 Build: any of: ui/**/*

Prep for 4.4.13 [skip ci]
  doc/release-notes.adoc
Due: Documentation

NAS 5GS: fix NSAG information dissection
  epan/dissectors/packet-nas_5gs.c
Due: none

Fix Ixia/Keysight netflow field session-ip-scrambling-key-hash
  epan/dissectors/packet-netflow.c
Due: none

Start creating the interface to support true UI preferences
  epan/color_filters.c
  epan/prefs-int.h
  epan/prefs.c
  epan/prefs.h
  ui/CMakeLists.txt
  ui/init.c
  ui/init.h
  ui/language.c
  ui/language.h
  ui/qt/main.cpp
  ui/qt/main_window_preferences_frame.cpp
  ui/qt/preferences_dialog.cpp
  ui/software_update.c
  ui/stratoshark/stratoshark_main.cpp
  ui/ui_prefs.c
  ui/ui_prefs.h
  wsutil/color.h
Due: Ubuntu Qt5 Build

Fix crash writing language preference file
  ui/language.c
Due: Ubuntu Qt5 Build

Update the release notes [skip ci]
  doc/Wireshark_Release_Notes.adoc
Due: Documentation

Build: 4.6.3 [skip ci]
  ChangeLog
  doc/Wireshark_Release_Notes.adoc
Due: Documentation

Build: 4.4.13 [skip ci]
  ChangeLog
Due: none

O-RAN FH CUS: csf magnitude correction
  epan/dissectors/packet-oran.c
Due: none

Version: 4.6.3 → 4.6.4 [skip ci]
  CMakeLists.txt
  doc/Wireshark_Release_Notes.adoc
  doc/attributes.adoc
  epan/CMakeLists.txt
  packaging/debian/changelog
  wiretap/CMakeLists.txt
Due: Documentation

Version: 4.4.13 → 4.4.14 [skip ci]
  CMakeLists.txt
  doc/attributes.adoc
  doc/release-notes.adoc
  epan/CMakeLists.txt
  packaging/debian/changelog
  wiretap/CMakeLists.txt
Due: Documentation

use libpcap from FindPCAP.cmake instead of SystemPath
  tools/radiotap-gen/CMakeLists.txt
Due: none

dumpcap man page: fix glitches.
  doc/man_pages/dumpcap.adoc
Due: Documentation

tls-utils: Update TLS 1.3 SignatureScheme list
  epan/dissectors/packet-tls-utils.c
Due: none

tools: Remove our old macos-setup.sh patches [skip ci]
  tools/macos-setup-patches/falco-include-dirs.patch
  tools/macos-setup-patches/falco-uthash_h-install.patch
  tools/macos-setup-patches/glib-pkgconfig.patch
  tools/macos-setup-patches/gnutls-pkgconfig.patch
  tools/macos-setup-patches/libssh-werror.patch
  tools/macos-setup-patches/qt-fix-pc-file
  tools/macos-setup-patches/qt-fix-pc-files
  tools/macos-setup-patches/snappy-signed.patch
  tools/macos-setup-patches/spandsp-configure-patch
Due: none

Qt: Fix stream count in RTP Stream Analysis
  ui/qt/rtp_analysis_dialog.cpp
Due: Ubuntu Qt5 Build

Changee to use expert_remaining and to use unsigned offsets.
  epan/dissectors/packet-drda.c
  epan/dissectors/packet-isis.c
  epan/dissectors/packet-lldp.c
  epan/dissectors/packet-logcat-text.c
  epan/dissectors/packet-mac-nr-framed.c
  epan/dissectors/packet-mac-nr.c
  epan/dissectors/packet-mac-nr.h
  epan/dissectors/packet-mbim.c
  epan/dissectors/packet-megaco.c
  epan/dissectors/packet-miop.c
  epan/dissectors/packet-mip.c
  epan/dissectors/packet-mip6.c
  epan/dissectors/packet-mp4ves.c
  epan/dissectors/packet-mpls-y1711.c
  epan/dissectors/packet-mpls.c
Due: none

stats_tree: Fix initial value of maxvalue.float_max to be -FLT_MAX not FLT_MIN.
  epan/stats_tree.c
Due: none

git: Make sure .gitmessage uses UNIX line endings
  .gitattributes
Due: none

ANSI A: Fix overflow check
  epan/dissectors/packet-ansi_a.c
Due: none

tools: Update falco-libs version in macos-setup-brew.sh
  tools/macos-setup-brew.sh
Due: none

cipmotion: Make coverity happier
  epan/dissectors/packet-cipmotion.c
Due: none

Kafka: Fix some overflow UB
  epan/dissectors/packet-kafka.c
Due: none

RTPDump: Use newer find API and unsigned offsets
  epan/dissectors/file-rtpdump.c
Due: none

Qt: Use plural forms for stream(s) in RTP dialogs
  ui/qt/rtp_analysis_dialog.cpp
  ui/qt/rtp_player_dialog.cpp
  ui/qt/rtp_stream_dialog.cpp
  ui/qt/wireshark_en.ts
Due: Ubuntu Qt5 Build

epan: Use unsigned offsets and lengths with tvb_get_ptr
  epan/proto.c
  epan/tvbtest.c
  epan/tvbuff.c
  epan/tvbuff.h
Due: none

TTL: Allow 0-length normal CAN frames
  wiretap/ttl.c
Due: none

matter: Add BTP fragment reassembly and automatic Matter dissection for BTP/UDP
  epan/dissectors/packet-btp-matter.c
  epan/dissectors/packet-matter.c
Due: none

check_typed_item_calls: Move main logic under if __name__ == '__main__'
  tools/check_typed_item_calls.py
Due: none

check_typed_item_calls: Add ENC_BOM and ENC_VARINT_*
  tools/check_typed_item_calls.py
Due: none

Fix erroneous check-typed fixes
  epan/dissectors/packet-blip.c
  epan/dissectors/packet-dvb-s2-table.c
  epan/dissectors/packet-pldm.c
Due: none

Fix some easy examples from check_typed_item_calls.py
  epan/dissectors/packet-couchbase.c
  epan/dissectors/packet-ieee80211.c
  epan/dissectors/packet-lustre.c
  epan/dissectors/packet-mqtt.c
  epan/dissectors/packet-noe.c
  epan/dissectors/packet-sip.c
  plugins/epan/wimax/mac_hd_type2_decoder.c
Due: none
