Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Windows Qt5 Build

Documentation:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  after_script:
  ...

Windows Qt5 Build:
  stage: build
  retry: 1
  before_script:
  - if (-Not (Test-Path C:\Development)) { New-Item -Path C:\Development -ItemType "directory" }
  - $env:WIRESHARK_BASE_DIR = "C:\Development"
  - $env:Configuration = "RelWithDebInfo"
  - $env:Path += ";C:\Program Files\CMake\bin"
  ...

addr_resolv: Fix extra host files
  epan/addr_resolv.c
Due: none

Qt: Conversations and I/O Graph dialogs bridge
  doc/wsug_src/wsug_statistics.adoc
  epan/conversation.h
  epan/conversation_table.c
  ui/qt/conversation_dialog.cpp
  ui/qt/conversation_dialog.h
  ui/qt/io_graph_dialog.cpp
  ui/qt/io_graph_dialog.h
  ui/qt/widgets/traffic_tab.cpp
  ui/qt/widgets/traffic_tab.h
  ui/qt/wireshark_main_window.h
  ui/qt/wireshark_main_window_slots.cpp
Due: Windows Qt5 Build

Add dissector for Asymmetric Key Packages (PKCS #8)
  epan/dissectors/CMakeLists.txt
  epan/dissectors/asn1/CMakeLists.txt
  epan/dissectors/asn1/akp/AsymmetricKeyPackageModuleV1.asn
  epan/dissectors/asn1/akp/CMakeLists.txt
  epan/dissectors/asn1/akp/akp.cnf
  epan/dissectors/asn1/akp/packet-akp-template.c
  epan/dissectors/asn1/akp/packet-akp-template.h
  epan/dissectors/asn1/cms/cms.cnf
  epan/dissectors/asn1/cms/packet-cms-template.c
  epan/dissectors/asn1/pkcs12/packet-pkcs12-template.c
  epan/dissectors/asn1/pkcs12/packet-pkcs12-template.h
  epan/dissectors/asn1/pkcs12/pkcs12.asn
  epan/dissectors/asn1/pkcs12/pkcs12.cnf
  epan/dissectors/asn1/x509sat/x509sat.cnf
  epan/dissectors/packet-akp.c
  epan/dissectors/packet-akp.h
  epan/dissectors/packet-cms.c
  epan/dissectors/packet-cms.h
  epan/dissectors/packet-pkcs12.c
  epan/dissectors/packet-pkcs12.h
Due: none

Websocket: Fix decompression flag handling
  epan/dissectors/packet-websocket.c
Due: none

ORAN FH CUS: Add preference for ST6 padding
  epan/dissectors/packet-oran.c
Due: none

NAS-5GS: Dissect more selection criteria.
  epan/dissectors/packet-nas_5gs.c
Due: none

pkcs1: add algorithm OIDs from RFC 8410
  epan/dissectors/asn1/pkcs1/packet-pkcs1-template.c
  epan/dissectors/packet-pkcs1.c
Due: none

NAS-5GS: Fix a trivial typo in comments
  epan/dissectors/packet-nas_5gs.c
Due: none

IEEE802154: Fix malformed beacon
  epan/dissectors/packet-ieee802154.c
Due: none

Update minizip-ng to 4.0.7-1
  tools/win-setup.ps1
Due: none

file: Remove unnecessary priming of tap fields
  epan/epan.c
  file.c
Due: none

NAS-5GS: Expand dissection of selection criteria.
  epan/dissectors/packet-nas_5gs.c
Due: none

.mailmap: Update AUTHORS
  .mailmap
  AUTHORS
Due: none

Qt: Don't crash when trying to sort while sorting
  ui/qt/models/packet_list_model.cpp
Due: Windows Qt5 Build

TLS: Fix JA4_b when cipher list is empty
  epan/dissectors/packet-tls-utils.c
Due: none

ORAN FH CUS: Clean up ext11 output
  epan/dissectors/packet-oran.c
Due: none

wslua: Allow zero length TvbRanges in more cases
  epan/wslua/wslua_tvb.c
  test/lua/tvb.lua
Due: Documentation

ITS: IEEE1609dot2: Add configurable PSID list for WSMP dissector
  epan/dissectors/asn1/ieee1609dot2/IEEE1609dot12.asn
  epan/dissectors/asn1/ieee1609dot2/packet-ieee1609dot2-template.c
  epan/dissectors/packet-ieee1609dot2.c
  epan/dissectors/packet-ieee1609dot2.h
  epan/dissectors/packet-wsmp.c
Due: none

NAS-5GS: Dissect 5.3.2.4b: Selection criteria set
  epan/dissectors/packet-nas_5gs.c
Due: none

NAS-5GS: Dissect Selection criteria sets.
  epan/dissectors/packet-nas_5gs.c
Due: none

BGP: align EVPN extended community names to those in IANA registery
  epan/dissectors/packet-bgp.c
Due: none

Build: 4.4.4
  ChangeLog
  doc/release-notes.adoc
Due: none

Build: 4.2.11
  ChangeLog
  doc/release-notes.adoc
Due: none

Lua: Don't allow negative offsets to TvbRange_range
  epan/wslua/wslua_tvb.c
Due: Documentation

Qt: Parent the ProfileSwitcher and the PacketDiagram QGraphicsScene
  ui/qt/main_window.cpp
  ui/qt/packet_diagram.cpp
Due: Windows Qt5 Build

Version: 4.4.4 → 4.4.5
  CMakeLists.txt
  ChangeLog
  doc/attributes.adoc
  doc/release-notes.adoc
  epan/CMakeLists.txt
  packaging/debian/changelog
  wiretap/CMakeLists.txt
Due: none

Version: 4.2.11 → 4.2.12
  CMakeLists.txt
  ChangeLog
  doc/release-notes.adoc
  docbook/attributes.adoc
  epan/CMakeLists.txt
  packaging/debian/changelog
  wiretap/CMakeLists.txt
Due: Documentation

GitLab CI: Disable the Fedora MinGW builds for now
  .gitlab-ci.yml
Due: none

Path conditions:
  Documentation: any of: docbook/**/*, epan/wslua/**/*
  Windows Qt5 Build: any of: ui/**/*
