Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Windows Qt5 Build

Documentation:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  after_script:
  ...

Windows Qt5 Build:
  stage: build
  retry: 1
  before_script:
  - if (-Not (Test-Path C:\Development)) { New-Item -Path C:\Development -ItemType "directory" }
  - $env:WIRESHARK_BASE_DIR = "C:\Development"
  - $env:Configuration = "RelWithDebInfo"
  - $env:Path += ";C:\Program Files\CMake\bin"
  ...

androiddump: Don't pass a SOCKET as nfds to select on Win32
  extcap/androiddump.c
Due: none

pinfo_stats_tree: Fix a "set but not used" warning with MSVC
  plugins/epan/stats_tree/pinfo_stats_tree.c
Due: none

mysql: don't just skip over data, check that it exists.
  epan/dissectors/packet-mysql.c
Due: none

proto: Allow formatted string from packet details in columns
  doc/release-notes.adoc
  doc/wsug_src/wsug_work.adoc
  epan/column-utils.c
  epan/column.c
  epan/column.h
  epan/dfilter/dfilter.c
  epan/dfilter/dfilter.h
  epan/dissectors/asn1/snmp/packet-snmp-template.c
  epan/dissectors/packet-diameter.c
  epan/dissectors/packet-erf.c
  epan/dissectors/packet-gbcs.c
  epan/dissectors/packet-iax2.c
  epan/dissectors/packet-snmp.c
  epan/epan.c
  epan/epan.h
  epan/prefs.c
  epan/print.c
  epan/proto.c
  epan/proto.h
  epan/wslua/wslua_field.c
  epan/wslua/wslua_tree.c
  file.c
  sharkd_session.c
  test/suite_sharkd.py
  ui/logray/logray_main_window_slots.cpp
  ui/packet_list_utils.c
  ui/packet_list_utils.h
  ui/preference_utils.c
  ui/preference_utils.h
  ui/qt/column_editor_frame.cpp
  ui/qt/column_editor_frame.ui
  ui/qt/column_preferences_frame.cpp
  ui/qt/models/column_list_model.cpp
  ui/qt/models/column_list_model.h
  ui/qt/models/packet_list_model.cpp
  ui/qt/models/packet_list_model.h
  ui/qt/utils/proto_node.cpp
  ui/qt/widgets/packet_list_header.cpp
  ui/qt/widgets/packet_list_header.h
  ui/qt/wireshark_main_window_slots.cpp
Due: Documentation, Windows Qt5 Build

LPP: upgrade dissector to v18.3.0
  epan/dissectors/asn1/lpp/LPP-Broadcast-Definitions.asn
  epan/dissectors/asn1/lpp/LPP-PDU-Definitions.asn
  epan/dissectors/asn1/lpp/packet-lpp-template.c
  epan/dissectors/packet-lpp.c
Due: none

Update README.md
  README.md
Due: none

Suppress some column API call warnings (check_col_apis.py)
  epan/dissectors/packet-rx.c
  plugins/epan/wimaxmacphy/packet-wimaxmacphy.c
Due: none

GitLab CI: We don't need to install glab
  .gitlab-ci.yml
Due: none

ASAM-CMP: Show Analog Sample raw values
  epan/dissectors/packet-asam-cmp.c
Due: none

tshark: Output the current list of columns with -G column-formats
  doc/man_pages/tshark.adoc
  epan/column.c
  epan/column.h
  epan/prefs.c
Due: none

tshark: Update help output for fields glossary change
  doc/release-notes.adoc
  tshark.c
Due: none

GitLab CI: Ignore glab failures
  .gitlab-ci.yml
Due: none

MySQL: Handle embedded null bytes in queries
  epan/dissectors/packet-mysql.c
Due: none

ORAN FH CUS: Add fields that were reserved in earlier versions
  epan/dissectors/packet-oran.c
Due: none

dumpcap: Plug a leak
  dumpcap.c
Due: none

gsm_sim: Add EF.ARR and EF.UMPC
  epan/dissectors/packet-gsm_sim.c
Due: none

NAS 5GS: upgrade dissector to v18.8.0
  epan/dissectors/packet-gsm_a_gm.c
  epan/dissectors/packet-nas_5gs.c
Due: none

TECMP: Adding Analog Alt format
  epan/dissectors/packet-tecmp.c
Due: none

ASAM-CMP: Improve Analog Sample Output
  epan/dissectors/packet-asam-cmp.c
Due: none

Qt: Fix UB alloc-dealloc-mismatch
  ui/qt/capture_options_dialog.cpp
Due: Windows Qt5 Build

Qt: ManageInterfacesDialog remote interfaces, prevent leaks, deprecation
  ui/qt/manage_interfaces_dialog.cpp
Due: Windows Qt5 Build

GitLab CI: Add a commit check report
  .gitlab-ci.yml
Due: none

GitLab CI: Add test reports
  .gitlab-ci.yml
Due: none

NSIS+WiX: Switch back to "release-notes.html"
  packaging/nsis/wireshark.nsi
  packaging/wix/ComponentGroups.wxi
Due: none

capture: Indicate finished, not failed, when aborting
  ui/capture.c
Due: Windows Qt5 Build

Qt: Don't refresh interfaces while capturing
  ui/qt/main_application.cpp
  ui/qt/main_application.h
Due: Windows Qt5 Build

SMB: FILE_OPEN_FOR_RECOVERY
  epan/dissectors/packet-smb.c
Due: none

tshark: Change fields glossary report with prefix syntax
  doc/man_pages/tshark.adoc
  doc/release-notes.adoc
  tshark.c
Due: none

Qt: Rearrange column header popup menu actions
  ui/qt/widgets/packet_list_header.cpp
Due: Windows Qt5 Build

MMS: Add more null checks
  epan/dissectors/asn1/mms/mms.cnf
  epan/dissectors/asn1/mms/packet-mms-template.c
  epan/dissectors/packet-mms.c
Due: none

TCP: Retransmission analysis when reorder is needed (fix typo)
  epan/dissectors/packet-tcp.c
Due: none

Qt: Cast g_steal_pointer on older GLib
  ui/qt/capture_options_dialog.cpp
Due: Windows Qt5 Build

ftypes: adjust type list to cover non-type values as well (cid 1550322)
  epan/dfilter/sttype-field.c
  epan/ftypes/ftypes-int.h
  epan/ftypes/ftypes.c
  epan/ftypes/ftypes.h
Due: none

Path conditions:
  Documentation: any of: docbook/**/*, epan/wslua/**/*
  Windows Qt5 Build: any of: ui/**/*
