Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Ubuntu Qt5 Build

Path conditions:
  Documentation: any of: doc/**/*, epan/wslua/**/*
  Ubuntu Qt5 Build: any of: ui/**/*

DIAMETER: append information to grouped AVP
  epan/dissectors/packet-diameter.c
  epan/dissectors/packet-diameter.h
Due: none

Resolve Tracking Area Code (TAC) to name
  epan/addr_resolv.c
  epan/addr_resolv.h
  epan/dissectors/asn1/s1ap/packet-s1ap-template.c
  epan/dissectors/asn1/s1ap/s1ap.cnf
  epan/dissectors/packet-gtpv2.c
  epan/dissectors/packet-s1ap.c
Due: none

Sharkd: Bugfix remove forced synchronous DNS resolution
  sharkd_session.c
Due: none

Fix some spelling errors
  capture/ws80211_utils.h
  epan/dissectors/packet-bgp.c
  epan/dissectors/packet-darwin-droptap-msg.h
  epan/dissectors/packet-dcerpc-ndr.c
  epan/dissectors/packet-dcom.c
  epan/dissectors/packet-vines.c
  epan/dissectors/packet-wps.c
  epan/dissectors/packet-xmpp-utils.h
  epan/secrets.h
  epan/stream.h
  epan/tvbuff.h
  plugins/epan/profinet/packet-pn-rtc-one.c
  tools/check_typed_item_calls.py
  tools/wireshark_words.txt
  wsutil/str_util.h
Due: none

check_static.py: Look for references from event-dissectors object file
  tools/check_static.py
Due: none

epan: Use unsigned offset and length for tvb base64 functions
  epan/tvbuff.h
  epan/tvbuff_base64.c
Due: none

CMake: Update NPcap to 1.86
  CMakeLists.txt
Due: none

Update the bundled libpcap headers to 1.10.6
  libpcap/pcap/can_socketcan.h
  libpcap/pcap/dlt.h
  libpcap/pcap/ipnet.h
  libpcap/pcap/sll.h
  libpcap/pcap/vlan.h
Due: none

Download winbisonflex as an external artifact in CMAKE directly
  .github/workflows/windows.yml
  cmake/modules/FetchArtifacts.cmake
  cmake/modules/FindLEX.cmake
  doc/wsdg_src/wsdg_quick_setup.adoc
Due: Documentation

GitHub Actions: Don't get asciidoctor and docbook-bundle from chocolatey
  .github/workflows/windows.yml
Due: none

GitHub Actions: Don't bother installing Perl
  .github/workflows/windows.yml
Due: none

GitHub Actions: don't get cmake via chocolatey
  .github/workflows/windows.yml
Due: none

Make preferences more memory scope independent
  epan/prefs-int.h
  epan/prefs.c
  epan/wslua/wslua_pref.c
  ui/qt/capture_options_dialog.cpp
  ui/qt/main_application.cpp
  ui/qt/models/interface_sort_filter_model.cpp
Due: Documentation, Ubuntu Qt5 Build

Move handoff functions in a few dissectors to the source file
  epan/dissectors/asn1/camel/packet-camel-template.c
  epan/dissectors/asn1/camel/packet-camel-template.h
  epan/dissectors/asn1/cmp/packet-cmp-template.c
  epan/dissectors/asn1/cmp/packet-cmp-template.h
  epan/dissectors/asn1/pkcs10/packet-pkcs10-template.c
  epan/dissectors/asn1/pkcs10/packet-pkcs10-template.h
  epan/dissectors/packet-camel.c
  epan/dissectors/packet-camel.h
  epan/dissectors/packet-cmp.c
  epan/dissectors/packet-cmp.h
  epan/dissectors/packet-pkcs10.c
  epan/dissectors/packet-pkcs10.h
Due: none

CAPWAP: Add support for Image Identifier message element
  epan/dissectors/packet-capwap.c
Due: none

T.38: Add include guards
  epan/dissectors/asn1/t38/packet-t38-template.h
  epan/dissectors/packet-t38.h
Due: none

Qt: Fix leak in ExtArgMultiSelect
  ui/qt/extcap_argument_multiselect.cpp
Due: Ubuntu Qt5 Build

extcap: add search bar to multiselect
  ui/qt/extcap_argument_multiselect.cpp
  ui/qt/extcap_argument_multiselect.h
Due: Ubuntu Qt5 Build

Qt: Pref module NULL deference
  ui/qt/models/pref_models.cpp
Due: Ubuntu Qt5 Build

Qt: Improve field autocompletion in DisplayFilterEdit
  ui/qt/widgets/display_filter_edit.cpp
Due: Ubuntu Qt5 Build

ieee80211: Avoid using a fixed array for multi-link per-STA subelements
  epan/dissectors/packet-ieee80211.c
Due: none

Qt: More small Coverity warnings around null checks
  ui/qt/iax2_analysis_dialog.cpp
  ui/qt/models/coloring_rules_model.cpp
  ui/qt/profile_dialog.cpp
Due: Ubuntu Qt5 Build

show_exception: Add include
  epan/show_exception.h
Due: none

Coverity: Fully initialize some stat tap ui items
  epan/dissectors/asn1/ansi_map/packet-ansi_map-template.c
  epan/dissectors/packet-ansi_a.c
  epan/dissectors/packet-ansi_map.c
  epan/dissectors/packet-gsm_a_common.c
Due: none

Qt: Update Discord Invite Link
  ui/qt/welcome_page.ui
  ui/qt/wireshark_ca.ts
  ui/qt/wireshark_de.ts
  ui/qt/wireshark_en.ts
  ui/qt/wireshark_es.ts
  ui/qt/wireshark_fr.ts
  ui/qt/wireshark_ga_IE.ts
  ui/qt/wireshark_hu.ts
  ui/qt/wireshark_id.ts
  ui/qt/wireshark_it.ts
  ui/qt/wireshark_ja_JP.ts
  ui/qt/wireshark_ko.ts
  ui/qt/wireshark_pl.ts
  ui/qt/wireshark_pt_BR.ts
  ui/qt/wireshark_ru.ts
  ui/qt/wireshark_sv.ts
  ui/qt/wireshark_tr_TR.ts
  ui/qt/wireshark_uk.ts
  ui/qt/wireshark_zh_CN.ts
Due: Ubuntu Qt5 Build

Lua: Use tvb_strsize_enc in TvbRange:strsize
  epan/wslua/wslua_tvb.c
Due: Documentation

epan: Implement tvb_find_tvb_remaining with unsigned offset, ret bool
  epan/dissectors/packet-dcerpc.c
  epan/dissectors/packet-quic.c
  epan/dissectors/packet-rk512.c
  epan/ftypes/ftype-protocol.c
  epan/tvbuff.c
  epan/tvbuff.h
Due: none

dfilter: Improve error handling / autocompletion for layers
  epan/dfilter/scanner.l
  test/suite_dfilter/group_syntax.py
Due: none

Qt: Require a non-empty first argument for RPC SRT Dialog command line
  ui/qt/rpc_service_response_time_dialog.cpp
Due: Ubuntu Qt5 Build

dfilter: Improve macro parameter completion
  epan/dfilter/dfilter-macro.c
  ui/qt/widgets/display_filter_edit.cpp
Due: Ubuntu Qt5 Build

Remove support for converting from really old preferences
  epan/prefs.c
  epan/prefs.h
Due: none

doc: refactor 'Build Windows' doc
  doc/CMakeLists.txt
  doc/wsdg_src/images/win-setup-env.png
  doc/wsdg_src/images/win-setup-selectenv.png
  doc/wsdg_src/images/win-setup-vs18shell.png
  doc/wsdg_src/wsdg_quick_setup.adoc
Due: Documentation
