Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Windows Qt5 Build

Documentation:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  after_script:
  ...

Windows Qt5 Build:
  stage: build
  retry: 1
  before_script:
  - if (-Not (Test-Path C:\Development)) { New-Item -Path C:\Development -ItemType "directory" }
  - $env:WIRESHARK_BASE_DIR = "C:\Development"
  - $env:Configuration = "RelWithDebInfo"
  - $env:Path += ";C:\Program Files\CMake\bin"
  ...

Add LLC-v1 protocol
  epan/dissectors/CMakeLists.txt
  epan/dissectors/asn1/CMakeLists.txt
  epan/dissectors/asn1/e2ap/packet-e2ap-template.c
  epan/dissectors/asn1/llc-v1/CMakeLists.txt
  epan/dissectors/asn1/llc-v1/e2sm-v7.00.asn
  epan/dissectors/asn1/llc-v1/llc-v1.0.asn
  epan/dissectors/asn1/llc-v1/llc-v1.cnf
  epan/dissectors/asn1/llc-v1/packet-llc-v1-template.c
  epan/dissectors/packet-e2ap.c
  epan/dissectors/packet-e2ap.h
  epan/dissectors/packet-llc-v1.c
Due: none

FTDI FT: Simplify reassembly
  epan/dissectors/packet-ftdi-ft.c
Due: none

rdp: add initial support for the multiplexed rdpdr channel
  epan/dissectors/CMakeLists.txt
  epan/dissectors/packet-rdp.c
  epan/dissectors/packet-rdp_dr.c
Due: none

rdp_egfx: add support for watermark and protect surface commands
  epan/dissectors/packet-rdp_egfx.c
Due: none

rdp_drdynvc: add links for channel create messages
  epan/dissectors/packet-rdp_drdynvc.c
Due: none

EBHSCR: Update dissector
  epan/dissectors/packet-ebhscr.c
Due: none

profinet-mrp: add support for MRP-Interconnection
  plugins/epan/profinet/packet-pn-mrp.c
Due: none

UDP: Fix conversations over UDP
  epan/conversation.c
  epan/conversation.h
  epan/dissectors/asn1/snmp/packet-snmp-template.c
  epan/dissectors/packet-snmp.c
  epan/dissectors/packet-tftp.c
  epan/dissectors/packet-udp.c
Due: none

epan: Constify our proto_item_is_XXX pointers
  epan/proto.h
Due: none

ORAN FH CUS: tap/show where PRBs/REs are entirely zero
  epan/dissectors/packet-oran.c
  epan/dissectors/packet-oran.h
  ui/cli/tap-oran.c
Due: Windows Qt5 Build

[isobus]Dissect Date/Time PGN responses
  epan/dissectors/packet-isobus.c
Due: none

EtherCAT: Correct some registers orders that are swapped
  plugins/epan/ethercat/packet-ethercat-datagram.c
Due: none

taps: Add preference for stats_tree output
  doc/Wireshark_Release_Notes.adoc
  epan/prefs.c
  epan/prefs.h
  ui/cli/tap-stats_tree.c
Due: Windows Qt5 Build

dfilter: Have vals() return the same as column "display as strings"
  epan/dfilter/dfunctions.c
  epan/dfilter/dfvm.c
  ui/packet_list_utils.c
Due: Windows Qt5 Build

Falcodump: Add a recursion check
  extcap/falcodump.cpp
Due: none

Clang-Tidy: Add loop checks
  .clang-tidy
  epan/dfilter/.clang-tidy
  epan/wslua/.clang-tidy
  tools/.clang-tidy
  wsutil/.clang-tidy
Due: Documentation

Added Gcrypt Symmetric Cipher Functions to Lua scripts.
  doc/CMakeLists.txt
  doc/wsdg_src/wsdg_lua_support.adoc
  epan/wslua/CMakeLists.txt
  epan/wslua/wslua.h
  epan/wslua/wslua_gcrypt.c
  test/lua/gcrypt.lua
  test/suite_wslua.py
Due: Documentation

Revert "Added Gcrypt Symmetric Cipher Functions to Lua scripts."
  doc/CMakeLists.txt
  doc/wsdg_src/wsdg_lua_support.adoc
  epan/wslua/CMakeLists.txt
  epan/wslua/wslua.h
  epan/wslua/wslua_gcrypt.c
  test/lua/gcrypt.lua
  test/suite_wslua.py
Due: Documentation

pfcp: Update to 3GPP TS 29.244 V18.9.0
  epan/dissectors/packet-pfcp.c
Due: none

MACsec/MKA: Decode using keys unwrapped from MKA messages
  doc/Wireshark_Release_Notes.adoc
Due: none

ORAN FH CUS: Fix number of reserved bits in ST4, Cmd3
  epan/dissectors/packet-oran.c
Due: none

wiretap: Handle comments in .scap event blocks
  editcap.c
  epan/dissectors/packet-frame.c
  epan/frame_data.c
  ui/qt/proto_tree.cpp
  ui/stratoshark/stratoshark_main_window_slots.cpp
  wiretap/pcapng.c
  wiretap/wtap.c
  wiretap/wtap.h
  wiretap/wtap_opttypes.c
Due: Windows Qt5 Build

RTSP: Dissect CSeq
  epan/dissectors/packet-rtsp.c
Due: none

Zabbix: Replace json_validate() with json_parse() to support large objects
  epan/dissectors/packet-zabbix.c
Due: none

RTSP: Use a static function to retrieve the conversation data
  epan/dissectors/packet-rtsp.c
Due: none

Added possibility to read uat tables from Lua scripts.
  epan/wslua/wslua.h
  epan/wslua/wslua_pref.c
Due: Documentation

BGP: Fix EVPN NLRI IGMP Leave Synch Route dissection
  epan/dissectors/packet-bgp.c
Due: none

RTSP: Do some request-response tracking
  epan/dissectors/packet-rtsp.c
Due: none

VNC: Add Extended Clipboard support
  epan/dissectors/packet-vnc.c
  test/captures/vnc_clipboard.pcap.gz
  test/suite_decryption.py
Due: none

epan: Widen some loop variables
  epan/crypt/dot11decrypt_util.c
  epan/dissectors/packet-bacapp.c
  epan/dissectors/packet-catapult-dct2000.c
  epan/dissectors/packet-cp2179.c
  epan/dissectors/packet-dect-nwk.c
  epan/dissectors/packet-dhcp.c
  epan/dissectors/packet-dof.c
  epan/dissectors/packet-erldp.c
  epan/dissectors/packet-gsm_a_bssmap.c
Due: none

epan: Widen loop variables in packet-[h-o]*
  epan/dissectors/packet-h265.c
  epan/dissectors/packet-hartip.c
  epan/dissectors/packet-ieee80211.c
  epan/dissectors/packet-ipmi-picmg.c
  epan/dissectors/packet-mac-lte.c
  epan/dissectors/packet-macsec.c
  epan/dissectors/packet-nfapi.c
  epan/dissectors/packet-opensafety.c
  epan/dissectors/packet-oran.c
  epan/dissectors/packet-ospf.c
Due: none

epan: Widen loop variables in packet-[p-z]*
  epan/dissectors/packet-pcomtcp.c
  epan/dissectors/packet-pldm.c
  epan/dissectors/packet-radius.c
  epan/dissectors/packet-rdp_drdynvc.c
  epan/dissectors/packet-s7comm.c
  epan/dissectors/packet-selfm.c
  epan/dissectors/packet-skinny.c
  epan/dissectors/packet-smb2.c
  epan/dissectors/packet-sndcp-xid.c
  epan/dissectors/packet-snort-config.c
  epan/dissectors/packet-tpm20.c
  epan/dissectors/packet-ua3g.c
  epan/dissectors/packet-ubx.c
  epan/dissectors/packet-umts_mac.c
  epan/dissectors/packet-umts_rlc.c
  epan/dissectors/packet-wifi-nan.c
  epan/dissectors/packet-zbee-zcl-se.c
Due: none

Clang-Tidy: Enable bugprone-too-small-loop-variable errors
  .clang-tidy
Due: none

PCEP: Fix flags in SR-PCE-CAPABILITY sub-TLV
  epan/dissectors/packet-pcep.c
Due: none

RTSP: Dissect Content-Base and Content-Location headers
  epan/dissectors/packet-rtsp.c
Due: none

RTSP: Pass setup info
  epan/dissectors/packet-rtsp.c
Due: none

RTSP: Fix typo
  epan/dissectors/packet-rtsp.c
Due: none

Path conditions:
  Documentation: any of: docbook/**/*, epan/wslua/**/*
  Windows Qt5 Build: any of: ui/**/*
