Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Windows Qt5 Build

Documentation:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  after_script:
  ...

Windows Qt5 Build:
  stage: build
  retry: 1
  before_script:
  - if (-Not (Test-Path C:\Development)) { New-Item -Path C:\Development -ItemType "directory" }
  - $env:WIRESHARK_BASE_DIR = "C:\Development"
  - $env:Configuration = "RelWithDebInfo"
  - $env:Path += ";C:\Program Files\CMake\bin"
  ...

at: Add Info column separator before gsm_sim
  epan/dissectors/packet-at.c
Due: none

Falco Bridge: Rename to Falco Events
  CMakeLists.txt
  doc/Stratoshark_Release_Notes.adoc
  doc/wsdg_src/wsdg_quick_setup.adoc
  epan/dissectors/packet-sysdig-event.c
  extcap/falcodump.cpp
  packaging/nsis/stratoshark.nsi
  plugins/epan/falco_events/AUTHORS
  plugins/epan/falco_events/CMakeLists.txt
  plugins/epan/falco_events/README.md
  plugins/epan/falco_events/packet-falco-events.c
  plugins/epan/falco_events/sinsp-span.cpp
  plugins/epan/falco_events/sinsp-span.h
  tools/macos-setup-brew.sh
  ui/stratoshark/stratoshark_main_window.cpp
  wiretap/pcapng-sysdig.c
Due: Windows Qt5 Build

vlp16: Fix Dead Store found by Clang Analyzer
  epan/dissectors/packet-vlp16.c
Due: none

Cmake: ENABLE_STATIC -> BUILD_SHARED_LIBS
  CMakeLists.txt
  CMakeOptions.txt
  cmakeconfig.h.in
  doc/Wireshark_Release_Notes.adoc
  include/ws_symbol_export.h
  writecap/CMakeLists.txt
  wsutil/CMakeLists.txt
Due: none

Qt: Rename ByteViewTab to DataSourceTab
  ui/qt/CMakeLists.txt
  ui/qt/data_source_tab.cpp
  ui/qt/data_source_tab.h
  ui/qt/main_window.cpp
  ui/qt/main_window.h
  ui/qt/main_window_layout.cpp
  ui/qt/packet_dialog.cpp
  ui/qt/packet_dialog.h
  ui/qt/packet_list.h
  ui/qt/wireshark_ca.ts
  ui/qt/wireshark_de.ts
  ui/qt/wireshark_en.ts
  ui/qt/wireshark_es.ts
  ui/qt/wireshark_fr.ts
  ui/qt/wireshark_ga_IE.ts
  ui/qt/wireshark_hu.ts
  ui/qt/wireshark_it.ts
  ui/qt/wireshark_ja_JP.ts
  ui/qt/wireshark_ko.ts
  ui/qt/wireshark_main_window.cpp
  ui/qt/wireshark_main_window.h
  ui/qt/wireshark_main_window_slots.cpp
  ui/qt/wireshark_pl.ts
  ui/qt/wireshark_pt_BR.ts
  ui/qt/wireshark_ru.ts
  ui/qt/wireshark_sv.ts
  ui/qt/wireshark_tr_TR.ts
  ui/qt/wireshark_uk.ts
  ui/qt/wireshark_zh_CN.ts
  ui/stratoshark/CMakeLists.txt
  ui/stratoshark/stratoshark_en.ts
  ui/stratoshark/stratoshark_main_window.cpp
  ui/stratoshark/stratoshark_main_window.h
  ui/stratoshark/stratoshark_main_window_slots.cpp
Due: Windows Qt5 Build

mmdbresolve: Remove dead code
  mmdbresolve.c
Due: none

RTPS: Updated dissector to be compliant with the DDS Security 1.2 spec
  epan/dissectors/packet-rtps.c
Due: none

wiretap: add more wtap_setup_XXX_rec() routines.
  test/lua/pcap_file.lua
  tfshark.c
  ui/text_import.c
  wiretap/pcapng-sysdig.c
  wiretap/pcapng.c
  wiretap/systemd_journal.c
  wiretap/wtap.c
  wiretap/wtap.h
Due: Windows Qt5 Build

QUIC: Add version_information_draft quic transport parameter
  epan/dissectors/packet-tls-utils.c
  epan/dissectors/packet-tls-utils.h
Due: none

Qt: Rename ByteViewText to HexDataSourceView
  ui/qt/CMakeLists.txt
  ui/qt/data_source_tab.cpp
  ui/qt/proto_tree.cpp
  ui/qt/show_packet_bytes_dialog.cpp
  ui/qt/widgets/follow_stream_text.cpp
  ui/qt/widgets/hex_data_source_view.cpp
  ui/qt/widgets/hex_data_source_view.h
  ui/qt/wireshark_ca.ts
  ui/qt/wireshark_de.ts
  ui/qt/wireshark_en.ts
  ui/qt/wireshark_es.ts
  ui/qt/wireshark_fr.ts
  ui/qt/wireshark_ga_IE.ts
  ui/qt/wireshark_hu.ts
  ui/qt/wireshark_it.ts
  ui/qt/wireshark_ja_JP.ts
  ui/qt/wireshark_ko.ts
  ui/qt/wireshark_pl.ts
  ui/qt/wireshark_pt_BR.ts
  ui/qt/wireshark_ru.ts
  ui/qt/wireshark_sv.ts
  ui/qt/wireshark_tr_TR.ts
  ui/qt/wireshark_uk.ts
  ui/qt/wireshark_zh_CN.ts
  ui/stratoshark/CMakeLists.txt
  ui/stratoshark/stratoshark_en.ts
Due: Windows Qt5 Build

tap-rtspstat: improve memory management
  ui/cli/tap-rtspstat.c
Due: Windows Qt5 Build

tap-sctpchunkstat: add finish routine
  ui/cli/tap-sctpchunkstat.c
Due: Windows Qt5 Build

tap-rlcltestat: add finish routine
  ui/cli/tap-rlcltestat.c
Due: Windows Qt5 Build

tap-protocolinfo: minor memory management tweaks
  ui/cli/tap-protocolinfo.c
Due: Windows Qt5 Build

tap-macltestat: add finish routine
  ui/cli/tap-macltestat.c
Due: Windows Qt5 Build

tap-oran: address memory management issues
  ui/cli/tap-oran.c
Due: Windows Qt5 Build

wiretap: do more custom block processing in pcapng.c.
  wiretap/pcapng-netflix-custom.c
  wiretap/pcapng.c
  wiretap/pcapng_module.h
  wiretap/wtap.c
  wiretap/wtap.h
Due: none

Have wiretap provide the name for the type of a recored.
  epan/dissectors/packet-frame.c
  epan/packet.c
  wiretap/pcapng-netflix-custom.c
  wiretap/wtap.c
  wiretap/wtap.h
Due: none

TTL: Fix crash with malformed TTL header (zero block size)
  epan/dissectors/file-ttl.c
  wiretap/ttl.c
Due: none

IDN: register a missing subtree
  epan/dissectors/packet-idn.c
  epan/dissectors/packet-sysex.c
  epan/dissectors/packet-sysex_digitech.c
Due: none

Peak TRC: Regex match in raw mode
  wiretap/peak-trc.c
Due: none

PROFINET: Use pinfo scoped memory instead of file memory when possible
  plugins/epan/profinet/packet-dcerpc-pn-io.c
Due: none

JsonDataSourceView: Fix highlighting
  ui/qt/widgets/json_data_source_view.cpp
Due: Windows Qt5 Build

Add an explanatory comment.
  epan/packet.h
Due: none

DIAMETER: Do not use IP/Port for conversation
  epan/dissectors/packet-diameter.c
Due: none

pcapng-netflix-custm: don't use sizeof for the tcpinfo option size.
  wiretap/pcapng-netflix-custom.c
  wiretap/pcapng-netflix-custom.h
Due: none

Docs: Add a missing bug link to the Stratoshark release notes
  doc/Stratoshark_Release_Notes.adoc
Due: none

tls: Fill Info column for Certificate Fragment
  epan/dissectors/packet-tls.c
Due: none

CMake+Qt: Don't look for WrapVulkanHeaders
  CMakeLists.txt
Due: none

Docs: Capitalize Lua
  doc/README.wslua
  doc/wsug_src/wsug_customize.adoc
  doc/wsug_src/wsug_files.adoc
Due: none

Qt: Captialize our plugin types
  doc/man_pages/extcap.adoc
  epan/wslua/init_wslua.c
  extcap.c
  ui/qt/about_dialog.cpp
Due: Documentation, Windows Qt5 Build

packet-mq: use wmem_strbuf
  epan/dissectors/packet-mq.c
Due: none

LLDP: Set encoding values appropriate for item types
  epan/dissectors/packet-lldp.c
Due: none

SMB: Add trans2_subcommand to SMB header
  epan/dissectors/packet-smb.c
Due: none

Profinet: Small dissection fixes
  plugins/epan/profinet/packet-dcerpc-pn-io.c
  plugins/epan/profinet/packet-pn-dcp.c
  plugins/epan/profinet/packet-pn-rsi.c
Due: none

BPDU: simplify appending text
  epan/dissectors/packet-bpdu.c
Due: none

frame: dissect all OPT_PKT_ only if it's a REC_TYPE_PACKET.
  epan/dissectors/packet-frame.c
Due: none

PROFINET: Fix more leaks
  plugins/epan/profinet/packet-dcerpc-pn-io.c
Due: none

Path conditions:
  Documentation: any of: docbook/**/*, epan/wslua/**/*
  Windows Qt5 Build: any of: ui/**/*
