Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Ubuntu Qt5 Build

Documentation:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  after_script:
  ...

Ubuntu Qt5 Build:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  - useradd user
  - export LANG=en_US.UTF-8
  ...

bt-dht: improve whitespace consistency
  epan/dissectors/packet-bt-dht.c
Due: none

tls-utils: Move gnutls includes to source file
  epan/dissectors/packet-tls-utils.c
  epan/dissectors/packet-tls-utils.h
Due: none

androiddump: Fix a shadowed variable name
  extcap/androiddump.c
Due: none

Qt: Defer updating data tab layout and scrollbars when not visible
  ui/qt/widgets/hex_data_source_view.cpp
  ui/qt/widgets/hex_data_source_view.h
  ui/qt/widgets/json_data_source_view.cpp
  ui/qt/widgets/json_data_source_view.h
Due: Ubuntu Qt5 Build

GitLab CI: Update WIRESHARK_BASE_DIR in the Windows jobs
  .gitlab-ci.yml
Due: none

ber: Use 64-bit values in ber_check_value()
  epan/dissectors/packet-ber.c
Due: none

Qt: Create the hex data source context menu on demand
  ui/qt/widgets/hex_data_source_view.cpp
Due: Ubuntu Qt5 Build

WINREG: Align winreg_String to 5 bytes
  epan/dissectors/packet-dcerpc-winreg.c
  epan/dissectors/pidl/winreg/winreg.cnf
Due: none

WINREG,CLUSAPI: Fix imported types
  epan/dissectors/packet-dcerpc-clusapi.c
  epan/dissectors/packet-dcerpc-winreg.c
  epan/dissectors/pidl/clusapi/clusapi.cnf
  epan/dissectors/pidl/winreg/winreg.cnf
Due: none

pidl: NULL is not a valid value for TYPE alignment in cnf files
  epan/dissectors/pidl/clusapi/clusapi.cnf
  epan/dissectors/pidl/initshutdown/initshutdown.cnf
  epan/dissectors/pidl/winreg/winreg.cnf
  epan/dissectors/pidl/winspool/winspool.cnf
Due: none

dot11decrypt: Remove some unused CRC macros, vars and includes
  epan/crypt/dot11decrypt.c
  epan/crypt/dot11decrypt_system.h
  epan/crypt/dot11decrypt_tkip.c
Due: none

dot11decrypt: Rewrite WEP decryption function
  epan/crypt/CMakeLists.txt
  epan/crypt/dot11decrypt_int.h
  epan/crypt/dot11decrypt_wep.c
  wsutil/.editorconfig
  wsutil/CMakeLists.txt
  wsutil/crc32.h
  wsutil/dot11decrypt_wep.c
Due: none

proto: set to ws_error when enable CHECK_CONFLICT (for CI)
  epan/proto.c
Due: none

GitLab CI: Fix the Debian Stable APT Test job
  .gitlab-ci.yml
Due: none

Qt: Don't try to update the context menu if it doesn't exist
  ui/qt/widgets/hex_data_source_view.cpp
Due: Ubuntu Qt5 Build

FTDI FT: Dissect missing request types.
  epan/dissectors/packet-ftdi-ft.c
Due: none

wslua: Setup packet record in FileHandler
  epan/wslua/wslua_file_handler.c
Due: Documentation

writecap: Fix linkage on MSYS2
  writecap/CMakeLists.txt
Due: none

DFS: Fix VolumeState bitmap
  epan/dissectors/packet-dcerpc-dfs.c
  epan/dissectors/pidl/dfs/dfs.idl
Due: none

GitLab CI: Set FALCO_PLUGIN_DIR relative to WIRESHARK_BASE_DIR on Win
  .gitlab-ci.yml
Due: none

winreg: StringBuf and ValNameBuf are strings
  epan/dissectors/packet-dcerpc-winreg.c
  epan/dissectors/pidl/winreg/winreg.idl
Due: none

Fix a few typos.
  doc/http3.md
  doc/wsug_src/wsug_telephony.adoc
  epan/crypt/dot11decrypt.c
  epan/dissectors/file-tiff.c
  epan/dissectors/packet-alp.c
  epan/dissectors/packet-bacapp.h
  epan/dissectors/packet-bgp.c
  epan/dissectors/packet-bthci_vendor_broadcom.c
  epan/dissectors/packet-bthfp.c
  epan/dissectors/packet-diameter.c
  epan/dissectors/packet-hyperscsi.c
  epan/dissectors/packet-ieee1905.c
  epan/dissectors/packet-ieee80211.c
  epan/dissectors/packet-igrp.c
  epan/dissectors/packet-ippusb.c
  epan/dissectors/packet-mtp2.c
  epan/dissectors/packet-ndps.c
  epan/dissectors/packet-openvpn.c
  epan/dissectors/packet-ptp.c
  epan/dissectors/packet-smb2.c
  epan/dissectors/packet-stcsig.c
  epan/dissectors/packet-zbee-zcl-ha.c
  epan/secrets.h
  epan/wslua/wslua_file_handler.c
  epan/wslua/wslua_struct.c
  plugins/epan/mate/mate_util.c
  plugins/epan/profinet/packet-dcerpc-pn-io.c
  plugins/epan/profinet/packet-pn-rt.c
  plugins/epan/unistim/audio.h
  plugins/epan/unistim/packet-unistim.c
  test/suite_dissectors/group_zabbix.py
  tools/check_spelling.py
  wiretap/netscaler.c
Due: Documentation

Procmon: Fix Clang warnings
  epan/dissectors/packet-procmon.c
Due: none

TCP: Fix the Flow Counter statistics
  epan/dissectors/packet-tcp.c
Due: none

docs: Update our release tag conventions
  doc/wsdg_src/wsdg_quick_setup.adoc
  doc/wsdg_src/wsdg_sources.adoc
Due: Documentation

CMake: Prefer WIRESHARK_BASE_DIR and make it more convenient
  CMakeLists.txt
  cmake/modules/FetchArtifacts.cmake
  cmake/modules/FindWSWinLibs.cmake
  doc/wsdg_src/wsdg_libraries.adoc
  doc/wsdg_src/wsdg_quick_setup.adoc
  doc/wsdg_src/wsdg_tools.adoc
Due: Documentation

docs: More Windows quick setup updates
  doc/wsdg_src/wsdg_quick_setup.adoc
Due: Documentation

GitLab CI+packaging: Reenable Falco plugins on Windows
  .gitlab-ci.yml
  packaging/nsis/stratoshark.nsi
Due: none

Tiny improvements
  file.c
Due: none

epan: Generate the filter for a FT_NONE frame bytes fallback better
  epan/proto.c
Due: none

GitLab CI: Fix FALCO_PLUGIN_DIR on Windows for 4.6
  .gitlab-ci.yml
Due: none

Netlogon: add dissection of dsraddresstositenames[ex]w
  epan/dissectors/packet-dcerpc-netlogon.c
Due: none

pidl: Use has_property to avoid comparing undef with the empty string
  tools/pidl/lib/Parse/Pidl/Wireshark/NDR.pm
Due: none

Path conditions:
  Documentation: any of: doc/**/*, epan/wslua/**/*
  Ubuntu Qt5 Build: any of: ui/**/*
