Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Ubuntu Qt5 Build

Path conditions:
  Documentation: any of: doc/**/*, epan/wslua/**/*
  Ubuntu Qt5 Build: any of: ui/**/*

CMake: Properly remove our artifacts
  cmake/modules/FetchArtifacts.cmake
Due: none

Qt: Fix compilation with clang-cl
  ui/qt/widgets/qcp_spacer_legend_item.h
Due: Ubuntu Qt5 Build

packet-http.c/h: reduce padding in structures
  epan/dissectors/packet-http.c
  epan/dissectors/packet-http.h
Due: none

Windows: Update GnuTLS to 3.8.10-2
  cmake/modules/FetchArtifacts.cmake
Due: none

PER: Don't add data sources that aren't new
  epan/dissectors/packet-per.c
Due: none

Qt: Workaround QTabBar O(N^2) bug
  ui/qt/data_source_tab.cpp
Due: Ubuntu Qt5 Build

ams(plugins/ethercat): fix Dead Store found by Clang Analyzer
  plugins/epan/ethercat/packet-ams.c
Due: none

RDPEAR: Change some IDL not supported by pidl
  epan/dissectors/packet-dcerpc-rcg.c
  epan/dissectors/packet-dcerpc-rcg.h
  epan/dissectors/pidl/rcg/rcg.idl
Due: none

Qt: Create the hex data source context menu on demand
  ui/qt/widgets/hex_data_source_view.cpp
Due: Ubuntu Qt5 Build

GitLab CI: Update WIRESHARK_BASE_DIR in the Windows jobs
  .gitlab-ci.yml
Due: none

Qt: Defer updating data tab layout and scrollbars when not visible
  ui/qt/widgets/hex_data_source_view.cpp
  ui/qt/widgets/hex_data_source_view.h
  ui/qt/widgets/json_data_source_view.cpp
  ui/qt/widgets/json_data_source_view.h
Due: Ubuntu Qt5 Build

SMB: Remove proto_tree_add_string from dissect_create_file_request
  epan/dissectors/packet-smb.c
Due: none

smb: do not attempt to dissect wfw3.11 negotiate protocol blob
  epan/dissectors/packet-smb.c
Due: none

Bluetooth: Use wmem_strong_hash to hash UUID
  epan/dissectors/packet-bluetooth.c
Due: none

Refactor injecting secrets into pcapng file
  epan/dissectors/packet-ipsec.c
  epan/dissectors/packet-ipsec.h
  epan/dissectors/packet-tls.c
  epan/secrets.c
  epan/secrets.h
  sharkd_session.c
  strato.c
  tshark.c
  ui/CMakeLists.txt
  ui/qt/wireshark_main_window.cpp
  ui/qt/wireshark_main_window.h
  ui/qt/wireshark_main_window_slots.cpp
  ui/ssl_key_export.c
  ui/ssl_key_export.h
  ui/stratoshark/stratoshark_main_window_slots.cpp
Due: Ubuntu Qt5 Build

Use proto_checksum_vals for dissectors that are no longer plugins
  epan/dissectors/packet-cola.c
  epan/dissectors/packet-docsis.c
  epan/dissectors/packet-rk512.c
  epan/dissectors/packet-xra.c
Due: none

debian: Check if all shipped headers can be preprocessed
  packaging/debian/rules
Due: none

headers: Don't include config.h in wsutil/file_compressed.h
  wsutil/file_compressed.h
Due: none

GitLab CI: Build the Rocky 9 packages with Qt 6
  .gitlab-ci.yml
Due: none

Fix some spelling errors
  epan/decode_as.h
  epan/dissectors/packet-bthci_cmd.c
  epan/dissectors/packet-dcerpc.c
  epan/dissectors/packet-docsis.c
  epan/dissectors/packet-ieee802154.c
  epan/dissectors/packet-ip.c
  epan/dissectors/packet-obex.c
  epan/dissectors/packet-per.c
  epan/dissectors/packet-rpc.c
  epan/dissectors/packet-rtp.c
  epan/dissectors/packet-smb.c
  epan/dissectors/packet-tls.c
  epan/wslua/wslua_proto_helpers.c
  file.c
  plugins/epan/gryphon/packet-gryphon.c
  plugins/epan/irda/packet-irda.c
  plugins/epan/mate/mate_runtime.c
  plugins/epan/mate/mate_util.c
  plugins/epan/mate/mate_util.h
  plugins/epan/opcua/opcua.c
  plugins/epan/opcua/opcua_application_layer.c
  plugins/epan/wimaxasncp/packet-wimaxasncp.c
  tools/wireshark_words.txt
Due: Documentation

Qt: QTabWidget::clear() performance improvement from Qt 6.8.2
  ui/qt/data_source_tab.cpp
Due: Ubuntu Qt5 Build

wslua: Fix build on Lua 5.3
  epan/wslua/init_wslua.c
Due: Documentation

tls: Improve cipher suite expert info
  epan/dissectors/packet-tls-utils.c
  epan/dissectors/packet-tls-utils.h
Due: none

detect_bad_proto_tree_add.py: Output enhancements
  tools/detect_bad_proto_tree_add.py
Due: none

tools: Add gnutls_init to our prohibited APIs
  tools/checkAPIs.pl
Due: none

pidl-wireshark: Handle unions with identical cases
  tools/pidl/lib/Parse/Pidl/Wireshark/NDR.pm
Due: none

OPSI: Remove a manually-coded binary search.
  epan/dissectors/packet-opsi.c
Due: none

Fix C6336 warnings from PREfast.
  epan/dissectors/packet-egnos-ems.c
  epan/dissectors/packet-rpcrdma.c
Due: none

mongo: include command name in Info column
  epan/dissectors/packet-mongo.c
Due: none

remove space
  epan/dissectors/packet-mongo.c
Due: none

doc: Fix bullet list in TCP ZeroWindowProbe
  doc/wsug_src/wsug_advanced.adoc
Due: Documentation
