Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Windows Qt5 Build

Documentation:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  after_script:
  ...

Windows Qt5 Build:
  stage: build
  retry: 1
  before_script:
  - if (-Not (Test-Path C:\Development)) { New-Item -Path C:\Development -ItemType "directory" }
  - $env:WIRESHARK_BASE_DIR = "C:\Development"
  - $env:Configuration = "RelWithDebInfo"
  - $env:Path += ";C:\Program Files\CMake\bin"
  ...

Make some symbols in generated dissectors static
  epan/dissectors/asn1/ain/ain.cnf
  epan/dissectors/asn1/camel/camel.cnf
  epan/dissectors/asn1/dap/dap.cnf
  epan/dissectors/asn1/gsm_map/gsm_map.cnf
  epan/dissectors/asn1/inap/inap.cnf
  epan/dissectors/asn1/p1/p1.cnf
  epan/dissectors/asn1/p7/p7.cnf
  epan/dissectors/packet-ain.c
  epan/dissectors/packet-dap.c
  epan/dissectors/packet-dcerpc-samr.c
  epan/dissectors/packet-inap.c
  epan/dissectors/packet-p1.c
  epan/dissectors/packet-p7.c
  epan/dissectors/pidl/samr/samr.cnf
Due: none

CBOR: Update a recursion check
  epan/dissectors/packet-cbor.c
Due: none

CBOR: More recursion check updates
  epan/dissectors/packet-cbor.c
Due: none

epan: Fixup our column utility API documentation
  epan/column-utils.h
Due: none

Qt: Stay in packet list history until we're done with history
  ui/qt/packet_list.cpp
Due: Windows Qt5 Build

tools: Install latest lua package on Arch Linux
  tools/arch-setup.sh
Due: none

lrexlib: Update to upstream 2.9.2
  epan/wslua/lrexlib/CMakeLists.txt
  epan/wslua/lrexlib/README.rst
  test/lua/globals_4.4.txt
Due: Documentation

tools: Install latest Lua on *BSD
  tools/bsd-setup.sh
Due: none

Lua: Switch the downloaded Lua to 5.4
  CMakeLists.txt
  cmake/external/lua54/0001-Add-an-install-static-target.patch
  cmake/external/lua54/Lua54.cmake
  epan/wslua/CMakeLists.txt
  epan/wslua/lrexlib/CMakeLists.txt
Due: Documentation

btle: Extract out dissect_btle_acl_or_iso()
  epan/dissectors/packet-btle.c
Due: none

btle: Extract out dissect_btle_broadcast_iso()
  epan/dissectors/packet-btle.c
Due: none

wslua: Use require to load Lua plugins in plugins directories
  doc/release-notes.adoc
  doc/wsdg_src/wsdg_lua_support.adoc
  epan/wslua/init_wslua.c
Due: Documentation

rpm-setup: Prefer Lua 5.4 on SUSE
  tools/rpm-setup.sh
Due: none

rpm-setup: Add correct SUSE Qt6 package names
  tools/rpm-setup.sh
Due: none

USB: Store endpoint with direction flag in usb_conv_info
  epan/dissectors/packet-mausb.c
  epan/dissectors/packet-usb.c
Due: none

[Automatic update for 2024-08-04]
  enterprises.tsv
  manuf
Due: none

tools: Make some regex expressions raw strings
  tools/check_typed_item_calls.py
Due: none

USBLL: Call USB dissector after USBLL address is set
  epan/dissectors/packet-usbll.c
Due: none

USB: Split conversation data from URB data
  epan/dissectors/packet-acr122.c
  epan/dissectors/packet-adb.c
  epan/dissectors/packet-bluetooth.c
  epan/dissectors/packet-bluetooth.h
  epan/dissectors/packet-ftdi-ft.c
  epan/dissectors/packet-hci_usb.c
  epan/dissectors/packet-mausb.c
  epan/dissectors/packet-mausb.h
  epan/dissectors/packet-mbim.c
  epan/dissectors/packet-rfid-pn532-hci.c
  epan/dissectors/packet-rfid-pn532.c
  epan/dissectors/packet-tfp.c
  epan/dissectors/packet-u3v.c
  epan/dissectors/packet-ubertooth.c
  epan/dissectors/packet-usb-audio.c
  epan/dissectors/packet-usb-ccid.c
  epan/dissectors/packet-usb-com.c
  epan/dissectors/packet-usb-dfu.c
  epan/dissectors/packet-usb-hid.c
  epan/dissectors/packet-usb-hid.h
  epan/dissectors/packet-usb-hub.c
  epan/dissectors/packet-usb-masstorage.c
  epan/dissectors/packet-usb-printer.c
  epan/dissectors/packet-usb-video.c
  epan/dissectors/packet-usb.c
  epan/dissectors/packet-usb.h
  epan/dissectors/packet-usbms-bot.c
  epan/dissectors/packet-usbms-uasp.c
Due: none

Qt: Don't parent a Uat preference dialog with a menu that gets destroyed
  ui/qt/protocol_preferences_menu.cpp
Due: Windows Qt5 Build

Fix some spelling errors
  doc/wsdg_src/wsdg_lua_support.adoc
  epan/dissectors/packet-btle.c
  epan/dissectors/packet-usb-audio.c
  tools/wireshark_words.txt
  ui/qt/models/sparkline_delegate.cpp
  ui/qt/packet_list.cpp
  ui/qt/utils/rtp_audio_file.cpp
  ui/qt/widgets/additional_toolbar.cpp
Due: Windows Qt5 Build

Feature Code for NetScaler TPC Reset Window Error Code
  epan/dissectors/packet-tcp.c
Due: none

BGP: Update dissector with current registries and RFCs
  epan/dissectors/packet-bgp.c
Due: none

check_typed_item_calls.py: suppress or fix a few issues
  epan/dissectors/packet-elmi.c
  epan/dissectors/packet-netlink-sock_diag.c
  epan/dissectors/packet-rdpudp.c
  epan/dissectors/packet-scte35.c
  tools/check_typed_item_calls.py
Due: none

nmea0183: Use `register_dissector()`
  epan/dissectors/packet-nmea0183.c
Due: none

Art-Net: Update to Rev. DK (and minor changes)
  epan/dissectors/packet-artnet.c
Due: none

nmea0183: Add HDT sentence dissector
  epan/dissectors/packet-nmea0183.c
Due: none

E2AP: register more OIDS (without implementations)
  epan/dissectors/asn1/e2ap/packet-e2ap-template.c
  epan/dissectors/packet-e2ap.c
Due: none

Qt: allow search on all columns in About tabs
  ui/qt/about_dialog.cpp
  ui/qt/about_dialog.ui
Due: Windows Qt5 Build

btatt: Create dissectors with description for Decode As
  epan/dissectors/packet-btatt.c
Due: none

zigbee-direct: Add descriptions for the dissectors
  epan/dissectors/packet-zbee-direct.c
Due: none

XML: Delay registering fields
  epan/dissectors/packet-xml.c
Due: none

BER: Make the Decode As functionality mostly work again
  epan/dissectors/packet-ber.c
  epan/packet.c
Due: none

Path conditions:
  Documentation: any of: docbook/**/*, epan/wslua/**/*
  Windows Qt5 Build: any of: ui/**/*
