Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Ubuntu Qt5 Build

Documentation:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  after_script:
  ...

Ubuntu Qt5 Build:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  - useradd user
  - export LANG=en_US.UTF-8
  ...

CMake: C++ minimum version updates
  CMakeLists.txt
  extcap/CMakeLists.txt
  plugins/epan/falco_events/CMakeLists.txt
Due: none

TECMP: Fixing FlexRay Replay format
  epan/dissectors/packet-tecmp.c
Due: none

TLS Utils: For JA4, test if ALPN characters are alphanumeric
  epan/dissectors/packet-tls-utils.c
Due: none

stratoshark: Inherit patch, build version and version extension from the project
  CMakeLists.txt
  packaging/debian/rules
  packaging/macosx/StratosharkInfo.plist.in
  packaging/nsis/CMakeLists.txt
  tools/make-version.py
Due: none

Qt: Fix deprecation from Qt 6.11 (#20965)
  ui/qt/rtp_player_dialog.cpp
Due: Ubuntu Qt5 Build

FGCP: Add TLV Interface Inventory
  epan/dissectors/packet-fortinet-fgcp.c
Due: none

FGCP: Add HA CHECKSUM TLV
  epan/dissectors/packet-fortinet-fgcp.c
Due: none

Qt:Fix open recent file
  ui/qt/welcome_page.cpp
  ui/qt/welcome_page.h
Due: Ubuntu Qt5 Build

Expert: Make offsets unsigned, convert last ones to _expert_remaining.
  epan/dissectors/packet-usbll.c
  epan/dissectors/packet-vcdu.c
  epan/dissectors/packet-vj-comp.c
  epan/dissectors/packet-vnc.c
  epan/dissectors/packet-vp8.c
  epan/dissectors/packet-wcp.c
  epan/dissectors/packet-whois.c
  epan/dissectors/packet-wifi-nan.c
  epan/dissectors/packet-xcp.c
  epan/dissectors/packet-zbee-nwk-gp.c
  epan/dissectors/packet-zbee-zcl.c
  epan/expert.c
  epan/expert.h
Due: none

SRVLOC: Fix encoding
  epan/dissectors/packet-srvloc.c
Due: none

docs: Update the Wireshark release notes
  doc/Wireshark_Release_Notes.adoc
Due: Documentation

Add AMR-WB RTP Player Support
  CMakeLists.txt
  CMakeOptions.txt
  cmake/modules/FindAMRWB.cmake
  cmakeconfig.h.in
  plugins/codecs/amrwb/CMakeLists.txt
  plugins/codecs/amrwb/amrwbdecode.c
  tools/debian-setup.sh
Due: none

MySQL: Fix short packet for login with CLIENT_SSL
  epan/dissectors/packet-mysql.c
Due: none

Qt: Fixup our icon initialization
  ui/qt/wireshark_application.cpp
  ui/stratoshark/stratoshark_application.cpp
Due: Ubuntu Qt5 Build

Revert "Qt: unhighlight hover bytes when mouse leaves Packet bytes"
  ui/qt/data_source_tab.cpp
  ui/qt/widgets/base_data_source_view.h
  ui/qt/widgets/hex_data_source_view.cpp
  ui/qt/widgets/hex_data_source_view.h
  ui/qt/widgets/json_data_source_view.h
Due: Ubuntu Qt5 Build

Qt: Make Packet Bytes hover highlighting like Proto Tree, Packet List
  ui/qt/data_source_tab.cpp
  ui/qt/widgets/base_data_source_view.h
  ui/qt/widgets/hex_data_source_view.cpp
  ui/qt/widgets/hex_data_source_view.h
  ui/qt/widgets/json_data_source_view.cpp
  ui/qt/widgets/json_data_source_view.h
Due: Ubuntu Qt5 Build

MySQL: Fix random access dissection of frames with compression
  epan/dissectors/packet-mysql.c
Due: none

SMB2: Remove Fixed Part/Dynamic Part subfields of StructureSize
  epan/dissectors/packet-smb2.c
Due: none

Qt: Use the common hoverBackground on ProtoTree with Windows
  ui/qt/proto_tree.cpp
Due: Ubuntu Qt5 Build

pfcp: Update to 3GPP TS 29.244 V19.4.0
  epan/dissectors/packet-pfcp.c
Due: none

Another round of double-fetch changes
  epan/dissectors/packet-afp.c
  epan/dissectors/packet-atalk.c
  epan/dissectors/packet-bgp.c
  epan/dissectors/packet-bittorrent.c
  epan/dissectors/packet-bmc.c
  epan/dissectors/packet-bmp.c
  epan/dissectors/packet-btamp.c
  epan/dissectors/packet-btavctp.c
  epan/dissectors/packet-btavrcp.c
  epan/dissectors/packet-btbnep.c
  epan/dissectors/packet-bthci_vendor_broadcom.c
  epan/dissectors/packet-bthci_vendor_intel.c
  epan/dissectors/packet-bthcrp.c
  epan/dissectors/packet-bthid.c
  epan/dissectors/packet-btsap.c
  epan/dissectors/packet-btsdp.c
  epan/dissectors/packet-capwap.c
  epan/dissectors/packet-dcm.c
  epan/dissectors/packet-zbee-zcl-general.c
  epan/dissectors/packet-zbee-zcl-se.c
  epan/dissectors/packet-zbncp.c
  epan/dissectors/packet-ziop.c
  plugins/epan/gryphon/packet-gryphon.c
  plugins/epan/wimax/wimax_hack_decoder.c
Due: none

Debian: add Build-Depends to libopencore-amrwb-dev
  packaging/debian/control
Due: none

ieee80211: update code to final 802.11be amendment
  epan/dissectors/packet-ieee80211.c
Due: none

Qt: Speed up expert info item row calculation
  ui/qt/models/expert_info_model.cpp
  ui/qt/models/expert_info_model.h
Due: Ubuntu Qt5 Build

Qt: Speed up expert info proxy model
  ui/qt/models/expert_info_proxy_model.cpp
  ui/qt/models/expert_info_proxy_model.h
Due: Ubuntu Qt5 Build

gitignore: Update .gitignore for in-tree builds
  .gitignore
Due: none

TECMP: fix position of invalid_cycle_repetition expert info
  epan/dissectors/packet-tecmp.c
Due: none

Path conditions:
  Documentation: any of: doc/**/*, epan/wslua/**/*
  Ubuntu Qt5 Build: any of: ui/**/*
