Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Windows Qt5 Build

Path conditions:
  Documentation: any of: docbook/**/*, epan/wslua/**/*
  Windows Qt5 Build: any of: ui/**/*

gsm_sms: Display the full SCTS timestamp string
  epan/dissectors/packet-gsm_sms.c
Due: none

RRLP: upgrade dissector to v18.0.0
  epan/dissectors/asn1/rrlp/RRLP-Components.asn
  epan/dissectors/asn1/rrlp/RRLP-Messages.asn
  epan/dissectors/asn1/rrlp/packet-rrlp-template.c
  epan/dissectors/packet-rrlp.c
Due: none

epan: Add a tree item offset idleness check
  epan/proto.c
  epan/proto.h
Due: none

wiretap: don't use void parameter type in wtap_new_ipv6_callback_t
  capinfos.c
  wiretap/wtap.c
  wiretap/wtap.h
Due: none

prefs: add support for bool values to prefs_get_uint_value
  epan/prefs.c
  epan/prefs.h
Due: none

dfilter: Add infinity and NaNs to the float token
  epan/dfilter/scanner.l
  epan/ftypes/ftype-double.c
  epan/proto.c
  test/suite_dfilter/group_double.py
Due: none

feature list: Workaround g_string_replace on GLib < 2.68
  capture/capture-pcap-util-unix.c
  wsutil/feature_list.c
Due: none

endpoint_dialog: small preference-fetching code cleanup.
  ui/qt/endpoint_dialog.cpp
Due: Windows Qt5 Build

Qt: Get the debounce timer value from the prefs structure.
  epan/prefs-int.h
  epan/prefs.c
  epan/prefs.h
  epan/wslua/wslua_utility.c
  sharkd_session.c
  ui/qt/capture_preferences_frame.cpp
  ui/qt/layout_preferences_frame.cpp
  ui/qt/main_window_preferences_frame.cpp
  ui/qt/preference_editor_frame.cpp
  ui/qt/preferences_dialog.cpp
  ui/qt/supported_protocols_dialog.cpp
Due: Documentation, Windows Qt5 Build

cmake: Fix for policy CMP0175
  doc/CMakeLists.txt
Due: none

dfilter: Access the return types of filter expressions, sort numeric
  doc/release-notes.adoc
  epan/dfilter/dfilter-int.h
  epan/dfilter/dfilter.c
  epan/dfilter/dfilter.h
  epan/dfilter/dfvm.c
  epan/dfilter/semcheck.c
  ui/qt/models/packet_list_model.cpp
Due: Windows Qt5 Build

NSIS: cmakedefine LIBSSH_FOUND in Stratoshark package
  packaging/nsis/stratoshark-config.nsh.in
Due: none

Use pref_t rather than struct preference.
  epan/prefs.c
  extcap.c
  extcap.h
  ui/qt/extcap_argument.cpp
  ui/qt/packet_dialog.h
  ui/qt/packet_list.h
  ui/qt/proto_tree.h
Due: Windows Qt5 Build

Use include files rather than doing incomplete structure declarations.
  epan/packet.h
  ui/qt/preference_editor_frame.h
  ui/qt/protocol_preferences_menu.h
Due: Windows Qt5 Build

ORAN FH CUS: Make more subtrees proper items
  epan/dissectors/packet-oran.c
Due: none

Get rid of an unnecessary variable.
  ui/preference_utils.c
Due: Windows Qt5 Build

VJC: Improve connection tracking across passes
  epan/dissectors/packet-vj-comp.c
Due: none

dfilter: Do not crash on vals() with incompatible fields with shared abbrevs
  epan/dfilter/dfvm.c
Due: none

Fix up types.
  ui/qt/packet_dialog.cpp
  ui/qt/packet_dialog.h
  ui/qt/packet_list.cpp
  ui/qt/packet_list.h
  ui/qt/proto_tree.cpp
  ui/qt/proto_tree.h
  ui/qt/wireshark_main_window.cpp
  ui/qt/wireshark_main_window_slots.cpp
Due: Windows Qt5 Build

Various: use ws_log system instead of fprintf
  epan/dissectors/packet-communityid.c
  epan/dissectors/packet-icep.c
  epan/dissectors/packet-ipmi.c
  epan/dissectors/packet-ipsec.c
  epan/dissectors/packet-mgcp.c
  epan/dissectors/packet-rtps.c
  epan/dissectors/packet-selfm.c
  epan/dissectors/packet-wap.c
  epan/dissectors/packet-wtls.c
  epan/dissectors/packet-wtp.c
Due: none

smb2: convert to ws_log system
  epan/dissectors/packet-smb2.c
Due: none

ZBEE-TLV: Avoid undefined shift (CID 1545113)
  epan/dissectors/packet-zbee-tlv.c
Due: none

wslua: Throw an error properly for TreeItem:add with nil value
  epan/wslua/wslua_tree.c
Due: Documentation

Qt: Add a setType function to DisplayFilterEdit for use with ui files
  ui/qt/widgets/display_filter_edit.cpp
  ui/qt/widgets/display_filter_edit.h
Due: Windows Qt5 Build

Switch our source tarball compression to zstd
  .gitlab-ci.yml
  doc/release-notes.adoc
  doc/wsdg_src/wsdg_sources.adoc
  packaging/rpm/wireshark.spec.in
  packaging/source/git-export-release.sh.in
Due: none

proto_tree: fix typeo.
  ui/qt/proto_tree.cpp
Due: Windows Qt5 Build

TLS: add support for certificate compression using zlib and zstd
  epan/dissectors/packet-tls-utils.c
Due: none

DCOM CBA: Always initialize our strings
  plugins/epan/profinet/packet-dcom-cba.c
Due: none

Qt: Use a DisplayFilterEdit for custom columns
  ui/qt/column_editor_frame.cpp
  ui/qt/column_editor_frame.ui
  ui/qt/models/column_list_model.cpp
  ui/qt/widgets/display_filter_edit.cpp
  ui/qt/widgets/display_filter_edit.h
Due: Windows Qt5 Build

dot11decrypt: Support Fast BSS Transition with RSNXE present
  epan/crypt/dot11decrypt.c
  epan/crypt/dot11decrypt_system.h
  epan/dissectors/packet-ieee80211.c
  test/captures/wpa3-ft-sae-h2e.pcapng.gz
  test/config/80211_keys.tmpl
  test/suite_decryption.py
Due: none

PKCS12: Reformat a function while looking at coverity issue
  epan/dissectors/asn1/pkcs12/packet-pkcs12-template.c
  epan/dissectors/packet-pkcs12.c
Due: none

rpm-setup: Switch our installation argument order
  tools/rpm-setup.sh
Due: none

tools: Sort our AUTHORS file better
  AUTHORS
  tools/generate_authors.py
Due: none

gsm_a_common: Fix uncertainty radius abbrev
  epan/dissectors/packet-gsm_a_common.c
Due: none

GTP': search dissector for proprietary data format
  epan/dissectors/packet-gtp.c
Due: none
