Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Ubuntu Qt5 Build

Documentation:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  after_script:
  ...

Ubuntu Qt5 Build:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  - useradd user
  - export LANG=en_US.UTF-8
  ...

Have dissectors reduce rather than expand the protocol item length
  epan/dissectors/packet-lsdp.c
  epan/dissectors/packet-nts-ke.c
  epan/dissectors/packet-pktc.c
  epan/dissectors/packet-roughtime.c
  epan/dissectors/packet-rtp.c
  epan/dissectors/packet-tcpcl.c
Due: none

tools: make-dmx-manfid.py fixes [skip ci]
  tools/make-dmx-manfid.py
Due: none

thrift: Check for failure in dissect_thrift_t_map
  epan/dissectors/packet-thrift.c
Due: none

epan: Unsigned offsets for tvb_get_string_[time,bytes]
  epan/dissectors/packet-ucp.c
  epan/proto.c
  epan/proto.h
  epan/tvbuff.c
  epan/tvbuff.h
  epan/wslua/wslua_tree.c
  epan/wslua/wslua_tvb.c
Due: Documentation

MEGACO: Use subset tvb and new find API for statisticsDescriptor
  epan/dissectors/packet-megaco.c
Due: none

Remove epan_supports_packets()
  dftest.c
  epan/epan.c
  epan/epan.h
  fuzz/fuzzshark.c
  rawshark.c
  sharkd.c
  strato.c
  tfshark.c
  tshark.c
  ui/qt/main.cpp
  ui/stratoshark/stratoshark_main.cpp
Due: Ubuntu Qt5 Build

Create registration and handoff functions for "event" dissectors
  epan/dissectors/CMakeLists.txt
  epan/dissectors/file-file.c
  epan/dissectors/file-pcapng.c
  epan/dissectors/packet-data.c
  epan/dissectors/packet-frame.c
  epan/dissectors/packet-json.c
  epan/dissectors/packet-media-type.c
  epan/dissectors/packet-pcapng_block.c
  epan/dissectors/packet-procmon.c
  epan/dissectors/packet-sysdig-event.c
  epan/dissectors/packet-systemd-journal.c
  epan/dissectors/packet-text-media.c
  epan/register.h
  resources/share/wireshark/colorfilters
  tools/make-regs.py
Due: none

SMB2: Fix vulnerability
  epan/dissectors/packet-smb2.c
Due: none

wiretap: Read procmon hosts entries
  wiretap/procmon.c
Due: none

Qt: Have hover highlighting setting correctly initially
  ui/qt/widgets/hex_data_source_view.cpp
Due: Ubuntu Qt5 Build

MEGACO: Use tvb subset for TerminationState and LocalControl descriptors
  epan/dissectors/packet-megaco.c
Due: none

wsdg: Clarify all documentation is in doc directory only
  doc/wsdg_src/wsdg_tools.adoc
Due: Documentation

mpeg-audio: Use tvb_find_uint8_remaining
  epan/dissectors/asn1/mpeg-audio/packet-mpeg-audio-template.c
  epan/dissectors/packet-mpeg-audio.c
Due: none

DOF: Avoid tvb_get_ptr with length -1
  epan/dissectors/packet-dof.c
Due: none

OSC: Avoid tvb_get_ptr with length -1
  epan/dissectors/packet-osc.c
Due: none

doxygen: Fix macro expansion for variadic C functions
  doxygen.cfg.in
Due: none

GitHub Actions: Update Perl version on Windows
  .github/workflows/windows.yml
Due: none

Add application_extcap_dir()
  app/application_flavor.h
  app/stratoshark_flavor.c
  app/wireshark_flavor.c
  extcap.c
  tshark.c
  ui/qt/about_dialog.cpp
Due: Ubuntu Qt5 Build

epan: Implement tvb_find_uint16_remaining, _length
  epan/dissectors/packet-syslog.c
  epan/tvbtest.c
  epan/tvbuff.c
  epan/tvbuff.h
Due: none

IRC: Interpret CTCP commands with a Name Only protocol again
  epan/dissectors/packet-irc.c
Due: none

IEC104: Adding processing of file services
  epan/dissectors/packet-iec104.c
Due: none

IEC104: Adding references to sections in the IEC standard.
  epan/dissectors/packet-iec104.c
Due: none

GitHub Actions: Specify Windows generator
  .github/workflows/windows.yml
Due: none

Move VCS version functions to the application layer
  app/application_flavor.h
  app/stratoshark_flavor.c
  app/wireshark_flavor.c
  capinfos.c
  captype.c
  dftest.c
  dumpcap.c
  editcap.c
  file.c
  fuzz/fuzzshark.c
  mergecap.c
  randpkt.c
  rawshark.c
  reordercap.c
  sharkd.c
  sharkd_session.c
  strato.c
  text2pcap.c
  tfshark.c
  tshark.c
  ui/export_pdu_ui_utils.c
  ui/qt/about_dialog.cpp
  ui/qt/about_dialog.h
  ui/qt/capture_file_properties_dialog.cpp
  ui/qt/keyboard_shortcuts_dialog.cpp
  ui/qt/main.cpp
  ui/qt/main_window.cpp
  ui/qt/welcome_page.cpp
  ui/stratoshark/stratoshark_about_dialog.cpp
  ui/stratoshark/stratoshark_about_dialog.h
  ui/stratoshark/stratoshark_capture_file_properties_dialog.cpp
  ui/stratoshark/stratoshark_main.cpp
  ui/tap_export_pdu.c
  wsutil/version_info.c
  wsutil/version_info.h
Due: Ubuntu Qt5 Build

IEC104: Adding decoding for missing types, fix bad endianness in BSI
  epan/dissectors/packet-iec104.c
Due: none

wslua: Use tvb_get_uint8_remaining
  epan/tvbuff.h
  epan/wslua/wslua_tree.c
  epan/wslua/wslua_tvb.c
Due: Documentation

mpeg-audio: Advance the offset each find loop
  epan/dissectors/asn1/mpeg-audio/packet-mpeg-audio-template.c
  epan/dissectors/packet-mpeg-audio.c
Due: none

Create an welcome page specific to Stratoshark
  ui/qt/welcome_page.cpp
  ui/qt/welcome_page.h
  ui/stratoshark/CMakeLists.txt
  ui/stratoshark/stratoshark_en.ts
  ui/stratoshark/stratoshark_main_window.cpp
  ui/stratoshark/stratoshark_main_window.h
  ui/stratoshark/stratoshark_main_window.ui
  ui/stratoshark/stratoshark_main_window_slots.cpp
  ui/stratoshark/stratoshark_welcome_page.cpp
  ui/stratoshark/stratoshark_welcome_page.h
Due: Ubuntu Qt5 Build

Create an I/O graph dialog specific to Stratoshark
  ui/qt/io_graph_dialog.cpp
  ui/qt/io_graph_dialog.h
  ui/qt/wireshark_main_window_slots.cpp
  ui/stratoshark/CMakeLists.txt
  ui/stratoshark/stratoshark_en.ts
  ui/stratoshark/stratoshark_io_graph_dialog.cpp
  ui/stratoshark/stratoshark_io_graph_dialog.h
  ui/stratoshark/stratoshark_main_window_slots.cpp
Due: Ubuntu Qt5 Build

dumpcap: Use PCAP_ERROR instead of -1
  dumpcap.c
Due: none

epan: Use unsigned offset and length for tvb_get_raw_stringz
  epan/tvbuff.c
  epan/tvbuff.h
Due: none

KeyboardShortcutsDialog: Use application API to get application name
  ui/qt/keyboard_shortcuts_dialog.cpp
Due: Ubuntu Qt5 Build

packet-ipsec.h: Don't include cfile.h
  epan/dissectors/packet-ipsec.h
Due: none

Path conditions:
  Documentation: any of: doc/**/*, epan/wslua/**/*
  Ubuntu Qt5 Build: any of: ui/**/*
