Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Ubuntu Qt5 Build

Path conditions:
  Documentation: any of: doc/**/*, epan/wslua/**/*
  Ubuntu Qt5 Build: any of: ui/**/*

wmem: Doxygen multimap
  wsutil/wmem/wmem_multimap.h
Due: none

wmem: Doxygen queue
  wsutil/wmem/wmem_queue.h
Due: none

RTPS: Fix signed overflow
  epan/dissectors/packet-rtps.c
Due: none

win32-utils: fetch exception descriptions from ntdll.dll.
  wsutil/win32-utils.c
Due: none

wmem: Doxygen strbuf
  wsutil/wmem/wmem_strbuf.h
Due: none

Qt: Set our application user model ID on Windows
  ui/qt/main.cpp
Due: Ubuntu Qt5 Build

PLDM: Add the PLDM Type to the INFO column
  epan/dissectors/packet-pldm.c
Due: none

TCPCL: Fix signed overflow UB
  epan/dissectors/packet-tcpcl.c
Due: none

PROFINET: fix incorrect field name in IOCRBlockReq
  plugins/epan/profinet/packet-dcerpc-pn-io.c
Due: none

sgp22: More type export
  epan/dissectors/asn1/sgp22/sgp22_exp.cnf
  epan/dissectors/packet-sgp32.c
Due: none

SDP: Fix compilation with DEBUG_CONVERSATION enabled
  epan/dissectors/packet-sdp.c
Due: none

sgp22: Use the generated exports
  epan/dissectors/asn1/sgp22/CMakeLists.txt
  epan/dissectors/asn1/sgp22/sgp22_exp.cnf
  epan/dissectors/asn1/sgp32/CMakeLists.txt
  epan/dissectors/asn1/sgp32/sgp32.cnf
  epan/dissectors/packet-sgp32.c
Due: none

Qt: Fix an include
  ui/qt/main.cpp
Due: Ubuntu Qt5 Build

MEGACO: Use a different hf variable for Context across protocols
  epan/dissectors/packet-megaco.c
Due: none

CMake: Preserve include directory structure
  CMakeLists.txt
Due: none

Always use the report_message routines.
  capinfos.c
  captype.c
  dftest.c
  editcap.c
  extcap/androiddump.c
  randpkt_core/randpkt_core.c
  rawshark.c
  reordercap.c
  sharkd.c
  strato.c
  text2pcap.c
  tshark.c
  ui/alert_box.c
  ui/alert_box.h
  ui/export_pdu_ui_utils.c
  ui/failure_message.c
  ui/failure_message.h
  ui/qt/export_dissection_dialog.cpp
  ui/qt/export_object_dialog.cpp
  ui/qt/follow_stream_dialog.cpp
  ui/qt/import_text_dialog.cpp
  ui/qt/proto_tree.cpp
  ui/qt/sequence_dialog.cpp
  ui/qt/wireshark_main_window.cpp
  ui/qt/wireshark_main_window_slots.cpp
  ui/rtp_stream.c
  ui/stratoshark/stratoshark_main_window.cpp
  ui/stratoshark/stratoshark_main_window_slots.cpp
  wsutil/failure_message_simple.c
  wsutil/failure_message_simple.h
Due: Ubuntu Qt5 Build

WSUG: Add a mention of Windows 11
  doc/wsug_src/wsug_files.adoc
Due: Documentation

packaging: Fix comments referring to resources
  packaging/nsis/stratoshark.nsi
  packaging/nsis/wireshark.nsi
  packaging/wix/Prerequisites.wxi
Due: none

tools: Remove library installation from macos-setup.sh
  doc/wsdg_src/wsdg_libraries.adoc
  doc/wsdg_src/wsdg_quick_setup.adoc
  doc/wsdg_src/wsdg_tools.adoc
  tools/macos-setup-brew.sh
  tools/macos-setup.sh
Due: Documentation

Fix spelling errors
  epan/dissectors/asn1/ansi_map/packet-ansi_map-template.c
  epan/dissectors/asn1/ansi_tcap/packet-ansi_tcap-template.c
  epan/dissectors/asn1/c1222/packet-c1222-template.c
  epan/dissectors/asn1/disp/packet-disp-template.c
  epan/dissectors/asn1/rnsap/packet-rnsap-template.c
  epan/dissectors/asn1/snmp/packet-snmp-template.c
  epan/dissectors/asn1/tcap/packet-tcap-template.c
  epan/dissectors/file-rfc7468.c
  epan/dissectors/packet-ansi_map.c
  epan/dissectors/packet-ansi_tcap.c
  epan/dissectors/packet-ber.c
  epan/dissectors/packet-bt-utp.c
  epan/dissectors/packet-c1222.c
  epan/dissectors/packet-dhcp.c
  epan/dissectors/packet-disp.c
  epan/dissectors/packet-epl.c
  epan/dissectors/packet-h221_nonstd.c
  epan/dissectors/packet-nvme.c
  epan/dissectors/packet-qnet6.c
  epan/dissectors/packet-rnsap.c
  epan/dissectors/packet-rsl.c
  epan/dissectors/packet-sctp.c
  epan/dissectors/packet-sdp.c
  epan/dissectors/packet-snmp.c
  epan/dissectors/packet-tcap.c
  epan/dissectors/packet-tcp.c
  epan/dissectors/packet-tds.c
  epan/dissectors/packet-wassp.c
  epan/dissectors/packet-zbee-zcl-general.c
  plugins/epan/profinet/packet-dcerpc-pn-io.c
  tools/check_spelling.py
  tools/wireshark_words.txt
  wiretap/iptrace.c
Due: none

netlink-netfilter: Significantly expand dissection for nft
  epan/dissectors/packet-netlink-netfilter.c
Due: none

Diameter: Adds (Tgpp-)Service-Selection to SWm interface
  resources/protocols/diameter/dictionary.xml
Due: none

tools: Install Qt 6 by default
  .gitlab-ci.yml
  tools/debian-setup.sh
  tools/rpm-setup.sh
Due: none

Provide bluetooth UUID strings as part of the tap data
  epan/dissectors/packet-btatt.c
  epan/dissectors/packet-btatt.h
  ui/qt/bluetooth_att_server_attributes_dialog.cpp
Due: Ubuntu Qt5 Build

packet-tcp.h: alignment of structures to reduce padding
  epan/dissectors/packet-tcp.h
Due: none

Falco events: Updates for Falco libs 0.22.0
  plugins/epan/falco_events/sinsp-span.cpp
Due: none

asterix dissector updated (bugfix, code refactor)
  epan/dissectors/packet-asterix-generated.h
  epan/dissectors/packet-asterix.c
  tools/asterix/generate_dissector.py
Due: none

debian: stratoshark: Suggest falcosecurity-scap-dkms
  packaging/debian/control
Due: none

WSDG: fix macOS Qt installation instructions.
  doc/wsdg_src/wsdg_quick_setup.adoc
Due: Documentation

expert: Track expert info with the same abbrev
  epan/expert.c
  epan/expert.h
Due: none

NTLMSSP: Check for negative offsets
  epan/dissectors/packet-ntlmssp.c
Due: none

RTP: Add payload encoding name to the tap data
  epan/dissectors/packet-rtp.c
  epan/dissectors/packet-rtp.h
  ui/voip_calls.c
Due: Ubuntu Qt5 Build

packaging: Windows version checks
  cmakeconfig.h.in
  doc/wsug_src/wsug_introduction.adoc
  packaging/nsis/stratoshark.nsi
  packaging/nsis/wireshark.nsi
  packaging/wix/Prerequisites.wxi
Due: Documentation

ORAN FH CUS: trivial comment updates
  epan/dissectors/packet-oran.c
  epan/dissectors/packet-oran.h
Due: none
