Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Ubuntu Qt5 Build

Path conditions:
  Documentation: any of: doc/**/*, epan/wslua/**/*
  Ubuntu Qt5 Build: any of: ui/**/*

DOF: Ensure that a string is null terminated at the proper place
  epan/dissectors/packet-dof.c
Due: none

extcap: Make our interface probing less verbose
  extcap/dumpcalls.cpp
Due: none

GitLab CI: Fix our clang version
  .gitlab-ci.yml
Due: none

Fix response code lookup when error bit is set
  epan/dissectors/packet-omron-fins.c
Due: none

wslua: Add support for column append with separator
  epan/wslua/wslua_column.c
Due: Documentation

gsm_sim: Improvement to file identifiers
  epan/dissectors/packet-gsm_sim.c
Due: none

packet-cql.c: dissect non-compressed CQLv5 frames
  epan/dissectors/packet-cql.c
Due: none

debian: Switch to using scap -> _scap group name for dumpcalls
  packaging/debian/po/cs.po
  packaging/debian/po/da.po
  packaging/debian/po/de.po
  packaging/debian/po/es.po
  packaging/debian/po/eu.po
  packaging/debian/po/fi.po
  packaging/debian/po/fr.po
  packaging/debian/po/ga_IE.po
  packaging/debian/po/hu.po
  packaging/debian/po/id.po
  packaging/debian/po/it.po
  packaging/debian/po/ja.po
  packaging/debian/po/ko.po
  packaging/debian/po/nl.po
  packaging/debian/po/pt.po
  packaging/debian/po/pt_BR.po
  packaging/debian/po/ru.po
  packaging/debian/po/sk.po
  packaging/debian/po/sv.po
  packaging/debian/po/templates.pot
  packaging/debian/po/vi.po
  packaging/debian/stratoshark.postinst
  packaging/debian/templates
Due: none

ieee80211: Fix display name of BIGTK
  epan/dissectors/packet-ieee80211.c
Due: none

test: Serialize Lua numbers with the C numeric locale
  test/lua/inspect.lua
  test/suite_wslua.py
Due: none

wslua: Allow nil as column append separator
  epan/wslua/wslua_column.c
Due: Documentation

tools/check_typed_item_calls.py: make a couple of checks more pythonic
  tools/check_typed_item_calls.py
Due: none

XnAP: Make it possible to dissect private IEs
  epan/dissectors/asn1/xnap/xnap.cnf
  epan/dissectors/packet-xnap.c
Due: none

ieee80211: Support 16 bytes MIC in MME
  epan/dissectors/packet-ieee80211.c
Due: none

sgp32: Register media_type application/x-gsma-rsp-asn1
  epan/dissectors/asn1/sgp32/packet-sgp32-template.c
  epan/dissectors/asn1/sgp32/sgp32.cnf
  epan/dissectors/packet-sgp32.c
Due: none

packet-cql.c: first part of supporting CQLv5 support
  epan/dissectors/packet-cql.c
Due: none

Gitlab CI: Build macOS and Windows with Qt 6.9.3
  .gitlab-ci.yml
Due: none

sgp22: Update to v2.6
  epan/dissectors/asn1/sgp22/RSPDefinitions.asn
  epan/dissectors/asn1/sgp22/sgp22.cnf
  epan/dissectors/packet-sgp22.c
  epan/dissectors/packet-sgp22.h
Due: none

wlan_statistics_dialog.cpp: Refactor common elements
  epan/dissectors/packet-ieee80211.c
  epan/dissectors/packet-ieee80211.h
  ui/qt/wlan_statistics_dialog.cpp
Due: Ubuntu Qt5 Build

GitLab CI: Remove a no-longer-needed hack
  .gitlab-ci.yml
Due: none

Qt: Run without Liquid Glass on macOS
  packaging/macosx/StratosharkInfo.plist.in
  packaging/macosx/WiresharkInfo.plist.in
Due: none

asterix: fix table_p initialization error
  epan/dissectors/packet-asterix.c
Due: none

GNSS: fix potential null pointer dereference
  epan/dissectors/packet-ubx-galileo_e1b_inav.c
Due: none

ORAN FH CUS: Consolidate prefs used as number of array elements
  epan/dissectors/packet-oran.c
Due: none

Qt: Do not display capture start/end times when unset
  ui/qt/capture_file_properties_dialog.cpp
  ui/summary.c
  wiretap/file_access.c
Due: Ubuntu Qt5 Build

Qt: Run without Liquid Glass on macOS
  packaging/macosx/LograyInfo.plist.in
  packaging/macosx/WiresharkInfo.plist.in
Due: none

guid-utils: Replace macros with native calls
  epan/dissectors/packet-dcerpc-epm.c
  epan/dissectors/packet-dcerpc.c
  epan/dissectors/packet-dcom-remunkn.c
  epan/dissectors/packet-dcom.c
  epan/guid-utils.h
  epan/wslua/wslua_dissector.c
  plugins/epan/profinet/packet-dcom-cba.c
Due: Documentation

RPC: Use SRT parameter function for UI
  ui/qt/rpc_service_response_time_dialog.cpp
  ui/qt/rpc_service_response_time_dialog.h
Due: Ubuntu Qt5 Build
