Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Windows Qt5 Build

Path conditions:
  Documentation: any of: docbook/**/*, epan/wslua/**/*
  Windows Qt5 Build: any of: ui/**/*

dissector_try_payload_new -> dissector_try_payload_with_data
  epan/dissectors/packet-aruba-erm.c
  epan/dissectors/packet-bthci_cmd.c
  epan/dissectors/packet-bthci_evt.c
  epan/dissectors/packet-enip.c
  epan/dissectors/packet-flexray.c
  epan/dissectors/packet-flip.c
  epan/dissectors/packet-gre.c
  epan/dissectors/packet-i2c.c
  epan/dissectors/packet-ieee1722.c
  epan/dissectors/packet-infiniband.c
  epan/dissectors/packet-iso10681.c
  epan/dissectors/packet-iso14443.c
  epan/dissectors/packet-iso15765.c
  epan/dissectors/packet-moldudp.c
  epan/dissectors/packet-moldudp64.c
  epan/dissectors/packet-nfs.c
  epan/dissectors/packet-osi-options.c
  epan/dissectors/packet-pcli.c
  epan/dissectors/packet-rtacser.c
  epan/dissectors/packet-smp.c
  epan/dissectors/packet-socketcan.c
  epan/dissectors/packet-usb-ccid.c
  epan/dissectors/packet-x75.c
  epan/packet.c
  epan/packet.h
  epan/wslua/wslua_dissector.c
Due: Documentation

DNP3: Add Conversation and Endpoints Tables support
  doc/man_pages/tshark.adoc
  doc/release-notes.adoc
  epan/dissectors/packet-dnp.c
Due: none

slow protocols: Use the shorter name for protocol short name
  epan/dissectors/packet-lacp.c
  epan/dissectors/packet-marker.c
  epan/dissectors/packet-oampdu.c
  epan/dissectors/packet-ossp.c
  epan/dissectors/packet-slowprotocols.c
Due: none

Qt: Fix preference and UAT help URLs with fragments on Windows
  ui/qt/preferences_dialog.cpp
  ui/qt/uat_dialog.cpp
Due: Windows Qt5 Build

Qt: Fix our console preference initialization
  ui/stratoshark/stratoshark_main.cpp
Due: Windows Qt5 Build

CMakeList: Add documentation to Stratoshark
  CMakeLists.txt
Due: none

Fix extcap interfaces on profile change
  ui/iface_lists.c
Due: Windows Qt5 Build

Qt: Set Conversation Hash Tables read-only
  ui/qt/conversation_hash_tables_dialog.cpp
Due: Windows Qt5 Build

Fix some spelling errors (mostly in comments)
  epan/dissectors/packet-amqp.c
  epan/dissectors/packet-aruba-erm.c
  epan/dissectors/packet-awdl.c
  epan/dissectors/packet-ber.c
  epan/dissectors/packet-bthci_evt.c
  epan/dissectors/packet-gtp.c
  epan/dissectors/packet-infiniband.c
  epan/dissectors/packet-per.c
  epan/dissectors/packet-sdp.c
Due: none

acdr: Fix null deref
  epan/dissectors/packet-acdr.c
Due: none

epan: Use more unit_name_strings
  epan/dissectors/asn1/lpp/lpp.cnf
  epan/dissectors/asn1/lpp/packet-lpp-template.c
  epan/dissectors/packet-btlmp.c
  epan/dissectors/packet-btmcap.c
  epan/dissectors/packet-cdp.c
  epan/dissectors/packet-dccp.c
  epan/dissectors/packet-ieee80211.c
  epan/dissectors/packet-lldp.c
  epan/dissectors/packet-lpp.c
  epan/unit_strings.c
  epan/unit_strings.h
Due: none

Windows: Make sure our extcap interface name includes its display name
  extcap/sshdump.c
  extcap/wifidump.c
  ui/iface_lists.c
Due: Windows Qt5 Build

tvbuff: add tvb_get_uint64_with_length
  epan/proto.c
  epan/tvbuff.c
  epan/tvbuff.h
Due: none

DNP3: Handle multiple transport segments in a TCP segment
  epan/dissectors/packet-dnp.c
Due: none

feat(modbus): Call additional dissector based on function code
  epan/dissectors/packet-mbtcp.c
Due: none

Make a separate filter for Serving Network PLMN
  epan/dissectors/asn1/HI2Operations/HI2Operations.cnf
  epan/dissectors/packet-HI2Operations.c
  epan/dissectors/packet-e212.c
  epan/dissectors/packet-e212.h
  epan/dissectors/packet-gtpv2.c
  epan/dissectors/packet-mip6.c
Due: none

icmpv6: Capitalize code strings
  epan/dissectors/packet-icmpv6.c
Due: none

LI5G: update Correlation ID to uint64
  epan/dissectors/packet-li5g.c
Due: none

HI2Operations: update of EPSCorrelationNumber to show uint64
  epan/dissectors/asn1/HI2Operations/HI2Operations.cnf
  epan/dissectors/packet-HI2Operations.c
Due: none

Diameter: show Access-Network-Charging-Identifier-Value as optional UTF8
  resources/protocols/diameter/TGPP.xml
Due: none

icmpv6: Update code and options from IANA
  epan/dissectors/packet-icmpv6.c
Due: none

Sflow: Remove unused hf.
  epan/dissectors/packet-sflow.c
Due: none

Lua: Check and warn about unregistered ProtoFields in add_packet_field
  epan/wslua/wslua_proto.c
  epan/wslua/wslua_proto_field.c
  epan/wslua/wslua_tree.c
Due: Documentation

Qt: Check for valid clear_button
  ui/qt/widgets/display_filter_edit.cpp
Due: Windows Qt5 Build

sharkd: improve error messages, add --foreground option
  sharkd.c
  sharkd_daemon.c
Due: none

Lua: Update add_packet_field string encoding example
  doc/README.dissector
  epan/proto.c
  epan/wslua/wslua_tree.c
Due: Documentation

RTCP: Handle non-null terminated SDES in compound packet
  epan/dissectors/packet-rtcp.c
Due: none

asterix: upstream structure adjustment RepetitiveFx
  epan/dissectors/packet-asterix.c
  tools/asterix/update-specs.py
Due: none

asterix: upstream structure adjustment Expansion
  epan/dissectors/packet-asterix.c
  tools/asterix/convertspec.py
Due: none

OSPF: Add IGP Flexible Algorithm (rfc9350)
  epan/dissectors/packet-ospf.c
Due: none

ORAN FH CUS: Avoid compilation error
  epan/dissectors/packet-oran.c
Due: none

radiotap: Fixup bits 16 and 25 in the 'Present flags words' bitmap
  epan/dissectors/packet-ieee80211-radiotap-defs.h
  epan/dissectors/packet-ieee80211-radiotap.c
Due: none

radiotap: Improve the display of the 'XChannel' fields
  epan/dissectors/packet-ieee80211-radiotap.c
Due: none

radiotap: Highlight proper hex pane octets for 0-length-PSDU
  epan/dissectors/packet-ieee80211-radiotap.c
Due: none

capture_opts: Only read the list of capture filters when necessary
  capture_opts.c
Due: none
