Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Windows Qt5 Build

Path conditions:
  Documentation: any of: docbook/**/*, epan/wslua/**/*
  Windows Qt5 Build: any of: ui/**/*

Lua: Support comma separated DissectorTable ranges in decimal comma locales
  epan/wslua/wslua_dissector.c
Due: Documentation

lua: Add a fixture to test Lua scripts under different locales
  test/lua/locale.lua
  test/lua/protofield.lua
  test/lua/util.lua
  test/suite_wslua.py
Due: none

Test:Fix the test for automatic updates
  test/suite_release.py
Due: none

btbredr_rf: fix a warning
  epan/dissectors/packet-btbredr_rf.c
Due: none

epan: Fix get_display_repr crash on faked nodes
  epan/proto.c
Due: none

cisco-mcp: Fix adding VpcInfo to column
  epan/dissectors/packet-cisco-mcp.c
  epan/proto.h
Due: none

cli: uses namespaces in help output
  ui/commandline.c
Due: Windows Qt5 Build

CMake: Add a common extcap properties macro
  extcap/CMakeLists.txt
Due: none

DHCP: Handle rfc3396 long options in a generic manner
  epan/dissectors/packet-dhcp.c
Due: none

Qt: Advanced Preferences - Add "Copy/Copy Row(s)"
  ui/qt/models/pref_models.cpp
  ui/qt/preferences_dialog.cpp
  ui/qt/preferences_dialog.h
  ui/qt/preferences_dialog.ui
  ui/qt/wireshark_en.ts
Due: Windows Qt5 Build

TCP: Don't use client port for dissector selection
  epan/dissectors/packet-tcp.c
Due: none

TCP: add missing NULL-check
  epan/dissectors/packet-tcp.c
Due: none

dhcp: Add new data source after finalizing
  epan/dissectors/packet-dhcp.c
Due: none

extcap: Allow starting from Stratoshark extcap config
  ui/stratoshark/stratoshark_main_window_slots.cpp
Due: Windows Qt5 Build

tshark.adoc: fix the hosts file wikipedia link
  doc/man_pages/tshark.adoc
Due: none

WSDG: rework "Contribute Your Changes" section
  doc/wsdg_src/wsdg_sources.adoc
Due: none

Make commandline_print_usage() static to ui/commandline.c.
  ui/commandline.c
  ui/commandline.h
Due: Windows Qt5 Build

Get the compile-time versions of more libraries.
  epan/epan.c
  wsutil/version_info.c
Due: none

sshdig: Add Option for "modern-bpf"
  extcap/sshdig.c
Due: none

pop: Assert if the per packet frame data doesn't exist on later passes
  epan/dissectors/packet-pop.c
Due: none

Qt: 6.8 deprecations
  ui/qt/bluetooth_att_server_attributes_dialog.cpp
  ui/qt/bluetooth_att_server_attributes_dialog.h
  ui/qt/manuf_dialog.cpp
  ui/qt/manuf_dialog.h
  ui/qt/models/voip_calls_info_model.cpp
  ui/qt/packet_dialog.cpp
  ui/qt/packet_dialog.h
  ui/qt/widgets/additional_toolbar.cpp
  ui/qt/widgets/additional_toolbar.h
Due: Windows Qt5 Build

Check that ett_ subtree entries are in array(s) for registering
  epan/dissectors/asn1/HI2Operations/packet-HI2Operations-template.c
  epan/dissectors/packet-HI2Operations.c
  epan/dissectors/packet-cql.c
  epan/dissectors/packet-ipmi-trace.c
  epan/dissectors/packet-ipv6.c
  epan/dissectors/packet-nbifom.c
  epan/dissectors/packet-nmea0183.c
  epan/dissectors/packet-ospf.c
  epan/dissectors/packet-usbms-bot.c
  epan/dissectors/packet-wisun.c
  epan/dissectors/packet-zbee-zcl-closures.c
  tools/check_typed_item_calls.py
Due: none

docs: Switch tshark.adoc back to LF line endings
  doc/man_pages/tshark.adoc
Due: none

pfcp: fix Dead Sotre found by Clang Analyzer
  epan/dissectors/packet-pfcp.c
Due: none

GENEVE: fix Dead Store found by Clang Analyzer
  epan/dissectors/packet-geneve.c
Due: none

btle: fix Dead Store found by Clang Analyzer
  epan/dissectors/packet-btle.c
Due: none

EAP: fix Dead Store found by Clang Analyzer
  epan/dissectors/packet-eap.c
Due: none

ORAN FH CUS: Show individual flags/REs for sReSMask fields
  epan/dissectors/packet-oran.c
Due: none

macOS: Switch away from a deprecated Sparkle method
  ui/macosx/sparkle_bridge.m
Due: Windows Qt5 Build

CMake: Look for Sparkle in /opt/homebrew
  cmake/modules/FindSparkle.cmake
Due: none
