Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Windows Qt5 Build

Path conditions:
  Documentation: any of: docbook/**/*, epan/wslua/**/*
  Windows Qt5 Build: any of: ui/**/*

MPEG PES: Add other video and audio stream assignments
  epan/dissectors/asn1/mpeg-pes/mpeg-pes.asn
  epan/dissectors/asn1/mpeg-pes/packet-mpeg-pes-template.c
  epan/dissectors/packet-mpeg-pes.c
Due: none

Qt: Add "Enable Legend" to the I/O Graph context menu
  ui/qt/io_graph_dialog.cpp
  ui/qt/io_graph_dialog.h
  ui/qt/io_graph_dialog.ui
Due: Windows Qt5 Build

Qt: Fix pressing Enter does not work
  ui/qt/wireshark_main_window.cpp
  ui/stratoshark/stratoshark_main_window.cpp
Due: Windows Qt5 Build

Use BASE_SPECIAL_VALS for infinity in DHCPv6 dissector
  epan/dissectors/packet-dhcpv6.c
Due: none

CMake+Qt: Get build working with MSVC 2022 and Qt 6.8.0
  ui/qt/CMakeLists.txt
  ui/stratoshark/CMakeLists.txt
Due: Windows Qt5 Build

TCP: don't hide the expert item behind the tree
  epan/dissectors/packet-tcp.c
Due: none

Fix potential integer overflow in getnum
  epan/wslua/wslua_struct.c
Due: Documentation

esp: fix conditional logic to avoid uninitialized variables
  epan/dissectors/packet-ipsec.c
Due: none

Check expert summary field for including format specifiers
  epan/dissectors/packet-rtcp.c
  tools/check_typed_item_calls.py
Due: none

sflow: fix output interface expanded for v5
  epan/dissectors/packet-sflow.c
Due: none

GitLab CI: Switch the Windows builds to Qt 6.8.0
  .gitlab-ci.yml
Due: none

HI2Operations: add some E212/GTPv2 decoding
  epan/dissectors/asn1/HI2Operations/HI2Operations.cnf
  epan/dissectors/asn1/HI2Operations/packet-HI2Operations-template.c
  epan/dissectors/packet-HI2Operations.c
  epan/dissectors/packet-gtpv2.c
  epan/dissectors/packet-gtpv2.h
Due: none

GTP: Introduce heuristic dissector list to handle PDU dissection
  epan/dissectors/packet-gtp.c
  epan/dissectors/packet-ip.c
Due: none

capinfos: Fix printing sections info (do not print irrelevant information)
  capinfos.c
Due: none

DECT MITEL ETH: Fix a capability flags field
  epan/dissectors/packet-dect-mitel-eth.c
Due: none

ORAN FH CUS: Recognise new section and extension names from v16
  epan/dissectors/packet-oran.c
Due: none

Qt: Prevent overflow in I/O Graph simple moving average
  ui/io_graph_item.c
  ui/qt/io_graph_dialog.cpp
Due: Windows Qt5 Build

Qt: Add X and Y axis context menus to I/O Graph
  ui/qt/io_graph_dialog.cpp
  ui/qt/io_graph_dialog.h
  ui/qt/io_graph_dialog.ui
Due: Windows Qt5 Build

Qt: Set minimum required package as 5.15
  CMakeLists.txt
Due: none

TCP: check first if a change is going to be made in the first place
  epan/dissectors/packet-tcp.c
Due: none

ORAN FH CUS: Add handling for SE 10 beamGroupType=3
  epan/dissectors/packet-oran.c
Due: none

Remove remaining format specifiers from expert summaries
  epan/dissectors/asn1/ldap/packet-ldap-template.c
  epan/dissectors/packet-couchbase.c
  epan/dissectors/packet-dcm.c
  epan/dissectors/packet-dmp.c
  epan/dissectors/packet-dvbci.c
  epan/dissectors/packet-glbp.c
  epan/dissectors/packet-icep.c
  epan/dissectors/packet-ldap.c
  epan/dissectors/packet-ldp.c
  epan/dissectors/packet-llrp.c
  epan/dissectors/packet-mpls-y1711.c
  epan/dissectors/packet-omron-fins.c
  epan/dissectors/packet-ositp.c
  epan/dissectors/packet-pw-satop.c
  epan/dissectors/packet-rtps.c
  epan/dissectors/packet-umts_fp.c
  epan/dissectors/packet-umts_rlc.c
  epan/dissectors/packet-zvt.c
  tools/check_typed_item_calls.py
Due: none

Qt: Remove workarounds for Qt < 5.15
  CMakeLists.txt
  INSTALL
  doc/README.developer
  doc/wsdg_src/wsdg_libraries.adoc
  tools/macos-setup.sh
  ui/qt/CMakeLists.txt
  ui/qt/about_dialog.cpp
  ui/qt/extcap_argument_multiselect.cpp
  ui/qt/follow_stream_dialog.cpp
  ui/qt/funnel_statistics.cpp
  ui/qt/main.cpp
  ui/qt/main_application.cpp
  ui/qt/models/filter_list_model.cpp
  ui/qt/packet_list.cpp
  ui/qt/print_dialog.cpp
  ui/qt/show_packet_bytes_dialog.cpp
  ui/qt/tlskeylog_launcher_dialog.cpp
  ui/qt/utils/color_utils.cpp
  ui/qt/utils/qt_ui_utils.cpp
  ui/qt/widgets/capture_filter_edit.cpp
  ui/qt/widgets/compression_group_box.cpp
  ui/qt/widgets/display_filter_combo.cpp
  ui/qt/widgets/display_filter_combo.h
  ui/qt/widgets/packet_list_header.cpp
  ui/qt/widgets/traffic_tab.cpp
  ui/qt/widgets/wireless_timeline.cpp
  ui/qt/wireshark_main_window_slots.cpp
  ui/stratoshark/CMakeLists.txt
  ui/stratoshark/stratoshark_main.cpp
  ui/stratoshark/stratoshark_main_window_slots.cpp
Due: Windows Qt5 Build

wmem: Add wmem_map_find function
  wsutil/wmem/wmem_map.c
  wsutil/wmem/wmem_map.h
  wsutil/wmem/wmem_test.c
Due: none

WiX: Fix our generated Qt component IDs
  packaging/wix/windeployqt-to-wix.ps1
Due: none

IS-IS: Add Application-Specific SRLG TLV (rfc9479)
  epan/dissectors/packet-isis-clv.h
  epan/dissectors/packet-isis-lsp.c
Due: none

ORAN FH CUS: Add SE 24
  epan/dissectors/packet-oran.c
Due: none

HTTP2: Fix decompression of single padded DATA frames
  epan/dissectors/packet-http2.c
  epan/reassemble.c
Due: none

MNDP: Strengthen heuristics
  epan/dissectors/packet-mndp.c
Due: none

NSH: add heuristic dissector
  epan/dissectors/packet-nsh.c
  epan/dissectors/packet-nsh.h
Due: none

HTTP/2, HTTP: Support zstd Content-Encoding
  doc/release-notes.adoc
  epan/dissectors/packet-http.c
  epan/dissectors/packet-http2.c
  test/captures/http2-zstd.pcapng
  test/suite_dissection.py
Due: none

wmem: Add wmem_tree_lookup32_le_full
  wsutil/wmem/wmem_test.c
  wsutil/wmem/wmem_tree.c
  wsutil/wmem/wmem_tree.h
Due: none

ORAN FH CUS: Add Section Extensions 26 & 26
  epan/dissectors/packet-oran.c
Due: none
