Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Ubuntu Qt5 Build

Documentation:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  after_script:
  ...

Ubuntu Qt5 Build:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  - useradd user
  - export LANG=en_US.UTF-8
  ...

Convert funnel ops to use GSList
  epan/funnel.c
Due: none

tools/check_common.py: avoid returning binary files after querying git
  tools/check_common.py
Due: none

coap: Add URI-Path dissector table
  epan/dissectors/packet-coap.c
  epan/dissectors/packet-coap.h
  epan/dissectors/packet-thread.c
Due: none

epan: Make some protocol names easier to grep
  doc/README.dissector
  epan/dissectors/packet-dcp-etsi.c
  epan/dissectors/packet-ecpri.c
  epan/dissectors/packet-frame.c
  epan/dissectors/packet-kdp.c
  epan/dissectors/packet-opus.c
  epan/dissectors/packet-zbee-direct.c
Due: Documentation

Fix some spelling errors
  epan/dissectors/file-elf.c
  tools/wireshark_words.txt
  ui/qt/manuf_dialog.ui
Due: Ubuntu Qt5 Build

x509af: Add an expert info for cert validity
  epan/dissectors/asn1/x509af/packet-x509af-template.c
  epan/dissectors/asn1/x509af/x509af.cnf
  epan/dissectors/packet-x509af.c
  test/captures/tls-fragmented-over-tcp-segmented.pcapng.gz
Due: none

sgp32: Register CoAP URI-Path
  epan/dissectors/asn1/sgp32/packet-sgp32-template.c
  epan/dissectors/packet-sgp32.c
Due: none

Prep for 4.4.11
  doc/release-notes.adoc
Due: Documentation

docs: Update README.dissector for ENC_TIME_SECS_USECS
  doc/README.dissector
Due: Documentation

KDSP: Prevent some bogus expert info warnings
  epan/dissectors/packet-kdsp.c
Due: none

KDSP: Dissect timeval as time
  epan/dissectors/packet-kdsp.c
Due: none

Prep for 4.6.1
  doc/Wireshark_Release_Notes.adoc
Due: Documentation

Fixes for -Wformat-truncation warnings
  epan/dissectors/packet-ieee80211.c
  epan/dissectors/packet-ipsec.c
Due: none

DOSCIS: Update URLs
  epan/dissectors/packet-docsis.c
Due: none

CMake: Enable (stop disabling) format-truncation warnings
  CMakeLists.txt
Due: none

More conversions of tvb_new_subset_length_caplen
  epan/dissectors/packet-http.c
  epan/dissectors/packet-kdsp.c
  epan/dissectors/packet-pw-satop.c
  epan/dissectors/packet-smpp.c
Due: none

DOCSIS: Get rid of length_caplen, use maybefcs Eth dissector
  epan/dissectors/packet-docsis.c
Due: none

ATM PW: Convert tvb_new_subset_length_caplen
  epan/dissectors/packet-pw-atm.c
Due: none

ORAN FH CUS: Check that reserved fields are 0
  epan/dissectors/packet-oran.c
Due: none

Transifex: Set our resource names in the config file
  .tx/config
Due: none

V5DL: Get rid of tvb_new_subset_length_caplen
  epan/dissectors/packet-v5dl.c
Due: none

DHCPv4: Add support for option 162 Discovery of Network DNS resolvers
  epan/dissectors/packet-dhcp.c
Due: none

isakmp: Add missing ) for Fortinet network ID
  epan/dissectors/packet-isakmp.c
Due: none

isakmp: Add VID Fortinet Forticlient EAP Extension
  epan/dissectors/packet-isakmp.c
Due: none

RTP: tvb_new_subset_length_caplen -> tvb_new_subset_length
  epan/dissectors/packet-rtp.c
Due: none

ORAN FH CUS: ST9 - show correct PRB entry against SINR values
  epan/dissectors/packet-oran.c
Due: none

MS/TP: Make alignment consistent
  epan/dissectors/packet-mstp.c
Due: none

IPSec TCP: Remove length_caplen
  epan/dissectors/packet-ipsec-tcp.c
Due: none

Move funnel ops outside of being a tap
  epan/funnel.c
  epan/funnel.h
  epan/wslua/wslua_gui.c
  ui/cli/tap-funnel.c
  ui/qt/funnel_statistics.cpp
  ui/qt/funnel_statistics.h
  ui/qt/main.cpp
  ui/qt/wireshark_main_window.cpp
  ui/qt/wireshark_main_window.h
  ui/stratoshark/stratoshark_main.cpp
  ui/stratoshark/stratoshark_main_window.cpp
  ui/stratoshark/stratoshark_main_window.h
Due: Documentation, Ubuntu Qt5 Build

NSIS+WiX: Create a dummy gcrypt configuration directory
  packaging/nsis/stratoshark.nsi
  packaging/nsis/wireshark.nsi
  packaging/wix/DirectoryStructure.wxi
Due: none

packet-t38.c: Dissable heuristic by default.
  epan/dissectors/asn1/t38/packet-t38-template.c
  epan/dissectors/packet-acdr.c
  epan/dissectors/packet-t38.c
Due: none

paket-ar-drone: Dissabe heuristics by default, cleanup hf,ett and ei
  epan/dissectors/packet-ar_drone.c
Due: none

MS/TP: Use common CRC16-CCITT function
  epan/dissectors/packet-mstp.c
Due: none

NTLM SSP: Add NTLMSSP_NEGOTIATE_LOCAL_CALL
  epan/dissectors/packet-ntlmssp.c
Due: none

packet-asphodel.c: Change heuristic to default off.
  epan/dissectors/packet-asphodel.c
Due: none

Build: 4.6.1 [skip ci]
  ChangeLog
  doc/Wireshark_Release_Notes.adoc
Due: Documentation

Build: 4.4.11 [skip ci]
  ChangeLog
  doc/release-notes.adoc
Due: Documentation

Bittorent: Dissabel heuristics by default.
  epan/dissectors/packet-bt-dht.c
  epan/dissectors/packet-bt-tracker.c
Due: none

Path conditions:
  Documentation: any of: doc/**/*, epan/wslua/**/*
  Ubuntu Qt5 Build: any of: ui/**/*
