Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Windows Qt5 Build

Path conditions:
  Documentation: any of: docbook/**/*, epan/wslua/**/*
  Windows Qt5 Build: any of: ui/**/*

Qt: Don't refresh interfaces while capturing
  ui/qt/main_application.cpp
  ui/qt/main_application.h
Due: Windows Qt5 Build

ORAN FH CUS: Add SE 23
  epan/dissectors/packet-oran.c
Due: none

dumpcap: Add a comment about capabilities and monitor mode
  dumpcap.c
Due: none

dumpcap: Fix dumpcap capture child with LeakSanitizer standalone
  cmakeconfig.h.in
  dumpcap.c
Due: none

ORAN FH CUS: add SE3
  epan/dissectors/packet-oran.c
Due: none

Update packet-nfapi.c
  epan/dissectors/packet-nfapi.c
Due: none

btle: Fix Dead Store found by Clang Analyzer
  epan/dissectors/packet-btle.c
Due: none

capture: Disable interface monitor on Linux when getting caps
  CMakeLists.txt
  capture/capture_ifinfo.c
  capture/iface_monitor.c
  capture/iface_monitor.h
  ui/capture.c
  ui/qt/main_application.cpp
Due: Windows Qt5 Build

GNSS: add dissector for Galileo I/Nav Word 4
  epan/dissectors/packet-ubx-galileo_e1b_inav.c
Due: none

tshark: Add column field abbreviations to -G column-formats
  doc/man_pages/tshark.adoc
  epan/column.c
Due: none

WSUG: reformulate the deinterlacing indication part
  doc/wsug_src/wsug_customize.adoc
  epan/prefs.c
Due: none

MPEG PES: Fix dissection of video streams with length present
  epan/dissectors/asn1/mpeg-pes/packet-mpeg-pes-template.c
  epan/dissectors/packet-mpeg-pes.c
Due: none

TWAMP: Fix sender timestamp format (Z-bit, RFC 8186)
  epan/dissectors/packet-twamp.c
Due: none

TLS, DTLS: Make dissector selection in the UAT more user-friendly
  epan/dissectors/packet-dtls.c
  epan/dissectors/packet-tls-utils.c
  epan/dissectors/packet-tls.c
  epan/uat.h
Due: none

Potential Security Vulnerability
  test/suite_outputformats.py
Due: none

PTP: Fix analysis when sequenceId resets happen (BUGFIX).
  epan/dissectors/packet-ptp.c
Due: none

ORAN FH CUS: expert info for seqnum analysis on first pass
  epan/dissectors/packet-oran.c
Due: none

OWAMP: Support PTP timestamps (RFC 8186)
  epan/dissectors/packet-twamp.c
Due: none

Art-Net: Update OEM and ESTA codes
  epan/dissectors/packet-artnet.c
Due: none

BLF: Make sure we return if we fail to allocate memory
  wiretap/blf.c
Due: none

Qt: Set HighDpiScaleFactorRoundingPolicy before creating the app
  ui/logray/logray_main.cpp
  ui/qt/main.cpp
  ui/qt/main_application.cpp
Due: Windows Qt5 Build

Update enums.
  epan/introspection-enums.c
  wiretap/introspection-enums.c
Due: none

wslua: fix indentation. [skip ci]
  epan/wslua/wslua_dumper.c
Due: Documentation

Put cases for error codes in the same order in two files.
  ui/alert_box.c
  ui/failure_message.c
Due: Windows Qt5 Build

Update enums.
  wiretap/introspection-enums.c
Due: none

BLF: Skip over corrupted log containers with a warning
  wiretap/blf.c
Due: none

BLF: Replace ws_strdup_printf with ws_strdup where it makes sense
  wiretap/blf.c
Due: none

NTS-KE: Extend Lookup Values
  epan/dissectors/packet-nts-ke.c
Due: none

Add a routine to report rename failures.
  file.c
  ui/alert_box.c
  ui/alert_box.h
Due: Windows Qt5 Build

gen-bugnote: Fix an escape
  tools/gen-bugnote
Due: none
