Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Ubuntu Qt5 Build

Path conditions:
  Documentation: any of: doc/**/*, epan/wslua/**/*
  Ubuntu Qt5 Build: any of: ui/**/*

expert: Clear same_name_expinfo before insert
  epan/expert.c
Due: none

packet-kerberos.c: Fix extraneous ) in wmem_strbuf_append_printf call
  epan/dissectors/asn1/kerberos/packet-kerberos-template.c
  epan/dissectors/packet-kerberos.c
Due: none

AUTHORS: Update a feature name
  AUTHORS
Due: none

Qt: Hide the DataSourceTab before adding or removing tabs
  epan/dissectors/packet-per.c
  ui/qt/data_source_tab.cpp
Due: Ubuntu Qt5 Build

BER: Prevent signed overflow in dissect_ber_choice
  epan/dissectors/packet-ber.c
Due: none

GNSS: dissect Galileo OSNMA DSM-PKR
  epan/dissectors/packet-ubx-galileo_e1b_inav.c
Due: none

Add support for Ubiquiti AP name parsing
  epan/dissectors/packet-ieee80211.c
  epan/oui.h
Due: none

Qt: Put back the clear call in DataSourceTab
  ui/qt/data_source_tab.cpp
Due: Ubuntu Qt5 Build

FTDI FT: Register VID/PID dissector preference
  epan/dissectors/packet-ftdi-ft.c
Due: none

ORAN FH CUS: getting config in place for modulation decompression
  epan/dissectors/packet-oran.c
Due: none

Qt: Workaround QTabBar O(N^2) bug
  ui/qt/data_source_tab.cpp
Due: Ubuntu Qt5 Build

HTTP: Fix upgrade info server port
  epan/dissectors/packet-http.c
Due: none

LUA: Move protocol specific functionality to its own file
  epan/wslua/CMakeLists.txt
  epan/wslua/wslua.h
  epan/wslua/wslua_proto.c
  epan/wslua/wslua_proto_helpers.c
  epan/wslua/wslua_utility.c
Due: Documentation

Create interface for handling generic UUID table lookups
  epan/CMakeLists.txt
  epan/dissectors/packet-dcerpc.c
  epan/dissectors/packet-dcerpc.h
  epan/dissectors/packet-portmap.c
  epan/dissectors/packet-rpc.c
  epan/dissectors/packet-rpc.h
  epan/epan.c
  epan/guid-utils.c
  epan/guid-utils.h
  epan/uuid_types.c
  epan/uuid_types.h
  ui/cli/tap-rpcprogs.c
  ui/qt/rpc_service_response_time_dialog.cpp
Due: Ubuntu Qt5 Build

wsutil: Use a common struct for SI/IEC prefixes.
  wsutil/str_util.c
  wsutil/test_wsutil.c
Due: none

Add tool for detecting bad proto_tree_add_* calls and fix known instances.
  tools/detect_bad_proto_tree_add.py
  tools/pre-commit
Due: none

Bluetooth: Register Bluetooth UUID type
  epan/dissectors/packet-bluetooth.c
  epan/dissectors/packet-bluetooth.h
  epan/dissectors/packet-btatt.c
  epan/dissectors/packet-bthci_cmd.c
  epan/dissectors/packet-btrfcomm.c
  epan/dissectors/packet-btsdp.c
Due: none

decode_as: Abstract "reset all" call for DCE/RPC
  epan/decode_as.c
  epan/decode_as.h
  epan/dissectors/asn1/its/packet-its-template.c
  epan/dissectors/packet-amqp.c
  epan/dissectors/packet-atm.c
  epan/dissectors/packet-ber.c
  epan/dissectors/packet-bluetooth.c
  epan/dissectors/packet-bpv7.c
  epan/dissectors/packet-btatt.c
  epan/dissectors/packet-bthci_cmd.c
  epan/dissectors/packet-bthci_evt.c
  epan/dissectors/packet-btl2cap.c
  epan/dissectors/packet-btrfcomm.c
  epan/dissectors/packet-dcerpc.c
  epan/dissectors/packet-dcerpc.h
  epan/dissectors/packet-dtls.c
  epan/dissectors/packet-ethertype.c
  epan/dissectors/packet-geonw.c
  epan/dissectors/packet-gfp.c
  epan/dissectors/packet-http2.c
  epan/dissectors/packet-ieee802154.c
  epan/dissectors/packet-ip.c
  epan/dissectors/packet-ipsec.c
  epan/dissectors/packet-ipv6.c
  epan/dissectors/packet-its.c
  epan/dissectors/packet-l2tp.c
  epan/dissectors/packet-loratap.c
  epan/dissectors/packet-miwi-p2pstar.c
  epan/dissectors/packet-mpeg-sect.c
  epan/dissectors/packet-mpls.c
  epan/dissectors/packet-obex.c
  epan/dissectors/packet-pdu-transport.c
  epan/dissectors/packet-rtp.c
  epan/dissectors/packet-sccp.c
  epan/dissectors/packet-sctp.c
  epan/dissectors/packet-sll.c
  epan/dissectors/packet-tcp.c
  epan/dissectors/packet-tls.c
  epan/dissectors/packet-udp.c
  epan/dissectors/packet-usb.c
Due: none

Give detect_bad_proto_tree_add.py execute permission
  tools/detect_bad_proto_tree_add.py
Due: none

Qt: Fix compilation with clang-cl
  ui/qt/widgets/qcp_spacer_legend_item.h
Due: Ubuntu Qt5 Build

wsutil: Call SHGetKnownFolderPath on Windows
  wsutil/filesystem.c
Due: none

test: don't check the Lrexlib version.
  test/lua/globals_4.4.txt
  test/lua/verify_globals.lua
Due: none

tls: Abbreviated Handshake Using New Session Ticket
  epan/dissectors/packet-tls-utils.c
Due: none

ORAN FH CUS: Fix a clang uninitialised warning
  epan/dissectors/packet-oran.c
Due: none

headers: Stop shipping broken headers
  CMakeLists.txt
  epan/dissectors/CMakeLists.txt
  wiretap/CMakeLists.txt
Due: none

Simplify and consolidate some "application flavor" functionality.
  dumpcap.c
  wsutil/application_flavor.c
  wsutil/application_flavor.h
  wsutil/filesystem.c
Due: none

ORAN FH CUS: Getting ready to decompress modulation compression
  epan/dissectors/packet-oran.c
Due: none

extcap: Do not try to read c:\etc\ssh\ssh_config on Windows
  extcap/ssh-base.c
Due: none

ui: Make the text encoding tables "static".
  ui/text_import.c
Due: Ubuntu Qt5 Build

Netlogon: add dissection of dsraddresstositenames[ex]w
  epan/dissectors/packet-dcerpc-netlogon.c
Due: none
