Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Ubuntu Qt5 Build

Path conditions:
  Documentation: any of: doc/**/*, epan/wslua/**/*
  Ubuntu Qt5 Build: any of: ui/**/*

gsm_sim: Various improvements
  epan/dissectors/packet-gsm_sim.c
Due: none

tools/find_filter_matches.py: test for usable tshark
  tools/find_filter_matches.py
Due: none

SVCCTL: Update idl for GetServiceDisplayNameW and GetServiceKeyNameW
  epan/dissectors/packet-dcerpc-svcctl.c
  epan/dissectors/pidl/svcctl/svcctl.idl
Due: none

SMB: Eliminate NBT Session message
  epan/dissectors/packet-smb.c
  epan/dissectors/packet-smb.h
Due: none

ORAN FH CUS: Use standard field names in section summary labels
  epan/dissectors/packet-oran.c
Due: none

SVCCTL: Update idl for GetServiceDisplayNameA and GetServiceKeyNameA
  epan/dissectors/packet-dcerpc-svcctl.c
  epan/dissectors/pidl/svcctl/svcctl.idl
Due: none

JSON-3GPP: Fix a few GRegex-related memory leaks.
  epan/dissectors/packet-json_3gpp.c
Due: none

WCCP: Fix signed overflow UB
  epan/dissectors/packet-wccp.c
Due: none

ORAN FH CUS: Some fixes to SE28 (previously untested)
  epan/dissectors/packet-oran.c
Due: none

Const-ify a selection of arrays of function pointers.
  epan/dissectors/packet-ansi_637.c
  epan/dissectors/packet-ansi_683.c
  epan/dissectors/packet-ansi_801.c
  epan/dissectors/packet-ansi_a.c
  epan/dissectors/packet-assa_r3.c
  epan/dissectors/packet-bssgp.c
  epan/dissectors/packet-gdsdb.c
  epan/dissectors/packet-gmr1_common.c
  epan/dissectors/packet-gmr1_rr.c
  epan/dissectors/packet-gsm_a_bssmap.c
  epan/dissectors/packet-gsm_a_common.c
  epan/dissectors/packet-gsm_a_common.h
  epan/dissectors/packet-gsm_a_dtap.c
  epan/dissectors/packet-gsm_a_gm.c
  epan/dissectors/packet-gsm_a_rp.c
  epan/dissectors/packet-gsm_a_rr.c
  epan/dissectors/packet-gsm_bsslap.c
  epan/dissectors/packet-gsm_bssmap_le.c
  epan/dissectors/packet-gsm_sms.c
  epan/dissectors/packet-json_3gpp.c
  epan/dissectors/packet-nas_5gs.c
  epan/dissectors/packet-nas_eps.c
  epan/dissectors/packet-sgsap.c
  epan/dissectors/packet-smb-logon.c
  epan/dissectors/packet-sndcp-xid.c
Due: none

SVCCTL: Add policy handle tracking
  epan/dissectors/packet-dcerpc-svcctl.c
  epan/dissectors/pidl/svcctl/svcctl.cnf
Due: none

tls/dtls: fix Dead Store found by Clang Analyzer
  epan/dissectors/packet-dtls.c
  epan/dissectors/packet-tls.c
Due: none

Revert "Switch our source tarball compression to zstd"
  .gitlab-ci.yml
  doc/wsdg_src/wsdg_sources.adoc
  packaging/rpm/wireshark.spec.in
  packaging/source/git-export-release.sh.in
Due: Documentation

Build: 4.6.0 [skip ci]
  ChangeLog
  doc/Wireshark_Release_Notes.adoc
Due: Documentation

Build: 4.4.10 [skip ci]
  ChangeLog
  doc/release-notes.adoc
Due: Documentation

Build: 4.2.14 [skip ci]
  ChangeLog
Due: none

DNS: fix field name for HIP HIT algo
  epan/dissectors/packet-dns.c
Due: none

pidl: Don't warn about params that are used
  tools/pidl/lib/Parse/Pidl/Wireshark/NDR.pm
Due: none

DFS: Fix VolumeState bitmap
  epan/dissectors/packet-dcerpc-dfs.c
  epan/dissectors/pidl/dfs/dfs.idl
Due: none

Qt: Make PNG the default graph "save" format
  ui/qt/iax2_analysis_dialog.cpp
  ui/qt/io_graph_dialog.cpp
  ui/qt/lte_rlc_graph_dialog.cpp
  ui/qt/plot_dialog.cpp
  ui/qt/rtp_analysis_dialog.cpp
  ui/qt/sctp_graph_dialog.cpp
  ui/qt/sequence_dialog.cpp
  ui/qt/tcp_stream_dialog.cpp
Due: Ubuntu Qt5 Build

SAMR: Fix a few hf renames
  epan/dissectors/packet-dcerpc-samr.c
  epan/dissectors/pidl/samr/samr.cnf
  epan/dissectors/pidl/samr/samr.idl
Due: none

pidl: Use has_property to avoid comparing undef with the empty string
  tools/pidl/lib/Parse/Pidl/Wireshark/NDR.pm
Due: none

SVCCTL: Fix typo in param
  epan/dissectors/packet-dcerpc-svcctl.c
  epan/dissectors/pidl/svcctl/svcctl.cnf
Due: none

dissector/ams: request/response tracking and calculated response time
  plugins/epan/ethercat/packet-ams.c
Due: none

gmr1_bcch, gsm_rlcmac: Const-ify CSNDESCR structs.
  epan/dissectors/packet-gmr1_bcch.c
  epan/dissectors/packet-gsm_rlcmac.c
Due: none

wslua: Add length check in TreeItem_set_len
  epan/wslua/wslua_tree.c
Due: Documentation

DNS: fix HIP PK algo field name
  epan/dissectors/packet-dns.c
Due: none

Version: 4.6.0 → 4.6.1 [skip ci]
  CMakeLists.txt
  doc/Wireshark_Release_Notes.adoc
  doc/attributes.adoc
  epan/CMakeLists.txt
  packaging/debian/changelog
  wiretap/CMakeLists.txt
Due: Documentation

Version: 4.2.14 → 4.2.15 [skip ci]
  CMakeLists.txt
  doc/release-notes.adoc
  docbook/attributes.adoc
  epan/CMakeLists.txt
  packaging/debian/changelog
  wiretap/CMakeLists.txt
Due: Documentation

Version: 4.4.10 → 4.4.11 [skip ci]
  CMakeLists.txt
  doc/attributes.adoc
  doc/release-notes.adoc
  epan/CMakeLists.txt
  packaging/debian/changelog
  wiretap/CMakeLists.txt
Due: Documentation

Fix some spelling errors
  epan/dissectors/asn1/atn-ulcs/packet-atn-ulcs-template.c
  epan/dissectors/asn1/camel/packet-camel-template.c
  epan/dissectors/asn1/dap/packet-dap-template.c
  epan/dissectors/asn1/nbap/packet-nbap-template.c
  epan/dissectors/asn1/tcap/packet-tcap-template.c
  epan/dissectors/packet-atn-ulcs.c
  epan/dissectors/packet-camel.c
  epan/dissectors/packet-dap.c
  epan/dissectors/packet-gsm_bsslap.c
  epan/dissectors/packet-gsm_bssmap_le.c
  epan/dissectors/packet-ieee1905.c
  epan/dissectors/packet-ieee80211.c
  epan/dissectors/packet-nbap.c
  epan/dissectors/packet-roughtime.c
  epan/dissectors/packet-rtps.c
  epan/dissectors/packet-sgsap.c
  epan/dissectors/packet-tcap.c
  tools/wireshark_words.txt
Due: none
