Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Windows Qt5 Build

Documentation:
  stage: build
  tags:
  - saas-linux-small-amd64
  before_script:
  - printf "\e[0Ksection_start:%s:ci_env_section[collapsed=true]\r\e[0KCI environment variables" "$(date +%s)"
  - env | grep ^CI | sort
  - printf "\e[0Ksection_end:%s:ci_env_section\r\e[0K" "$(date +%s)"
  after_script:
  ...

Windows Qt5 Build:
  stage: build
  retry: 1
  before_script:
  - if (-Not (Test-Path C:\Development)) { New-Item -Path C:\Development -ItemType "directory" }
  - $env:WIRESHARK_BASE_DIR = "C:\Development"
  - $env:Configuration = "RelWithDebInfo"
  - $env:Path += ";C:\Program Files\CMake\bin"
  ...

NAS 5GS: add URSP IP 3 tuple traffic descriptor dissection
  epan/dissectors/packet-nas_5gs.c
Due: none

GitHub Actions: Quote 3.10 in YAML
  .github/workflows/ubuntu.yml
Due: none

TCP: cleanup and improvements
  epan/dissectors/packet-tcp.c
Due: none

Revert "Qt: Set RelatedPacketDelegate decoration height to zero"
  ui/qt/models/related_packet_delegate.cpp
Due: Windows Qt5 Build

TCP: Handle Microsoft Large Send Offload partial checksums
  epan/dissectors/packet-tcp.c
Due: none

print: Add the data source index to jsonraw output
  epan/print.c
  test/baseline/dhcp.jsonraw
Due: none

tap-iostat: Print Time header for TS_UTC
  ui/cli/tap-iostat.c
Due: Windows Qt5 Build

EAX: avoid taking out-of-bounds address of array element
  wsutil/eax.c
Due: none

Zabbix: Use typing.List in type hints to support Python 3.7+
  test/suite_dissectors/group_zabbix.py
Due: none

DAAP: Don't fetch tag name and size twice
  epan/dissectors/packet-daap.c
Due: none

F5ethtrailer: Remove a use of snprintf
  epan/dissectors/packet-f5ethtrailer.c
Due: none

Qt: Workaround apparent Qt bug in delgate sizeHint with decoration
  ui/qt/models/related_packet_delegate.cpp
Due: Windows Qt5 Build

tap-iosta: Show fractional seconds of absolute time
  ui/cli/tap-iostat.c
Due: Windows Qt5 Build

IEC104: Clarification of the meaning of the SU bit
  epan/dissectors/packet-iec104.c
Due: none

isobus: Use a wmem_strbuf_t instead of snprintf
  epan/dissectors/packet-isobus.c
Due: none

.mailmap: update of April 2025
  .mailmap
  AUTHORS
Due: none

.mailmap: remove Remi Vichery
  .mailmap
Due: none

Fix: lua bit buffer overflow
  epan/wslua/lua_bitop.c
Due: Documentation

SOME/IP-SD: Avoid format-truncation warnings
  epan/dissectors/packet-someip-sd.c
Due: none

MQTT-SN: Correct flags
  epan/dissectors/packet-mqtt-sn.c
Due: none

QUIC: Handle more than one UDP datagram on a packet
  epan/dissectors/packet-quic.c
  epan/proto.c
  epan/proto.h
Due: none

echo,discard: Try Wake On Lan first on UDP
  epan/dissectors/packet-discard.c
  epan/dissectors/packet-echo.c
Due: none

print: Output null JSON value for null ftype strings
  epan/print.c
Due: none

tap-iostat: Avoid the use of snprintf
  ui/cli/tap-iostat.c
Due: Windows Qt5 Build

SMB2: Add some null checks
  epan/dissectors/packet-smb2.c
Due: none

RADIUS: Only set COL_PROTOCOL non-writable when calling EAP dissector
  epan/dissectors/packet-radius.c
Due: none

Update c-ares to 1.34.4 on Windows
  tools/win-setup.ps1
Due: none

GTPv2: track some more messages
  epan/dissectors/packet-gtpv2.c
Due: none

Windows packages: Update gnutls
  tools/win-setup.ps1
Due: none

Update NGHTTP2 package
  tools/win-setup.ps1
Due: none

Update maxminddb version
  tools/win-setup.ps1
Due: none

Update zstd package
  tools/win-setup.ps1
Due: none

Update vcpkg-export package
  tools/win-setup.ps1
Due: none

Add Catalan translation
  .tx/config
  ui/qt/CMakeLists.txt
  ui/qt/wireshark_ca.ts
Due: Windows Qt5 Build

Path conditions:
  Documentation: any of: docbook/**/*, epan/wslua/**/*
  Windows Qt5 Build: any of: ui/**/*
