Repository wireshark/wireshark: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Documentation, Ubuntu Qt5 Build

Path conditions:
  Documentation: any of: doc/**/*, epan/wslua/**/*
  Ubuntu Qt5 Build: any of: ui/**/*

Create an About dialog specific to Stratoshark
  ui/qt/about_dialog.cpp
  ui/qt/about_dialog.h
  ui/stratoshark/CMakeLists.txt
  ui/stratoshark/stratoshark_about_dialog.cpp
  ui/stratoshark/stratoshark_about_dialog.h
  ui/stratoshark/stratoshark_main_window_slots.cpp
Due: Ubuntu Qt5 Build

File sets: Add a pattern for Falco capture recordings
  fileset.c
Due: none

Create an Follow Stream dialog specific to Stratoshark
  ui/qt/follow_stream_dialog.cpp
  ui/qt/follow_stream_dialog.h
  ui/stratoshark/CMakeLists.txt
  ui/stratoshark/stratoshark_follow_stream_dialog.cpp
  ui/stratoshark/stratoshark_follow_stream_dialog.h
  ui/stratoshark/stratoshark_main_window_slots.cpp
Due: Ubuntu Qt5 Build

Reduce use of global_capture_opts by refactoring
  ui/commandline.c
  ui/commandline.h
  ui/iface_lists.c
  ui/iface_lists.h
  ui/preference_utils.c
  ui/preference_utils.h
  ui/qt/capture_options_dialog.cpp
  ui/qt/capture_options_dialog.h
  ui/qt/interface_frame.cpp
  ui/qt/main.cpp
  ui/qt/main_application.cpp
  ui/qt/manage_interfaces_dialog.cpp
  ui/qt/manage_interfaces_dialog.h
  ui/qt/preferences_dialog.cpp
  ui/qt/wireshark_main_window_slots.cpp
  ui/stratoshark/stratoshark_main.cpp
  ui/stratoshark/stratoshark_main_window_slots.cpp
Due: Ubuntu Qt5 Build

Create an search frame specific to Stratoshark
  ui/qt/search_frame.cpp
  ui/qt/search_frame.h
  ui/stratoshark/CMakeLists.txt
  ui/stratoshark/stratoshark_main_window.ui
  ui/stratoshark/stratoshark_search_frame.cpp
  ui/stratoshark/stratoshark_search_frame.h
Due: Ubuntu Qt5 Build

sgp32: Fix a CMake path to cnf file
  epan/dissectors/asn1/sgp32/CMakeLists.txt
Due: none

Pass application name through the capture interface
  capture/capture_ifinfo.c
  capture/capture_ifinfo.h
  capture/capture_sync.c
  capture/capture_sync.h
  dumpcap.c
  tshark.c
  ui/capture.c
  ui/capture_opts.c
  ui/capture_opts.h
  ui/commandline.c
  ui/iface_lists.c
  ui/qt/capture_options_dialog.cpp
  ui/qt/compiled_filter_output.cpp
  ui/qt/main.cpp
  ui/qt/manage_interfaces_dialog.cpp
  ui/qt/wireless_frame.cpp
  ui/stratoshark/stratoshark_main.cpp
Due: Ubuntu Qt5 Build

Provide software_update functionality with the application name and version
  ui/qt/main.cpp
  ui/qt/main_application.cpp
  ui/qt/main_application.h
  ui/software_update.c
  ui/software_update.h
  ui/stratoshark/stratoshark_main.cpp
Due: Ubuntu Qt5 Build

mmodule: Do not register common media_type
  epan/dissectors/file-mmodule.c
Due: none

DHCPv6: Reuse DNS SVCB param parsing code for DNR
  epan/dissectors/packet-dhcpv6.c
  epan/dissectors/packet-dns.c
Due: none

Create an profile dialog specific to Stratoshark
  ui/qt/profile_dialog.cpp
  ui/qt/profile_dialog.h
  ui/stratoshark/CMakeLists.txt
  ui/stratoshark/stratoshark_main_window_slots.cpp
  ui/stratoshark/stratoshark_profile_dialog.cpp
  ui/stratoshark/stratoshark_profile_dialog.h
Due: Ubuntu Qt5 Build

TCP Stream Dialog: Use "follow" API for stream count
  ui/qt/tcp_stream_dialog.cpp
  ui/qt/tcp_stream_dialog.h
Due: Ubuntu Qt5 Build

wsutil: Fix NSTIME_INIT_MAX initializer
  wsutil/nstime.c
  wsutil/nstime.h
Due: none

NetPerfMeter dissector: added "Decode As" support
  epan/dissectors/packet-netperfmeter.c
Due: none

HiPerConTracer dissector: added "Decode As" support
  epan/dissectors/packet-hipercontracer.c
Due: none

pkix1implicit: Use the generated exports
  epan/dissectors/asn1/cmp/CMakeLists.txt
  epan/dissectors/asn1/cmp/cmp.cnf
  epan/dissectors/asn1/crmf/CMakeLists.txt
  epan/dissectors/asn1/crmf/crmf.cnf
  epan/dissectors/asn1/ocsp/CMakeLists.txt
  epan/dissectors/asn1/ocsp/ocsp.cnf
  epan/dissectors/asn1/pkix1implicit/CMakeLists.txt
  epan/dissectors/asn1/pkix1implicit/pkix1implicit_exp.cnf
  epan/dissectors/asn1/pkixac/CMakeLists.txt
  epan/dissectors/asn1/pkixac/pkixac.cnf
  epan/dissectors/asn1/pkixtsp/CMakeLists.txt
  epan/dissectors/asn1/pkixtsp/pkixtsp.cnf
  epan/dissectors/asn1/sgp22/CMakeLists.txt
  epan/dissectors/asn1/sgp22/sgp22.cnf
  epan/dissectors/asn1/sgp32/CMakeLists.txt
  epan/dissectors/asn1/sgp32/sgp32.cnf
Due: none

procmon: fix Dead Store(assignement/inscrement) found by Clang Analyzer
  epan/dissectors/packet-procmon.c
Due: none

More spelling errors
  epan/dissectors/packet-bacapp.c
  epan/dissectors/packet-catapult-dct2000.c
  epan/dissectors/packet-e164.c
  epan/dissectors/packet-gtp.c
  epan/dissectors/packet-gtpv2.c
  epan/dissectors/packet-ieee80211-netmon.c
  epan/dissectors/packet-mq.c
  tools/check_spelling.py
  tools/check_typed_item_calls.py
  tools/wireshark_words.txt
  wsutil/nstime.c
Due: none

check_typed_item_calls.py: Avoid repeatedly re-reading dissector files
  tools/check_typed_item_calls.py
Due: none

LZ4: Ensure "lz4_prefs" is configured before use.
  wsutil/file_compressed.c
Due: none

LZ4: Ensure "lz4_prefs" is configured before use.
  doc/Wireshark_Release_Notes.adoc
  wiretap/file_wrappers.c
Due: Documentation

Take application flavor out of capture functionality
  capture/capture-pcap-util-int.h
  capture/capture-pcap-util-unix.c
  capture/capture-pcap-util.c
  capture/capture-pcap-util.h
  capture/capture-wpcap.c
  dumpcap.c
  ui/qt/manage_interfaces_dialog.cpp
  ui/qt/remote_capture_dialog.cpp
  wsutil/application_flavor.c
  wsutil/application_flavor.h
Due: Ubuntu Qt5 Build

Cleanup preference initialization
  epan/epan.c
  epan/prefs-int.h
  epan/prefs.c
  epan/proto.c
  epan/proto.h
Due: none

Replacing hardcoded ethernet frame lenght with macro.
  capinfos.c
  editcap.c
  file.c
  rawshark.c
  reordercap.c
  sharkd.c
  sharkd_session.c
  tfshark.c
  tshark.c
  ui/capture.c
  ui/file_dialog.c
  ui/proto_hier_stats.c
  ui/qt/address_editor_frame.cpp
  ui/qt/models/packet_list_record.cpp
  ui/qt/packet_dialog.cpp
  ui/qt/packet_list.cpp
  ui/qt/utils/frame_information.cpp
  ui/qt/utils/profile_switcher.cpp
  ui/tap-rlc-graph.c
  wiretap/merge.c
  wsutil/buffer.c
  wsutil/buffer.h
Due: Ubuntu Qt5 Build

wsutil: Define JSMN_PARENT_LINKS to speed up JSON parsing
  wiretap/netlog.c
  wsutil/jsmn.h
Due: none

ASAM CMP: Adding missing data message payload types
  epan/dissectors/packet-asam-cmp.c
Due: none

blf(wiretap): fix Dead initialization found by Clang Analyzer
  wiretap/blf.c
Due: none

frame_data(epan): fix Dead initialization found by Clang Analyzer
  epan/frame_data.c
Due: none

Qt: About dialog default view
  ui/qt/about_dialog.cpp
Due: Ubuntu Qt5 Build

NetPerfMeter dissector: Fix for wrong message length calculation
  epan/dissectors/packet-netperfmeter.c
Due: none

3GPP Nettrace: Use libxml to determine file type.
  wiretap/nettrace_3gpp_32_423.c
Due: none

NetPerfMeter: Use ENC_TIME_USECS for timestamp
  epan/dissectors/packet-netperfmeter.c
Due: none

packaging: Windows version checks
  cmakeconfig.h.in
  doc/wsug_src/wsug_introduction.adoc
  packaging/nsis/stratoshark.nsi
  packaging/nsis/wireshark.nsi
  packaging/wix/Prerequisites.wxi
Due: Documentation

Python scripts: Prefer 'in' operator to str.find()
  tools/check_col_apis.py
  tools/check_dissector.py
  tools/check_dissector_urls.py
  tools/check_spelling.py
  tools/check_static.py
  tools/check_tfs.py
  tools/check_typed_item_calls.py
  tools/check_val_to_str.py
  tools/find_filter_matches.py
Due: none

wtap: Doxygen more of it
  wiretap/file_wrappers.h
  wiretap/merge.h
  wiretap/wtap-int.h
  wiretap/wtap.h
  wiretap/wtap_modules.h
  wiretap/wtap_opttypes.h
Due: none

nstime: Handle overflow in nstime_delta and nstime_sum
  wsutil/nstime.c
  wsutil/nstime.h
Due: none

Stratoshark: Remove "evt.dir" references
  epan/prefs.c
  resources/share/stratoshark/dfilter_buttons
Due: none
